﻿@model Cerberus.Web.ViewModel.LegalPersonStakeholder.CreateStakeholderManagerViewModel
@using Cerberus.Web.Enum
@using static Cerberus.Utility.Tools

@{
    <script src="~/js/Stakeholder/Stakeholder.js?@ViewBag.Ver"></script>
    ViewBag.HeaderIconClass = "fa fa-male";
    ViewBag.Title = " مدیر عامل، اعضای هیئت مدیره، حسابرس، بازرس یا هیئت امنا یا ارکان مشابه";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowNumber = 1;

}
@await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 8)

    <div class="form-wrapper">

        <form action="@Url.Action("CreateManagerAsync","Stakeholder")" method="post" enctype="multipart/form-data" id="form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier):</label>
                        @Html.TextBoxFor(model => model.UniqueIdentifier, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BirthDate) </label>
                        @Html.TextBoxFor(model => model.BirthDate,
                            new
                            {
                                data_placement = "bottom",
                                data_format = "yyyy/MM/dd",
                                data_trigger = "focus",
                                @readonly = "readonly",
                                data_targetselector = "#BirthDate",
                                type = "text",
                                @class = "form-control text-center",
                                data_mddatetimepicker = "true"
                            })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="btn-table text-left">
                        <button type="button"
                                id="btncheckstatus"
                                class="btn btn-main">
                            <i class="fa  fa-check-square-o" aria-hidden="true"></i> بررسی
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.FirstName):</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @Class = "form-control disabletext", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LastName):</label>
                        @Html.TextBoxFor(model => model.LastName, null, new { @Class = "form-control disabletext", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PositionType)</label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.PositionType, ToSelectList<Cerberus.Domain.Enum.StakHolderPositionType>(), "انتخاب ...", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.PositionType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.IsOwnerSignature, new { @class = "form-check-input", style = "margin-top:30px;" })
                        <label class="form-label"> @Html.DisplayNameFor(model => model.IsOwnerSignature)</label>
                    </div>
                </div>
                <div class="col-sm-3 hidden" id="signatureimage">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.SignatureFile):</label>
                        <input type="file" name="SignatureFile" id="SignatureFile" accept=".pdf,.png,.jpg,.jpeg" class="form-control" />
                        @Html.ValidationMessageFor(model => model.SignatureFile, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
       
            <div class="btn-table text-left">
                <button type="submit"
                        class="btn btn-main-outlined">
                    <i class="fa fa-plus" aria-hidden="true"></i> افزودن
                </button>
            </div>

        </form>


    </div>
    <div class="form-wrapper">
        <div class="mb-2">
            <strong>لیست اعضای هیئت مدیره</strong>
        </div>
        <table class="table table-striped table-bordered table-hover " id="dataTables-example">
            <thead>
                <tr class="text-center">
                    <th class="text-center hidden-xs">
                        ردیف
                    </th>
                    <th class="text-center">
                        نام
                   و
                        نام خانوادگی
                    </th>
                    <th class="text-center hidden-xs ">
                        کد ملی
                    </th>
                    <th class="text-center">
                        سمت
                    </th>
                    <th class="text-center">
                        صاحب امضاء
                    </th>
                    <th class="text-center">
                        تصویر امضاء
                    </th>
                    <th style="width:16%" class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Stakeholders)
                {
                    <tr class="odd  text-center" id="row_@item.Id">
                        <td class="hidden-xs">
                            @(rowNumber++)
                        </td>
                     
                        <td>
                            @item.FirstName
                            @item.LastName
                        </td>
                        <td class="hidden-xs">
                            @item.UniqueIdentifier
                        </td>
                        <td>
                            @item.PositionType.GetEnumDescription()
                        </td>
                        <td class="font9pt">
                            @(item.IsOwnerSignature ? "هست" : "نیست")
                        </td>
                        <td>
                            @if (string.IsNullOrEmpty(item.SignatureFile))
                            {
                                <span>بارگزاری نشده</span>
                            }
                            else
                            {
                                <span>بارگزاری شده</span>
                            }
                        </td>
                        <td>
                            <form id="form-Manager-delete" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@item.Id"/>
                                <a onclick="deleteManager('@item.Id')"><i class="btn btn-danger btn-xs" aria-hidden="true">حذف</i></a>
                            </form>
                        </td>
                    </tr>
                   
                }
            </tbody>
        </table>
        <div class="btn-wrapper">
            <div class="btn-wrapper text-left">
                <a href="@Url.Action("Redirect", "Stakeholder",new {step=CurrentStep.Manager})"
                   class="btn btn-main">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>تایید/ادامه مرحله بعد</span>
                </a>
            </div>
        </div>
        <div class="form-guide">
            <ul>
                <li>الزام بند 4-2-2 ماده 4 دستورالعمل شناسایی مشتریان در بازار سرمایه</li>
            </ul>
        </div>
    </div>


