﻿@model Cerberus.Web.ViewModel.LegalPersonShareholder.CreateShareholderViewModel
@using Cerberus.Web.Enum
@using static Cerberus.Utility.Tools

@{
    <script src="~/js/Stakeholder/Stakeholder.js?@ViewBag.Ver"></script>
    ViewBag.HeaderIconClass = "fa fa-handshake-o";
    ViewBag.Title = "مشخصات سهامداران یا شرکائی که بیش از 10 درصد سهام (سرمایه) شخص حقوقی را دارند";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowNumber = 1;
}
@await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 9)

    <div class="form-wrapper">
        <form action="@Url.Action("CreateShareholderAsync","Stakeholder")" method="post" enctype="multipart/form-data" id="form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier):</label>
                        @Html.TextBoxFor(model => model.UniqueIdentifier, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PostalCode):</label>
                        @Html.TextBoxFor(model => model.PostalCode, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.FirstName):</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LastName):</label>
                        @Html.TextBoxFor(model => model.LastName, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PositionType):</label>
                        <span class="form-hint">(شریک / سهامدار)</span>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.PositionType, ToSelectList<Cerberus.Domain.Enum.StakHolderPositionType>(), "انتخاب ...", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.PositionType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PercentageVotingRight):</label>
                        @Html.TextBoxFor(model => model.PercentageVotingRight, new { @Class = "form-control", @placeholder = "100" })
                        @Html.ValidationMessageFor(model => model.PercentageVotingRight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Address):</label>
                        @Html.TextBoxFor(model => model.Address, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="btn-table text-left">
                <div class="btn-table text-left">
                    <button type="submit"
                            class="btn btn-main-outlined">
                        <i class="fa fa-plus" aria-hidden="true"></i> افزودن
                    </button>
                </div>
            </div>
        </form>
        <div class="form-guide">
            <ul>
                <li>انطباق مشخصات اعلامی با مندرجات کارت ملی الزامی است. نشانی ثبت شده در کارت ملی هوشمند، نشانی قانونی شما در نظر گرفته خواهد شد</li>
            </ul>
        </div>
    </div>
    <div class="form-wrapper">

        <div class="mb-2">
            <strong>لیست سهامداران</strong>
        </div>
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr class="text-center">
                    <th class="text-center  hidden-xs">
                        ردیف
                    </th>
                    <th class="text-center">
                        نام
                    </th>
                    <th class="text-center">
                        نام خانوادگی
                    </th>
                    <th class="text-center hidden-xs">
                        سمت
                        <span class="form-hint">(شریک / سهامدار)</span>
                    </th>
                    <th class="text-center  hidden-xs">
                        کد ملی
                    </th>
                    <th class="text-center  hidden-xs">
                        کد پستی
                    </th>
                    <th class="text-center  hidden-xs">
                        نشانی
                    </th>
                    <th class="text-center ">
                        درصد سهامداری
                    </th>
                    <th style="width: 16%" class="text-center">
                        دستورات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Shareholders)
                {
                    <tr class="odd  text-center" id="row_@item.Id">
                        <td  class="hidden-xs">
                            @(rowNumber++)
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td class="hidden-xs">
                            @item.PositionType.GetEnumDescription()
                        
                        </td>
                        <td class="hidden-xs">
                            @item.UniqueIdentifier
                        </td>
                        <td class="hidden-xs">
                            @item.PostalCode
                        </td>
                        <td class="hidden-xs">
                            @item.Address
                        </td>
                        <td>
                            @item.PercentageVotingRight
                        </td>
                        <td>
                            <form id="form-Shareholder-delete" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@item.Id"/>
                                <a onclick="deleteShareHolder('@item.Id')"><i class="btn btn-danger btn-xs" aria-hidden="true">حذف</i></a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn-wrapper">
            <div class="btn-wrapper text-left">
                <a href="@Url.Action("Redirect", "Stakeholder",new {step=CurrentStep.Shareholder})"
                   class="btn btn-main">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>تایید/ادامه مرحله بعد</span>
                </a>
            </div>
        </div>
        <div class="form-guide">
            <ul>
                <li>الزام بند 4-2-2 ماده 4 دستورالعمل شناسایی مشتریان در بازار سرمایه</li>
            </ul>
        </div>
    </div>

