﻿@model Cerberus.Web.ViewModel.FinancialInfo.CreateFinancialInfoViewModel
@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@using static Cerberus.Utility.Tools

@{
    ViewBag.HeaderIconClass = "fa fa fa-money";
    if (Model.ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
    {
        ViewBag.Title = "اطلاعات سرمایه گذاری";

    }
    else
    {
        ViewBag.Title = "اطلاعات مالی";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";

    var brokersSelectList = ViewBag.Brokers as IEnumerable<SelectListItem>;
}
@if (Model.ProfileOwnerType == ProfileOwnerType.IranianPrivatePerson)
{
    @await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 9)
}
@if (Model.ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
{
    @await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 11)
}
<script src="~/js/FinancialInfo/FinancialInfo.js?@ViewBag.Ver"></script>

<div class="form-wrapper">
    <form action="@Url.Action("CreateAsync", "FinancialInfo")" method="post">
        @Html.AntiForgeryToken()
        @if (Model.ProfileOwnerType == ProfileOwnerType.IranianPrivatePerson || Model.ProfileOwnerType == ProfileOwnerType.ForeignPrivatePerson)
        {

            <div class="form-steps">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.TradingKnowledgeLevel)</label>
                            <span class="form-select">
                                @Html.DropDownListFor(model => model.TradingKnowledgeLevel, ToSelectList<Cerberus.Domain.Enum.TradingKnowledgeLevel>(), "", new { @class = "form-control" })
                            </span>
                            @Html.ValidationMessageFor(model => model.TradingKnowledgeLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.TransactionLevel)</label>
                            <span class="form-select">
                                @Html.DropDownListFor(model => model.TransactionLevel, ToSelectList<Cerberus.Domain.Enum.TransactionLevel>().Take(5), "", new { @class = "form-control", id = "TransactionLevel" })
                            </span>
                            @Html.ValidationMessageFor(model => model.TransactionLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.AssetsValue)</label>
                            @Html.ValidationMessageFor(model => model.AssetsValue, "", new { @class = "text-danger" })

                            <div class="input-group">
                                @Html.TextBoxFor(model => model.AssetsValue, new { @class = "form-control is-ltr", id = "AssetsValue", maxlength = 15 })
                                <span class="input-group-addon">ریال</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.InComingAverage)</label>
                            @Html.ValidationMessageFor(model => model.InComingAverage, "", new { @class = "text-danger" })

                            <div class="input-group">
                                @Html.TextBoxFor(model => model.InComingAverage, new { @class = "form-control is-ltr", id = "InComingAverage", maxlength = 15 })
                                <span class="input-group-addon">ریال</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">حدود ارزش معاملات شما طی یک سال اخیر در بازار بورس و سرمایه تقریبا چقدر است ؟</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.SExchangeTransaction):</label>
                            @Html.ValidationMessageFor(model => model.SExchangeTransaction, "", new { @class = "text-danger" })

                            <div class="input-group">
                                @Html.TextBoxFor(model => model.SExchangeTransaction, new { @class = "form-control is-ltr", id = "SExchangeTransaction", maxlength = 15 })
                                <span class="input-group-addon">ریال</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.CExchangeTransaction):</label>
                            @Html.ValidationMessageFor(model => model.CExchangeTransaction, "", new { @class = "text-danger" })

                            <div class="input-group">
                                @Html.TextBoxFor(model => model.CExchangeTransaction, new { @class = "form-control is-ltr", id = "CExchangeTransaction", maxlength = 15 })
                                <span class="input-group-addon">ریال</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.OutExchangeTransaction):</label>
                            @Html.ValidationMessageFor(model => model.OutExchangeTransaction, "", new { @class = "text-danger" })

                            <div class="input-group">
                                @Html.TextBoxFor(model => model.OutExchangeTransaction, new { @class = "form-control is-ltr", id = "OutExchangeTransaction", maxlength = 15 })
                                <span class="input-group-addon">یورو</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label font9pt">@Html.DisplayNameFor(model => model.BrokerIds)</label>
                        @Html.TextBoxFor(model => model.BrokerIds, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BrokerIds, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (Model.ProfileOwnerType == ProfileOwnerType.IranianLegalPerson || Model.ProfileOwnerType == ProfileOwnerType.ForeignLegalPerson)
        {
            <div class="form-steps">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">حدود ارزش معاملات شما طی یکسال اخیر چقدر است ؟</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">

                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.SExchangeTransaction):</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.SExchangeTransaction, new { @class = "form-control is-ltr", id = "ValueTrade" })
                                <span class="input-group-addon">ریال</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.SExchangeTransaction, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">

                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.CExchangeTransaction):</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.CExchangeTransaction, new { @class = "form-control is-ltr", id = "ValueGoodsTrade" })
                                <span class="input-group-addon">ریال</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.CExchangeTransaction, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt">@Html.DisplayNameFor(model => model.OutExchangeTransaction):</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.OutExchangeTransaction, new { @class = "form-control is-ltr", id = "ValueOutsideIranTrade" })
                                <span class="input-group-addon">یورو</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.OutExchangeTransaction, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label font9pt">نام شرکت / شرکت های کارگزاری ایرانی که شما از طریق آنان مبادرت به خرید و فروش نموده اید ,  ذکر شود:</label>
                        @Html.TextBoxFor(model => model.BrokerIds, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BrokerIds, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt"> منبع تأمین وجه سرمایه گذاری و هدف مشتری از انجام معاملات در بازار سرمایه ایران یا بورس های کالای ایرانی را بطور کامل بیان کنید</label>
                            @Html.TextBoxFor(model => model.CompanyPurpose, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CompanyPurpose, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label font9pt"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.TransactionLevel)</label>
                            <span class="form-select">
                                @Html.DropDownListFor(model => model.TransactionLevel, ToSelectList<Cerberus.Domain.Enum.TransactionLevel>().Skip(5).Take(5), "", new { @class = "form-control" })
                            </span>
                            @Html.ValidationMessageFor(model => model.TransactionLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-xs-12 col-md-5">

                        <label class="form-label" style="float: right !important;padding-top: 10px"><span class="mrg5L color-red">*</span>   آیا مشتری از طرف مرجعی مورد رتبه بندی قرار گرفته است؟</label>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <span class="form-select">
                            @Html.DropDownListFor(x=>x.CheckRate, new List<SelectListItem>
                            {
                                new SelectListItem() {Text = "بلی", Value = "1"},
                                new SelectListItem() {Text = "خیر", Value = "2"},

                            },
                                new {@class = "form-control"})
                        </span>


                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label font9pt"><span id="1" class="mrg5L color-red hidden">*</span>@Html.DisplayNameFor(model => model.ReferenceRateCompany):</label>
                            @Html.TextBoxFor(model => model.ReferenceRateCompany, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReferenceRateCompany, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label font9pt"><span id="2" class="mrg5L color-red hidden">*</span>@Html.DisplayNameFor(model => model.RateDate):</label>
                            @Html.TextBoxFor(model => model.RateDate,
                                new
                                {
                                    data_placement = "bottom",
                                    data_format = "yyyy/MM/dd",
                                    data_trigger = "focus",
                                    @readonly = "readonly",
                                    data_targetselector = "#RateDate",
                                    type = "text",
                                    @class = "form-control text-center",
                                    data_mddatetimepicker = "true"
                                })
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-label font9pt"><span id="3" class="mrg5L color-red hidden">*</span>@Html.DisplayNameFor(model => model.Rate):</label>
                            @Html.TextBoxFor(model => model.Rate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="btn-wrapper text-left">
            <button type="submit"
                    class="btn btn-main">
                <i class="fa fa-check" aria-hidden="true"></i> تایید/ادامه گام بعدی
            </button>
        </div>
    </form>
</div>


<script>

    $(function() {
        
   

        var select_brokers, $select_brokers;

        $select_brokers= $('#@(nameof(Model.BrokerIds))').selectize({

            plugins: ['remove_button'],
            delimiter: ',',
            valueField: 'id',
            labelField: 'name',
            searchField: ['name'],
            options: [
                @(new HtmlString(string.Join(',',brokersSelectList?.Select(x=>$"{{id:'{x.Value}',name:'{x.Text}'}}"))))
            ]

        });

        select_brokers = $select_brokers[0].selectize;
        select_brokers.setValue([@(new HtmlString(Model?.BrokerIds!=null ? string.Join(',',Model.BrokerIds) : ""))]);

    })


</script>
