﻿
@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Extensions
@model Cerberus.Web.ViewModel.Dashboard.LegalPersonDashboardViewModel
@{
    ViewData["Title"] = "اطلاعات وارد شده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @await Html.PartialAsync("_LegalStepsIndicator", Model)

    @await Html.PartialAsync("_TraceCode", Model.TraceCode)
    
    @*@if (Model.Status >= ProfileStatus.SuccessPayment)
    {
        @await Html.PartialAsync("_Mobile", Model.Mobile)
    }*@

    @await Html.PartialAsync("_LegalPersonInfo", Model.LegalPerson)

    @await Html.PartialAsync("_AddressInfo", Model.Addresses.ToList())
    
    @await Html.PartialAsync("_TradingCode", Model.TradingCodes)


    @await Html.PartialAsync("_TakeAccess", Model.LegalPersonStakeholders.Where(x => x.Type == StakeHolderType.TakeAccess))

    @await Html.PartialAsync("_Manager", Model.LegalPersonStakeholders.Where(x => x.Type == StakeHolderType.Manager))


    @await Html.PartialAsync("_TakeOrder", Model.LegalPersonStakeholders.Where(x => x.Type == StakeHolderType.OrderAccess))

    @await Html.PartialAsync("_ShareHolder", Model.LegalPersonShareholders)

    @await Html.PartialAsync("_LegalFinancialInfo", Model.FinancialInfo)

    @await Html.PartialAsync("_BankingAccount", Model.Accounts)

</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>