﻿@using Cerberus.Domain.Enum
@using Cerberus.Domain.Model
@using Cerberus.Web.Extensions
@model Cerberus.Web.ViewModel.Address.CreateAddressViewModel

@{
    ViewBag.HeaderIconClass = "fa fa fa-phone";
    ViewBag.Title = "اطلاعات ارتباطی";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var countrySelectList = ViewBag.Countries as IEnumerable<SelectListItem>;

    var provinceSelectList = ViewBag.Provinces as IEnumerable<SelectListItem> ?? new List<SelectListItem>();

    var citySelectList = ViewBag.Cities as IEnumerable<SelectListItem> ?? new List<SelectListItem>();

    var sectionSelectList = ViewBag.Sections as IEnumerable<SelectListItem> ?? new List<SelectListItem>();


    var legalcountrySelectList = ViewBag.legalCountries as IEnumerable<SelectListItem>;



    var legalprovinceSelectList = ViewBag.legalProvinces as IEnumerable<SelectListItem> ?? new List<SelectListItem>();

    var legalcitySelectList = ViewBag.legalCities as IEnumerable<SelectListItem> ?? new List<SelectListItem>();

    var legalsectionSelectList = ViewBag.legalSections as IEnumerable<SelectListItem> ?? new List<SelectListItem>();
   

}
@if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
{
    @await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 5)
}
@if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianPrivatePerson)
{
    @await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 6)
}


<div class="form-wrapper">
    <form action="@Url.Action("CreateAsync", "Address")" method="post" id="form">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.IsConfirmPostalCode)
        <div class="form-steps">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="form-group dr-form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.CountryId)</label>
                        @Html.DropDownListFor(model => model.CountryId, countrySelectList, "انتخاب", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group dr-form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.ProvinceId):</label>
                        @Html.DropDownListFor(model => model.ProvinceId, provinceSelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProvinceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group dr-form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.CityId):</label>
                        @Html.DropDownListFor(model => model.CityId, citySelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CityId, "")
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group dr-form-group">
                        <label class="form-label">@Html.DisplayNameFor(model => model.SectionId):</label>
                        @Html.DropDownListFor(model => model.SectionId, sectionSelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.RemnantAddress):</label>
                        @Html.TextBoxFor(model => model.RemnantAddress, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RemnantAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Alley):</label>
                        @Html.TextBoxFor(model => model.Alley, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alley, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Plaque):</label>
                        @Html.TextBoxFor(model => model.Plaque, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Plaque, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PostalCode):</label>
                        @Html.TextBoxFor(model => model.PostalCode, new { maxlength = 10, @Class = "form-control dir-ltr" })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label">@Html.DisplayNameFor(model => model.Email):</label>
                        @Html.TextBoxFor(model => model.Email, new { @Class = "form-control text-left", @placeholder = "test@csdiran.com" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <span class="mrg5L color-red">*</span>
                        <label class="form-label">تلفن ثابت:</label>
                        <div class="row mrg0L mrg0R">
                            <div class="col-md-9 col-xs-9 pad5L pad0R">
                                @Html.TextBoxFor(model => model.Tel, new { @Class = "form-control NumberInput dir-ltr", @maxlength = "8" })
                                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 col-xs-3 pad0L pad0R">
                                @Html.TextBoxFor(model => model.CityPrefix, new { @Class = "form-control NumberInput dir-ltr", @placeholder = "021", @maxlength = "3" })
                                @Html.ValidationMessageFor(model => model.CityPrefix, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label">تلفن ثابت(تماس اضطراری):</label>
                        <div class="row mrg0L mrg0R">
                            <div class="col-md-9 col-xs-9 pad5L pad0R">
                                @Html.TextBoxFor(model => model.EmergencyTel, new { @Class = "form-control NumberInput dir-ltr", @maxlength = "8" })
                                @Html.ValidationMessageFor(model => model.EmergencyTel, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 col-xs-3 pad0L pad0R">
                                @Html.TextBoxFor(model => model.EmergencyTelCityPrefix, new { @Class = "form-control NumberInput dir-ltr", @placeholder = "021", @maxlength = "3" })
                                @Html.ValidationMessageFor(model => model.EmergencyTelCityPrefix, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label">تلفن همراه(تماس اضطراری):</label>
                        <div class="row mrg0L mrg0R">
                            <div class="col-md-9 col-xs-9 pad5L pad0R">
                                @Html.TextBoxFor(model => model.Mobile, new { @Class = "form-control number-control NumberInput  text-left dir-ltr", @placeholder = ("9123456789"), @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 col-xs-3 pad0L pad0R">
                                @Html.TextBoxFor(model => model.CountryPrefix, new { @Class = "form-control NumberInput dir-ltr", @placeholder = "0098", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.CountryPrefix, "", new { @class = "text-danger" })
                            </div>
                           
                         
                        </div>
                    </div>
                </div>
            </div>


            @if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
            {
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label class="form-label"> @Html.DisplayNameFor(model => model.Website):</label>
                            @Html.TextBoxFor(model => model.Website, new { maxlength = 100, @Class = "form-control text-left", @placeholder = "http://csdiran.com" })
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">دورنگار:</label>
                            <div class="row mrg0L mrg0R">
                                <div class="col-md-9 col-xs-9 pad5L pad0R">
                                    @Html.TextBoxFor(model => model.Fax, new { @Class = "form-control number-control NumberInput", @placeholder = (""), @maxlength = "8" })
                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-3 col-xs-3 pad0L pad0R">
                                    @Html.TextBoxFor(model => model.FaxPrefix, new { @Class = "form-control NumberInput", @placeholder = "021", @maxlength = "3" })
                                    @Html.ValidationMessageFor(model => model.FaxPrefix, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <h4> <span class="mrg5L color-red">*</span> نشانی محل فعالیت اصلی(در صورت وجود)</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group dr-form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalCountryId)</label>
                            @Html.DropDownListFor(model => model.LegalCountryId, legalcountrySelectList, "انتخاب", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalCountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group dr-form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalProvinceId):</label>
                            @Html.DropDownListFor(model => model.LegalProvinceId, legalprovinceSelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalProvinceId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group dr-form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalCityId):</label>
                            @Html.DropDownListFor(model => model.LegalCityId, legalcitySelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalCityId, "")
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group dr-form-group">
                            <label class="form-label">@Html.DisplayNameFor(model => model.LegalSectionId):</label>
                            @Html.DropDownListFor(model => model.LegalSectionId, legalsectionSelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalSectionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalRemnantAddress):</label>
                            @Html.TextBoxFor(model => model.LegalRemnantAddress, new { @Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalRemnantAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalAlley):</label>
                            @Html.TextBoxFor(model => model.LegalAlley, new { @Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalAlley, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalPlaque):</label>
                            @Html.TextBoxFor(model => model.LegalPlaque, new { @Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalPlaque, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LegalPostalCode):</label>
                            @Html.TextBoxFor(model => model.LegalPostalCode, new { maxlength = 10, @Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LegalPostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">

                  
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <span class="mrg5L color-red">*</span>
                            <label class="form-label">تلفن :</label>
                            <div class="row mrg0L mrg0R">
                                <div class="col-md-9 col-xs-9 pad5L pad0R">
                                    @Html.TextBoxFor(model => model.LegalTel, new { @Class = "form-control NumberInput", @maxlength = "8" })
                                    @Html.ValidationMessageFor(model => model.LegalTel, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-3 pad0L pad0R">
                                    @Html.TextBoxFor(model => model.LegalCityPrefix, new { @Class = "form-control NumberInput", @placeholder = "021", @maxlength = "3" })
                                    @Html.ValidationMessageFor(model => model.LegalCityPrefix, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="btn-wrapper text-left">
                <button type="submit"
                        class="btn btn-main" id="btnSubmit">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>تایید/ادامه مرحله بعد</span>
                </button>
            </div>
        </div>
    </form>
    <div class="form-guide">
        <ul>
            <li>ارسال تمامی مرسولات پستی و نیز هرگونه اسناد ، مدارک ، اخطار و اعلان تنها به همان نشانی که در این سامانه ثبت نموده اید صورت خواهد گرفت.</li>
            @if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianPrivatePerson)
            {
                <li> ضروری است نشانی و کد پستی اعلامی با اطلاعات اعلام شده در این خصوص در کارت ملی هوشمند شما منطبق باشد.( مطابق ماده 11 دستورالعمل نحوه ارسال اسناد و مدارك مربوط به بازار سرمايه به نشاني پستي مشتريان مصوب 1390 شوراي عالي مبارزه با پولشويي) اصلاح نشانی و کد پستی ثبت شده در سامانه ثبت احوال از طریق مراجعه به سایت همان سازمان امکانپذیر است.</li>
            }
        </ul>
    </div>
</div>


<script>


    $("#CountryId").change(function () {
        var $select = $('#ProvinceId');
        var $select2 = $('#CityId');
        var $select3 = $('#SectionId');
        if ($('#CountryId').val() !== "") {
            var $select = $('#ProvinceId');
            $.ajax({
                url: '/api/provinces/' + $("#CountryId").val(),
                success: function (results) {

                    if (results.length > 0) {
                        $.each(results,
                            function () {
                                $select.find('option').remove();
                                $.each(results,
                                    function (key, value) {
                                        $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                    });
                            });

                        $('#ProvinceId').trigger('change');
                    } else {
                        $select.find('option').remove();
                        $select2.find('option').remove();
                        $select3.find('option').remove();
                    }

                }


            });
        } else {
            $select.find('option').remove();
            $select2.find('option').remove();
            $select3.find('option').remove();
        }
    });

    $("#ProvinceId").change(function () {
        var $select = $('#CityId');
        var $select2 = $('#SectionId');
        $.ajax({
            url: '/api/cities/' + $("#ProvinceId").val(),
            success: function (results) {

                if (results.length > 0) {
                    $.each(results,
                        function () {
                            $select.find('option').remove();
                            $select2.find('option').remove();
                            $.each(results,
                                function (key, value) {
                                    $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                });

                        });
                    $('#CityId').trigger('change');
                } else {

                    $select.find('option').remove();
                    $select2.find('option').remove();
                }
            },
            error: function () {
                $select.find('option').remove();
                $select2.find('option').remove();
            }


        });
    });

    $("#CityId").change(function () {
        var $select = $('#SectionId');
        $.ajax({
            url: '/api/addressSections/' + $("#CityId").val(),
            success: function (results) {

                if (results.length > 0) {
                    $.each(results,
                        function () {
                            $select.find('option').remove();

                            $.each(results,
                                function (key, value) {
                                    $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                });
                        });

                } else {
                    $select.find('option').remove();
                }
            }, error: function () {
                $select.find('option').remove();
            }


        });
    });

    ///////////////////////////////////////////////



    $("#LegalCountryId").change(function () {
        var $select = $('#LegalProvinceId');
        var $select2 = $('#LegalCityId');
        var $select3 = $('#LegalSectionId');
        if ($('#LegalCountryId').val() !== "") {
            var $select = $('#LegalProvinceId');
            $.ajax({
                url: '/api/provinces/' + $("#LegalCountryId").val(),
                success: function (results) {

                    if (results.length > 0) {
                        $.each(results,
                            function () {
                                $select.find('option').remove();
                                $.each(results,
                                    function (key, value) {
                                        $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                    });
                            });

                        $('#LegalProvinceId').trigger('change');
                    } else {
                        $select.find('option').remove();
                        $select2.find('option').remove();
                        $select3.find('option').remove();
                    }

                }


            });
        } else {
            $select.find('option').remove();
            $select2.find('option').remove();
            $select3.find('option').remove();
        }
    });

    $("#LegalProvinceId").change(function () {
        var $select = $('#LegalCityId');
        var $select2 = $('#LegalSectionId');
        $.ajax({
            url: '/api/cities/' + $("#LegalProvinceId").val(),
            success: function (results) {

                if (results.length > 0) {
                    $.each(results,
                        function () {
                            $select.find('option').remove();
                            $select2.find('option').remove();
                            $.each(results,
                                function (key, value) {
                                    $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                });

                        });
                    $('#LegalCityId').trigger('change');
                } else {

                    $select.find('option').remove();
                    $select2.find('option').remove();
                }
            },
            error: function () {
                $select.find('option').remove();
                $select2.find('option').remove();
            }


        });
    });

    $("#LegalCityId").change(function () {
        var $select = $('#LegalSectionId');
        $.ajax({
            url: '/api/addressSections/' + $("#LegalCityId").val(),
            success: function (results) {

                if (results.length > 0) {
                    $.each(results,
                        function () {
                            $select.find('option').remove();

                            $.each(results,
                                function (key, value) {
                                    $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                });
                        });

                } else {
                    $select.find('option').remove();
                }
            }, error: function () {
                $select.find('option').remove();
            }


        });
    });

  

</script>