﻿@using Cerberus.Domain.Enum
@using Microsoft.AspNetCore.Routing
@model Cerberus.Web.ViewModel.ProfilePackageViewModel.ChangeMobileViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/_EditMobileWithShahkarSteps.cshtml", 3)

<div class="form-wrapper">




    <div class="form-steps">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">شماره تلفن همراه موجود در سامانه: </label>
                            @Html.DisplayFor(x => x.Mobile, new { @class = "form-control", @style = "font-weight: bold;" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">شماره تلفن همراه جدید: </label>
                            @Html.DisplayFor(x => x.NewMobile, new { @class = "form-control", @style = "font-weight: bold;" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="btn-wrapper text-left">
                                <a href="@Url.Action("Index","Profile")" class="btn btn-main-outlined">بازگشت</a>
                                <a href="@Url.Action("EditMobile","Profile")" class="btn btn-main">تغییر شماره تلفن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
