﻿@model Cerberus.Web.ViewModel.Mobile.EditMobileViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@await Html.PartialAsync("~/Views/Shared/_FirstStep.cshtml", 1)*@


@await Html.PartialAsync("~/Views/Shared/_EditMobileSteps.cshtml",3)
<div class="form-wrapper">
    <form action="@Url.Action("ConfirmAsync", "Profile")" method="post" id="form">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.OldMobile)
        <div class="form-steps">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Otp):</label>
                                <span class="form-hint">(کد تایید پیامک به شماره تلفن همراه موجود در سامانه)</span>

                                @Html.TextBoxFor(model => model.Otp, new { @class = "form-control NumberInput", dir = "ltr", autocomplete = "off", @maxlength = "5" })
                                @Html.ValidationMessageFor(model => model.Otp, "", new { @class = "text-danger" })
                                <span class="resendCode" id="resendCode">لطفا در صورت عدم دریافت کد تایید از    <a id="resendbtn" style="color: red; text-decoration: underline">ارسال مجدد کد </a> استفاده کنید.</span>                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label">
                                        <span class="mrg5L color-red">*</span>  @Html.DisplayNameFor(model => model.NewMobile):
                                        <span class="form-hint">(بدون صفر)</span>
                                    </label>
                                    <div class="input-wrapper">
                                        @Html.TextBoxFor(model => model.NewMobile, new { @class = "form-control  number-control input-validation-error NumberInput", type = "tel", dir = "ltr", maxlength = 10, @placeholder = "9120000000", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.NewMobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="btn-wrapper text-left">
                                    <button type="submit" class="btn btn-main" id="confirmBtn"><i class="fa fa-check" aria-hidden="true"></i>  تایید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>

</div>
<script>
    $(function() {
        $("#resendCode").addClass("hidden");
        setTimeout(function () {
            $("#resendCode").removeClass("hidden");
        }, 20000);
    })


    
    $("#resendbtn").click(function () {
     $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "api/resendOtpEdit/" + $("#OldMobile").val() +"/EditMobile",
            
            success: function (result) {
                if (result.isSuccess) {
                    swalMessage(result.message, "success");
                } else {
                    swalMessage(result.message, "warning");
                }
            },
            error: function (result) {
            if (result.status.toString() !== "429")
                    swalMessage(result.message, "warning");
                else
                    swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
            }
        });
    });
</script>