﻿@using Cerberus.Domain.Model
@using Cerberus.Utility
@model Cerberus.Web.ViewModel.Profile.FinalProfileViewModel
@{
    ViewData["Title"] = "ویرایش شماره تلفن همراه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_EditMobileSteps.cshtml", 5)

<div class="container">
    <div class="form-wrapper">
        <h4 class="text-center mb-2 mt-2">تلفن همراه شما تبت شد. لطفا از سامانه خارج شده و تا پیامک دریافتی مبنی بر نتیجه تغییر تلفن همراه صبر نمایید</h4>
        <h5 class="text-center mb-2 mt-2">لطفا توجه فرمایید تا نتیجه استعلام  تلفن همراه، هیچ پرداخت جدیدی  انجام ندهید</h5>
        <div class="text-center">
            <form action="@Url.Action("EditProfileFactor","Factor")" method="post">
                @Html.HiddenFor(x => x.PackageType)
                @Html.HiddenFor(x => x.ProfilePackageId)
                <input type="submit" name="name" value="ادامه و صدور فاکتور" class="btn btn-main" />
            </form>
        </div>
    </div>
</div>


@*<script>
    function updateMsisdn(id) {

        swal({
                title: "آیا از بروز رسانی تلفن همراه این شخص اطمینان دارید؟",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'بله',
                cancelButtonText: "خیر",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                   // $("#myModal").modal('show');
        var rowId = "#row_" + id;
        var data = $("#frmUpdateMsisdn_"+id).serialize();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateClientMsisdn")",
            data: data,
           dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
              //  $("#myModal").modal('hide');
                if (result.isSuccess) {
                    $(rowId).fadeOut(1000,
                        function() {
                            $(rowId).fadeIn(1000);
                            $(rowId).text('@Model.AgentMobile');
                            swalMessage("شماره تلفن همراه با موفقیت بروز رسانی شد", "success");
                        });
                } else {
                    swalMessage(result.message, "error");
                }
            }, error: function (result) {

             //   $("#myModal").modal('hide');
                if (result.status.toString() !== "429")
                    setTimeout(function() {
                            swalMessage("خطا در اتصال به سرور.", "warning");
                        },
                        100);
                else {

                    setTimeout(function() {
                            swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                        },
                        100);
                }

            }

                    });
                }
                });

    }
</script>*@