@media (min-width:992px) {
    .rtl .navbar-header {
        float: right
    }
}

@media (min-width:992px) {
    .rtl .navbar > .container .navbar-brand, .rtl .navbar > .container-fluid .navbar-brand {
        margin-left: auto;
        margin-right: -12px
    }
}

.rtl .navbar-toggle {
    float: left;
    margin-right: auto;
    margin-left: 12px
}

@media (min-width:992px) {
    .rtl .navbar-nav, .rtl .navbar-nav > li, .rtl .navbar-text {
        float: right
    }
}

.rtl .ace-nav > li, .rtl .dropdown-navbar .msg-photo, .rtl .main-content-inner, .rtl .sidebar {
    float: right
}

.rtl .main-container.container:before {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1)
}

.rtl .main-content {
    margin-left: auto;
    margin-right: 0
}

.rtl .sidebar + .main-content {
    margin-left: auto;
    margin-right: 220px
}

.rtl .ace-nav li.dropdown-footer a .ace-icon, .rtl .ace-nav > li > a, .rtl .ace-nav > li > a > .ace-icon {
    text-align: center
}

.rtl .ace-nav > li {
    border-left: none;
    border-right: 1px solid #E1E1E1
}

    .rtl .ace-nav > li:first-child {
        border-right-width: 0
    }

    .rtl .ace-nav > li > a > .badge {
        left: auto;
        right: 2px
    }

    .rtl .ace-nav > li.margin-4 {
        margin-left: auto;
        margin-right: 4px
    }

    .rtl .ace-nav > li.margin-3 {
        margin-left: auto;
        margin-right: 3px
    }

    .rtl .ace-nav > li.margin-2 {
        margin-left: auto;
        margin-right: 2px
    }

    .rtl .ace-nav > li.margin-1 {
        margin-left: auto;
        margin-right: 1px
    }

.rtl .ace-nav .nav-user-photo {
    margin: -4px 0 0 8px
}

@media only screen and (max-width:479px) {
    .rtl .navbar:not(.navbar-collapse) .ace-nav {
        text-align: center
    }

        .rtl .navbar:not(.navbar-collapse) .ace-nav > li {
            text-align: right
        }

            .rtl .navbar:not(.navbar-collapse) .ace-nav > li:first-child {
                border-left: none;
                border-right: 1px solid rgba(255,255,255,.4)
            }

            .rtl .navbar:not(.navbar-collapse) .ace-nav > li:last-child {
                border-right: none;
                border-left: 1px solid rgba(255,255,255,.4)
            }
}

.rtl .user-menu > li > a > .ace-icon {
    margin-right: auto;
    margin-left: 6px
}

.rtl .user-info {
    text-align: right
}

@media (min-width:480px) and (max-width:540px),(max-width:360px) {
    .rtl .navbar:not(.navbar-collapse) .navbar-buttons .nav-user-photo {
        margin-right: auto;
        margin-left: 0
    }

    .rtl .navbar:not(.navbar-collapse) .navbar-buttons .user-info {
        margin-left: auto;
        right: auto;
        text-align: center;
        margin-right: 1px;
        left: 2px
    }
}

@media (max-width:360px) {
    .rtl .navbar.navbar-collapse .navbar-buttons .nav-user-photo {
        margin-right: auto;
        margin-left: 0
    }

    .rtl .navbar.navbar-collapse .navbar-buttons .user-info {
        margin-left: auto;
        right: auto;
        text-align: center;
        margin-right: 1px;
        left: 2px
    }

    .rtl li.open .user-info {
        right: auto;
        left: 2px
    }
}

@media (min-width:992px) {
    .rtl .user-min .nav-user-photo {
        margin-right: auto;
        margin-left: 0
    }

    .rtl .user-min .user-info {
        margin-left: auto;
        text-align: center;
        margin-right: 1px;
        right: auto;
        left: -3px
    }
}

@media (max-height:540px) and (min-width:480px) and (max-width:540px),(max-height:540px) and (max-width:360px) {
    .rtl .navbar:not(.navbar-collapse) .ace-nav > li.dropdown-modal .user-info {
        right: auto;
        left: auto
    }
}

@media (max-height:540px) and (max-width:360px) {
    .rtl .navbar.navbar-collapse .ace-nav > li.dropdown-modal .user-info {
        right: auto;
        left: auto
    }
}

@media (max-height:540px) and (min-width:992px) {
    .rtl .ace-nav > li.dropdown-modal.user-min .user-info {
        right: auto;
        left: auto
    }
}

@media only screen and (max-width:991px) {
    .rtl .navbar.navbar-collapse .navbar-buttons > .ace-nav {
        text-align: center
    }

        .rtl .navbar.navbar-collapse .navbar-buttons > .ace-nav > li {
            text-align: right
        }

            .rtl .navbar.navbar-collapse .navbar-buttons > .ace-nav > li:first-child {
                border-left: none;
                border-right: 1px solid rgba(255,255,255,.4)
            }

            .rtl .navbar.navbar-collapse .navbar-buttons > .ace-nav > li:last-child {
                border-right: none;
                border-left: 1px solid rgba(255,255,255,.4)
            }
}

.rtl .container-fluid > .navbar-buttons, .rtl .container > .navbar-buttons {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.rtl .navbar .navbar-nav > li {
    border-width: 0 0 0 1px
}

    .rtl .navbar .navbar-nav > li:first-child {
        border-width: 0 1px
    }

.rtl .navbar .navbar-toggle {
    text-align: center
}

    .rtl .navbar .navbar-toggle .icon-bar {
        margin-left: auto;
        margin-right: 7px
    }

.rtl .nav-list > li > a {
    padding-left: 0;
    padding-right: 7px
}

    .rtl .nav-list > li > a > .menu-icon {
        margin-right: auto;
        text-align: center;
        margin-left: 2px
    }

.rtl .nav-list > li:before {
    left: auto;
    right: 0
}

@media only screen and (min-width:992px) {
    .rtl .main-container.container .sidebar:not(.h-sidebar) .nav-list > li:before {
        left: auto;
        right: -2px
    }
}

.rtl .main-container.container .sidebar.sidebar-fixed:not(.h-sidebar) .nav-list > li:before {
    left: auto;
    right: 0
}

.rtl .nav-list > li a > .arrow {
    right: auto;
    text-align: center;
    left: 10px
}

.rtl .nav-list > li .submenu > li {
    margin-left: auto;
    margin-right: 0
}

    .rtl .nav-list > li .submenu > li > a {
        padding: 7px 37px 9px 0
    }

    .rtl .nav-list > li .submenu > li a > .menu-icon {
        text-align: center;
        left: auto;
        right: 10px
    }

.rtl .nav-list > li > .submenu > li:before {
    left: auto;
    right: 20px
}

.rtl .nav-list > li > .submenu:before {
    left: auto;
    border-width: 0 1px 0 0;
    right: 18px
}

.rtl .nav-list a .badge, .rtl .nav-list a .label, .rtl .nav-list > li > .submenu a > .arrow {
    left: 10px;
    right: auto
}

.rtl .nav-list > li > .submenu li > .submenu > li > a {
    margin-left: auto;
    padding-left: 0;
    margin-right: 20px;
    padding-right: 22px
}

.rtl .nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    margin-left: auto;
    padding-left: 0;
    margin-right: 20px;
    padding-right: 38px
}

.rtl .nav-list > li > .submenu li > .submenu > li a > .menu-icon {
    margin-right: auto;
    margin-left: 4px
}

.rtl .nav-list a.dropdown-toggle .badge, .rtl .nav-list a.dropdown-toggle .label {
    right: auto;
    left: 26px
}

@media only screen and (max-width:991px) {
    .rtl .navbar-fixed-top + .main-container > .responsive, .rtl .responsive.sidebar-fixed {
        left: auto;
        margin-left: auto;
        right: auto;
        margin-right: auto
    }

    .rtl .navbar-fixed-top + .main-container > .menu-toggler + .responsive {
        left: auto;
        margin-left: auto;
        right: 220px;
        margin-right: -220px
    }

        .rtl .navbar-fixed-top + .main-container > .menu-toggler + .responsive.sidebar-fixed, .rtl .sidebar.responsive.sidebar-fixed, .rtl .sidebar.sidebar-fixed.responsive-max {
            left: auto;
            margin-left: auto;
            right: auto;
            margin-right: auto
        }

    .rtl .main-container .menu-toggler.fixed {
        left: auto;
        right: auto
    }
}

.rtl .sidebar .sidebar-shortcuts, .rtl .sidebar .sidebar-shortcuts-large > .btn, .rtl .sidebar .sidebar-toggle {
    text-align: center
}

.rtl .nav-list li.active > a:after {
    right: auto;
    left: 0
}

@media (min-width:992px) {
    .rtl .sidebar.compact .nav-list > li > a {
        text-align: center
    }

    .rtl .sidebar.compact .nav-list a .badge, .rtl .sidebar.compact .nav-list a .label {
        right: auto;
        left: 12px
    }

    .rtl .sidebar.compact + .main-content {
        margin-left: auto;
        margin-right: 105px
    }
}

@media (min-width:992px) and (max-width:991px) {
    .rtl .sidebar.compact + .main-content {
        margin-left: auto;
        margin-right: 0
    }

    .rtl .sidebar.navbar-collapse.compact .nav-list > li > a {
        text-align: right;
        padding: 0 7px 0 16px
    }

        .rtl .sidebar.navbar-collapse.compact .nav-list > li > a > .menu-icon {
            margin: 0 0 0 2px
        }

    .rtl .sidebar.navbar-collapse.compact + .main-content {
        margin-left: auto;
        margin-right: 0
    }
}

@media only screen and (min-width:992px) {
    .rtl .nav-list li.hover > .submenu {
        left: auto;
        margin-left: auto;
        right: 100%;
        margin-right: -2px
    }

        .rtl .nav-list li.hover > .submenu > li > a {
            padding-left: 0;
            padding-right: 18px
        }

    .rtl .nav-list > li > .submenu li.hover > .submenu > li > a {
        padding-left: 0 !important;
        margin-left: auto !important;
        padding-right: 12px !important;
        margin-right: auto !important
    }

        .rtl .nav-list > li > .submenu li.hover > .submenu > li > a > .menu-icon {
            margin-right: auto;
            margin-left: 2px
        }

    .rtl .nav-list > li .submenu > li.hover > a {
        padding-left: 0;
        padding-right: 22px
    }

        .rtl .nav-list > li .submenu > li.hover > a > .menu-icon {
            left: auto;
            right: 4px
        }
}

@media (min-width:992px) and (max-width:991px) {
    .rtl .sidebar.navbar-collapse .nav-list li.hover > .submenu {
        left: auto;
        right: auto
    }

        .rtl .sidebar.navbar-collapse .nav-list li.hover > .submenu li > a {
            padding-left: 0;
            padding-right: 37px
        }

        .rtl .sidebar.navbar-collapse .nav-list li.hover > .submenu > li > a > .menu-icon {
            margin-right: auto;
            margin-left: auto
        }

    .rtl .sidebar.navbar-collapse .nav-list > li .submenu > li.hover > a > .menu-icon {
        left: auto;
        right: 10px
    }

    .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li.hover > .submenu > li > a {
        padding-left: 0 !important;
        margin-left: auto !important;
        padding-right: 22px !important;
        margin-right: 20px !important
    }

        .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li.hover > .submenu > li > a > .menu-icon {
            margin-right: auto;
            margin-left: 4px
        }

    .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li > .submenu > li.hover > .submenu > li > a {
        margin-left: auto !important;
        padding-left: 0 !important;
        margin-right: 20px !important;
        padding-right: 38px !important
    }
}

.rtl .nav-list li > .arrow {
    right: auto;
    left: 1px
}

    .rtl .nav-list li > .arrow:after, .rtl .nav-list li > .arrow:before {
        left: auto;
        right: -19px
    }

    .rtl .nav-list li > .arrow:before {
        left: auto;
        right: -20px
    }

.rtl .sidebar.menu-min + .main-content {
    margin-left: auto;
    margin-right: 43px
}

.rtl .sidebar.menu-min .nav-list a .badge, .rtl .sidebar.menu-min .nav-list a .label {
    right: 4px;
    left: auto
}

.rtl .sidebar.menu-min .nav-list > li > a > .menu-icon {
    margin-right: auto;
    margin-left: 0
}

.rtl .sidebar.menu-min .nav-list > li > a > .menu-text {
    text-align: right;
    left: auto;
    padding-left: 0;
    right: 42px;
    padding-right: 12px
}

.rtl .sidebar.menu-min .nav-list > li > .submenu {
    left: auto;
    right: 42px
}

    .rtl .sidebar.menu-min .nav-list > li > .submenu:after {
        border-left: 1px solid;
        border-left-color: inherit
    }

    .rtl .sidebar.menu-min .nav-list > li > .submenu li > a {
        margin-left: auto;
        padding-left: 0;
        margin-right: 0;
        padding-right: 22px
    }

        .rtl .sidebar.menu-min .nav-list > li > .submenu li > a > .menu-icon {
            left: auto;
            right: 4px
        }

.rtl .sidebar.menu-min .nav-list > li > .arrow:after, .rtl .sidebar.menu-min .nav-list > li > .arrow:before {
    left: auto;
    right: -16px
}

.rtl .sidebar.menu-min .nav-list > li > .arrow:before {
    left: auto;
    right: -17px
}

.rtl .sidebar.menu-min .nav-list li > .arrow {
    right: auto;
    left: -1px
}

.rtl .sidebar.menu-min .sidebar-shortcuts-large {
    left: auto;
    right: 42px
}

.rtl .sidebar.menu-min .nav-list > li > .submenu li > .submenu > li > a {
    margin-left: auto;
    padding-left: 0;
    margin-right: 2px;
    padding-right: 30px
}

.rtl .sidebar.menu-min .nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    margin-left: auto;
    padding-left: 0;
    margin-right: 2px;
    padding-right: 45px
}

@media (min-width:992px) {
    .rtl .sidebar.menu-min .nav-list li.hover > .submenu {
        margin-left: auto;
        margin-right: 0
    }

    .rtl .sidebar.menu-min .nav-list > li > .submenu li.hover > .submenu > li > a, .rtl .sidebar.menu-min .nav-list > li > .submenu li > .submenu > li.hover > .submenu > li > a {
        margin-left: auto !important;
        margin-right: 0 !important
    }

    .rtl .sidebar.menu-min.compact .nav-list > li > a {
        padding: 0 7px 0 16px
    }
}

@media only screen and (min-width:992px) {
    .rtl .navbar.h-navbar {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.25)
    }

    .rtl .sidebar.h-sidebar .nav-list > li {
        float: right;
        border-width: 0 1px 0 0;
        margin-left: auto;
        margin-right: 0
    }

        .rtl .sidebar.h-sidebar .nav-list > li:last-child {
            border-left-width: 1px
        }

        .rtl .sidebar.h-sidebar .nav-list > li:first-child {
            margin-left: auto;
            border-right-width: 0;
            margin-right: 0
        }

    .rtl .sidebar.h-sidebar .sidebar-shortcuts + .nav-list > li:first-child {
        margin-left: auto;
        border-right-width: 1px;
        margin-right: -1px
    }

    .rtl .sidebar.h-sidebar .nav-list > li.hover > .submenu {
        left: auto;
        margin-left: auto;
        right: 1px;
        margin-right: -2px
    }

    .rtl .sidebar.h-sidebar .nav-list > li.hover > .arrow {
        right: 24px;
        left: auto
    }

        .rtl .sidebar.h-sidebar .nav-list > li.hover > .arrow:after, .rtl .sidebar.h-sidebar .nav-list > li.hover > .arrow:before {
            right: -10px !important;
            left: auto !important
        }

    .rtl .sidebar.h-sidebar .nav-list > li.hover-flip > .submenu {
        left: 1px;
        right: auto;
        margin-left: -2px;
        margin-right: auto
    }

    .rtl .sidebar.h-sidebar .nav-list > li.hover-flip > .arrow {
        left: 24px;
        right: auto
    }

    .rtl .sidebar.h-sidebar .nav-list li li.hover-flip > .submenu {
        left: 100%;
        right: auto;
        margin-left: -2px;
        margin-right: auto
    }

    .rtl .sidebar.h-sidebar .nav-list li li.hover-flip > .arrow {
        left: auto;
        right: 0
    }

    .rtl .sidebar.h-sidebar .sidebar-shortcuts-large:after, .rtl .sidebar.h-sidebar .sidebar-shortcuts-large:before {
        left: auto;
        margin-left: auto;
        right: 50%;
        margin-right: -8px
    }

    .rtl .sidebar.h-sidebar .sidebar-shortcuts-large:after {
        border-right-color: transparent;
        border-left-color: transparent
    }

    .rtl .sidebar.h-sidebar .sidebar-toggle {
        right: auto;
        left: 6px
    }

    .rtl .sidebar.h-sidebar .sidebar-shortcuts {
        float: right
    }

    .rtl .sidebar.h-sidebar .sidebar-shortcuts-large {
        left: auto;
        right: 10px
    }

    .rtl .sidebar.h-sidebar .nav-list a .badge, .rtl .sidebar.h-sidebar .nav-list a .label {
        right: 50% !important;
        left: auto !important;
        margin-left: auto;
        margin-right: 10px
    }

    .rtl .sidebar.h-sidebar + .main-content {
        margin-left: auto;
        margin-right: 0
    }
}

@media (min-width:992px) {
    .rtl .sidebar.h-sidebar.menu-min .nav-list > li > a > .menu-text {
        left: auto;
        right: -1px
    }

    .rtl .sidebar.h-sidebar.menu-min .sidebar-shortcuts-large {
        left: auto;
        right: 1px
    }
}

@media only screen and (max-width:991px) {
    .rtl .sidebar.responsive {
        -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.15);
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,.15);
        -moz-transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -o-transform: translateX(200px);
        -ms-transform: translateX(200px);
        transform: translateX(200px);
        left: auto;
        margin-left: auto;
        right: 220px;
        margin-right: -220px
    }
}

@media (min-width:992px) and (max-width:991px) {
    .rtl .sidebar.responsive.compact {
        -moz-transform: translateX(115px);
        -webkit-transform: translateX(115px);
        -o-transform: translateX(115px);
        -ms-transform: translateX(115px);
        transform: translateX(115px)
    }

        .rtl .sidebar.responsive.compact.push_away.display + .main-content {
            -moz-transform: translateX(-105px);
            -webkit-transform: translateX(-105px);
            -o-transform: translateX(-105px);
            -ms-transform: translateX(-105px);
            transform: translateX(-105px)
        }
}

@media only screen and (max-width:991px) {
    .rtl .sidebar.responsive.menu-min {
        -moz-transform: translateX(53px);
        -webkit-transform: translateX(53px);
        -o-transform: translateX(53px);
        -ms-transform: translateX(53px);
        transform: translateX(53px)
    }

    .rtl .sidebar.responsive.push_away.display + .main-content {
        -moz-transform: translateX(-220px);
        -webkit-transform: translateX(-220px);
        -o-transform: translateX(-220px);
        -ms-transform: translateX(-220px);
        transform: translateX(-220px)
    }

    .rtl .sidebar.responsive.push_away.display.menu-min + .main-content {
        -moz-transform: translateX(-43px);
        -webkit-transform: translateX(-43px);
        -o-transform: translateX(-43px);
        -ms-transform: translateX(-43px);
        transform: translateX(-43px)
    }

    .rtl .main-container .menu-toggler.fixed {
        left: auto;
        right: auto
    }

    .rtl .main-container .menu-toggler {
        margin-right: auto;
        padding-left: 0;
        margin-left: 2px;
        padding-right: 33px
    }

        .rtl .main-container .menu-toggler:after, .rtl .main-container .menu-toggler:before {
            left: auto;
            right: 4px
        }

        .rtl .main-container .menu-toggler > .toggler-text {
            left: auto;
            right: 0
        }

            .rtl .main-container .menu-toggler > .toggler-text:after {
                left: auto;
                right: -8px
            }
}

@media only screen and (max-width:320px) {
    .rtl .main-container .menu-toggler > .toggler-text:after {
        left: auto;
        right: -13px
    }
}

@media (max-width:991px) {
    .rtl .sidebar.responsive-min .nav-list a .badge, .rtl .sidebar.responsive-min .nav-list a .label {
        right: 4px;
        left: auto
    }

    .rtl .sidebar.responsive-min .nav-list > li > a > .menu-icon {
        margin-right: auto;
        margin-left: 0
    }

    .rtl .sidebar.responsive-min .nav-list > li > a > .menu-text {
        text-align: right;
        left: auto;
        padding-left: 0;
        right: 42px;
        padding-right: 12px
    }

    .rtl .sidebar.responsive-min .nav-list > li > .submenu {
        left: auto;
        right: 42px
    }

        .rtl .sidebar.responsive-min .nav-list > li > .submenu:after {
            right: auto;
            border-right: none;
            border-right-color: transparent;
            left: -1px;
            border-left: 1px solid;
            border-left-color: inherit
        }

        .rtl .sidebar.responsive-min .nav-list > li > .submenu li > a {
            margin-left: auto;
            padding-left: 0;
            margin-right: 0;
            padding-right: 22px
        }

            .rtl .sidebar.responsive-min .nav-list > li > .submenu li > a > .menu-icon {
                left: auto;
                right: 4px
            }

    .rtl .sidebar.responsive-min .nav-list > li > .arrow:after, .rtl .sidebar.responsive-min .nav-list > li > .arrow:before {
        left: auto;
        right: -16px
    }

    .rtl .sidebar.responsive-min .nav-list > li > .arrow:before {
        left: auto;
        right: -17px
    }

    .rtl .sidebar.responsive-min .nav-list li > .arrow {
        right: auto;
        left: -1px
    }

    .rtl .sidebar.responsive-min .sidebar-shortcuts-large {
        left: auto;
        right: 42px
    }

    .rtl .sidebar.responsive-min .nav-list > li > .submenu li > .submenu > li > a {
        margin-left: auto;
        padding-left: 0;
        margin-right: 2px;
        padding-right: 30px
    }

    .rtl .sidebar.responsive-min .nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
        margin-left: auto;
        padding-left: 0;
        margin-right: 2px;
        padding-right: 45px
    }

    .rtl .sidebar.responsive-min + .main-content {
        margin-left: auto !important;
        margin-right: 43px !important
    }

        .rtl .sidebar.responsive-min + .main-content .breadcrumb {
            margin-left: auto;
            margin-right: 12px
        }

    .rtl .sidebar.responsive-max {
        left: auto;
        margin-left: auto;
        -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.15);
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,.15);
        right: 220px;
        margin-right: -220px
    }

        .rtl .sidebar.responsive-max + .main-content {
            margin-left: auto !important;
            margin-right: 43px !important
        }

            .rtl .sidebar.responsive-max + .main-content .breadcrumb {
                margin-left: auto;
                margin-right: 12px
            }
}

@media only screen and (max-width:991px) {
    .rtl .sidebar.navbar-collapse .nav-list li > .submenu {
        border-right-width: 0
    }

    .rtl .sidebar.navbar-collapse + .main-content .breadcrumb {
        margin-left: auto;
        margin-right: 12px
    }

    .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > .submenu {
        left: auto;
        border-width: 1px 0 0 !important;
        right: auto
    }

        .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > .submenu li > a > .menu-icon {
            left: auto;
            right: 10px
        }

        .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > .submenu li > a {
            padding: 7px 37px 9px 0
        }

        .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > .submenu li > .submenu > li > a {
            margin-left: auto;
            padding-left: 0;
            margin-right: 20px;
            padding-right: 22px
        }

        .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
            margin-left: auto;
            padding-left: 0;
            margin-right: 20px;
            padding-right: 38px
        }

    .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > a {
        text-align: right;
        padding-left: 0;
        padding-right: 7px
    }

        .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > a > .menu-icon {
            margin-right: auto;
            margin-left: 2px
        }

        .rtl .sidebar.navbar-collapse.menu-min .nav-list > li > a > .menu-text {
            padding-left: 0;
            left: auto;
            padding-right: 0;
            right: auto
        }

    .rtl .sidebar.navbar-collapse .nav-list a .badge, .rtl .sidebar.navbar-collapse .nav-list a .label {
        right: 4px;
        left: auto
    }
}

@media (min-width:992px) and (max-width:991px) {
    .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li.hover > .submenu > li > a, .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li > .submenu > li.hover > .submenu > li > a {
        margin-left: auto !important;
        margin-right: 20px !important
    }
}

@media only screen and (min-width:992px) {
    .rtl .main-content .h-sidebar + .page-content {
        margin-left: auto;
        margin-right: auto
    }

    .rtl .main-content .h-sidebar.sidebar-fixed {
        left: auto;
        right: 220px
    }

    .rtl .sidebar.compact + .main-content .h-sidebar.sidebar-fixed {
        left: auto;
        right: 105px
    }

    .rtl .sidebar.menu-min + .main-content .h-sidebar.sidebar-fixed {
        left: auto;
        right: 43px
    }
}

.rtl .sidebar .nav-wrap + .ace-scroll {
    right: auto;
    left: 0
}

.rtl .sidebar .nav-wrap + .scrollout {
    right: auto;
    left: -8px
}

.rtl .breadcrumbs {
    padding: 0 0 0 12px
}

.rtl .breadcrumb {
    margin: 6px 12px 0 22px
}

    .rtl .breadcrumb > li, .rtl .breadcrumb > li.active {
        padding: 0 3px
    }

        .rtl .breadcrumb > li + li:before {
            margin: 0 0 0 8px
        }

@media only screen and (max-width:991px) {
    .rtl .menu-toggler + .sidebar.responsive + .main-content .breadcrumb {
        margin-left: auto;
        margin-right: 90px
    }
}

@media only screen and (max-width:320px) {
    .rtl .breadcrumb {
        margin-left: auto;
        margin-right: 8px
    }

    .rtl .menu-toggler + .sidebar.responsive + .main-content .breadcrumb {
        margin-left: auto;
        margin-right: 36px
    }
}

@media (min-width:992px) {
    .rtl .sidebar + .main-content .breadcrumbs-fixed {
        left: auto;
        right: 220px
    }

    .rtl .sidebar.compact + .main-content .breadcrumbs-fixed {
        left: auto;
        right: 105px
    }

    .rtl .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: auto;
        right: 43px
    }
}

@media (min-width:992px) and (max-width:991px) {
    .rtl .breadcrumbs-fixed, .rtl .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: auto;
        right: 0
    }

    .rtl .sidebar.responsive-max + .main-content .breadcrumbs-fixed, .rtl .sidebar.responsive-min + .main-content .breadcrumbs-fixed {
        left: auto;
        right: 43px
    }
}

@media (min-width:992px) {
    .rtl .h-sidebar + .main-content .breadcrumbs.breadcrumbs-fixed {
        left: auto;
        right: auto
    }
}

.rtl .dropdown-submenu > a:after {
    margin-right: auto;
    margin-left: -5px
}

.rtl .dropdown-navbar {
    -webkit-box-shadow: 0 2px 4px rgba(30,30,100,.25);
    box-shadow: 0 2px 4px rgba(30,30,100,.25)
}

    .rtl .dropdown-navbar > li > .ace-icon, .rtl .dropdown-navbar > li > a > .ace-icon {
        margin-right: auto !important;
        margin-left: 5px !important
    }

    .rtl .dropdown-navbar > li.dropdown-footer > a {
        text-align: center
    }

    .rtl .dropdown-navbar [class*=btn].ace-icon {
        margin: 0 0 0 5px;
        text-align: center
    }

    .rtl .dropdown-navbar .msg-body {
        margin-left: auto;
        margin-right: 50px
    }

.rtl.no-skin .sidebar {
    border-width: 0 0 0 1px
}

.rtl.no-skin .nav-list li > .arrow:before {
    border-right-color: transparent;
    border-width: 10px 0 10px 10px;
    left: auto;
    border-left-color: #B8B8B8;
    right: -10px
}

.rtl.no-skin .nav-list li > .arrow:after {
    border-right-color: transparent;
    border-width: 10px 0 10px 10px;
    left: auto;
    border-left-color: #FFF;
    right: -9px
}

.rtl.no-skin .nav-list > li.pull_up > .arrow:after {
    border-right-color: transparent !important;
    border-left-color: #FFF !important
}

.rtl.no-skin .nav-list li.active > a:after {
    border-right-color: transparent;
    border-left-color: #2B7DBC
}

.rtl.no-skin .nav-list > li.active:after {
    right: auto;
    border-width: 0 0 0 2px;
    left: -2px
}

.rtl.no-skin .sidebar-scroll .nav-list > li.active:after {
    right: auto;
    left: 0
}

.rtl.no-skin .sidebar.menu-min .nav-list > li > a > .menu-text {
    -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1)
}

.rtl.no-skin .sidebar.menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
    -webkit-box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1);
    box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1)
}

.rtl.no-skin .sidebar.menu-min .nav-list > li.active > .submenu {
    border-right-color: #83B6D1
}

.rtl.no-skin .sidebar.menu-min .nav-list > li > .submenu {
    -webkit-box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1);
    box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1)
}

.rtl.no-skin .sidebar.menu-min .nav-list > li > .arrow:after {
    border-right-color: transparent;
    border-width: 8px 0 8px 8px;
    left: auto;
    border-left-color: #F5F5F5;
    right: -8px
}

.rtl.no-skin .sidebar.menu-min .nav-list > li > .arrow:before {
    border-width: 8px 0 8px 8px;
    left: auto;
    right: -9px
}

.rtl.no-skin .sidebar.menu-min .nav-list > li.active > .arrow:before {
    border-right-color: transparent;
    border-left-color: #5a9ec2
}

.rtl.no-skin .sidebar.menu-min .nav-list > li.active > a > .menu-text {
    border-right-color: #83B6D1
}

.rtl.no-skin .sidebar.menu-min .sidebar-shortcuts-large {
    -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1)
}

@media (max-width:991px) {
    .rtl.no-skin .sidebar.responsive-min .nav-list > li > a > .menu-text {
        -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1);
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1)
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li > a.dropdown-toggle > .menu-text {
        -webkit-box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1);
        box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1)
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li.active > .submenu {
        border-left-color: transparent;
        border-right-color: #83B6D1
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li > .submenu {
        -webkit-box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1);
        box-shadow: -2px 2px 2px 0 rgba(0,0,0,.1)
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li > .arrow:after {
        border-right-color: transparent;
        border-width: 8px 0 8px 8px;
        left: auto;
        border-left-color: #F5F5F5;
        right: -8px
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li > .arrow:before {
        border-width: 8px 0 8px 8px;
        left: auto;
        right: -9px
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li.active > .arrow:before {
        border-right-color: transparent;
        border-left-color: #5a9ec2
    }

    .rtl.no-skin .sidebar.responsive-min .nav-list > li.active > a > .menu-text {
        border-left-color: transparent;
        border-right-color: #83B6D1
    }

    .rtl.no-skin .sidebar.responsive-min .sidebar-shortcuts-large {
        -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1);
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1)
    }
}

@media only screen and (min-width:992px) {
    .rtl.no-skin .nav-list li.hover > .submenu {
        -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1);
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1)
    }

    .rtl.no-skin .sidebar.h-sidebar:before {
        -webkit-box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05) inset;
        box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05) inset
    }

    .rtl.no-skin .sidebar.h-sidebar .nav-list > li:hover, .rtl.no-skin .sidebar.h-sidebar .nav-list > li:hover + li {
        border-left-color: transparent;
        border-right-color: #CEDDE5
    }

    .rtl.no-skin .sidebar.h-sidebar .nav-list > li:last-child:hover {
        border-right-color: transparent;
        border-left-color: #CEDDE5
    }

    .rtl.no-skin .sidebar.h-sidebar .nav-list > li.active, .rtl.no-skin .sidebar.h-sidebar .nav-list > li.active + li, .rtl.no-skin .sidebar.h-sidebar .nav-list > li:hover + li.active {
        border-left-color: transparent;
        border-right-color: #79B0CE
    }

        .rtl.no-skin .sidebar.h-sidebar .nav-list > li.active:last-child {
            border-right-color: transparent;
            border-left-color: #79B0CE
        }

        .rtl.no-skin .sidebar.h-sidebar .nav-list > li.active > a:after {
            border-width: 0 0 2px
        }

    .rtl.no-skin .sidebar.h-sidebar .sidebar-shortcuts-large {
        -webkit-box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1);
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,.1)
    }

    .rtl.no-skin .sidebar.h-sidebar.menu-min .nav-list > li.active > a > .menu-text {
        border-left-color: transparent;
        border-right-color: #CCC
    }
}

@media only screen and (max-width:991px) {
    .rtl.no-skin .sidebar {
        border-width: 0 0 1px 1px
    }

        .rtl.no-skin .sidebar.responsive-min {
            border-width: 0 0 0 1px
        }

        .rtl.no-skin .sidebar.navbar-collapse {
            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1) !important;
            box-shadow: 0 2px 2px rgba(0,0,0,.1) !important
        }
}

.rtl.no-skin .nav-list > li.highlight.active > a:after, .rtl.no-skin .nav-list > li.highlight.active > a:before {
    right: auto;
    border-width: 20px 10px 21px 0;
    left: -9px
}

.rtl.no-skin .nav-list > li.highlight.active > a:before {
    border-left-color: transparent;
    right: auto;
    border-right-color: #a0bccd;
    left: -10px
}

.rtl.no-skin .nav-list > li.highlight.active > a:after {
    border-left-color: transparent;
    border-right-color: #F2F6F9
}

@media (min-width:992px) {
    .rtl.no-skin .sidebar.h-sidebar .nav-list > li.highlight.active > a:after, .rtl.no-skin .sidebar.h-sidebar .nav-list > li.highlight.active > a:before {
        left: auto;
        right: 50%;
        margin-left: auto;
        margin-right: -7px
    }
}

@media print {
    .rtl .main-content .breadcrumbs {
        float: left
    }
}

body.rtl, html.rtl {
    direction: rtl;
    text-align: right;
    overflow-x: hidden
}

.rtl .nav-scroll.scroll-active .scroll-track {
    right: auto;
    left: 0
}

@media only screen and (max-width:991px) {
    .rtl .navbar .navbar-nav > li, .rtl .navbar .navbar-nav > li:first-child {
        border-width: 1px 0 0
    }
}

.rtl .dropdown-menu {
    text-align: right
}

.rtl .breadcrumb > li + li:before {
    content: "\f104";
    float: right
}

.rtl .dropdown-menu, .rtl .item-list, .rtl .nav-list, .rtl .navbar-nav {
    margin: 0
}

.rtl.no-skin .sidebar.menu-min .nav-list > li.active > .submenu, .rtl.no-skin .sidebar.menu-min .nav-list > li.active > a > .menu-text {
    border-left-color: #CCC
}

.rtl.no-skin .sidebar.menu-min .nav-list > li.active > .submenu, .rtl.skin-3 .sidebar.menu-min .nav-list > li.active > a > .menu-text {
    border-left-color: #A4C6DD
}

.rtl .sidebar + .main-content .breadcrumbs-fixed {
    left: 0
}

@media (min-width:768px) {
    .rtl.skin-3 .main-container.container:before {
        -webkit-box-shadow: 0 0 0 1px rgba(50,100,200,.1);
        box-shadow: 0 0 0 1px rgba(50,100,200,.1)
    }

    .rtl .container.main-container .sidebar.compact + .main-content .breadcrumbs-fixed, .rtl .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: auto;
        right: auto
    }
}

@media (min-width:992px) {
    .rtl .sidebar.compact + .main-content .breadcrumbs-fixed, .rtl .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: 0
    }

    .rtl.no-skin .sidebar.h-sidebar .nav-list > li.active > .submenu {
        border-color: #CCC !important
    }

    .rtl.skin-3 .sidebar.h-sidebar .nav-list > li.active > .submenu {
        border-color: #A4C6DD !important
    }
}

@media (min-width:992px) and (max-width:991px) {
    .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li.hover > .submenu > li > a, .rtl .sidebar.navbar-collapse .nav-list > li > .submenu li > .submenu > li.hover > .submenu > li > a {
        margin-right: 20px !important
    }

    .rtl .breadcrumbs-fixed, .rtl .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: 0 !important
    }

    .rtl .container.main-container .breadcrumbs-fixed, .rtl .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: auto !important
    }
}

@media (max-width:767px) and (min-width:992px) {
    .rtl .container.main-container .breadcrumbs-fixed, .rtl .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        left: 0 !important
    }
}

.rtl .sidebar:not(.h-sidebar) .nav-list > li.highlight.active > a:after {
    border-width: 20px 10px 21px !important;
    left: -20px !important
}

.rtl .sidebar:not(.h-sidebar) .nav-list > li.highlight.active > a:before {
    border-width: 20px 10px 21px !important;
    left: -21px !important
}

.rtl .sidebar.menu-min .nav-list > li > .submenu:after {
    border-left-width: 0;
    border-right: 1px solid;
    border-right-color: inherit;
    display: block;
    right: -1px;
    left: auto
}

@media only screen and (max-width:767px) {
    .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu {
        right: auto;
        left: -100px
    }

        .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu:before {
            right: auto;
            left: 120px
        }

    .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu {
        right: auto;
        left: -80px
    }

        .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu:before {
            right: auto;
            left: 100px
        }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .rtl .navbar.navbar-collapse .ace-nav > li:nth-last-child(2):nth-child(1) > .dropdown-menu, .rtl .navbar.navbar-collapse .ace-nav > li:nth-last-child(2):nth-child(2) > .dropdown-menu {
        left: -60px;
        right: auto
    }

        .rtl .navbar.navbar-collapse .ace-nav > li:nth-last-child(2):nth-child(1) > .dropdown-menu:after, .rtl .navbar.navbar-collapse .ace-nav > li:nth-last-child(2):nth-child(1) > .dropdown-menu:before, .rtl .navbar.navbar-collapse .ace-nav > li:nth-last-child(2):nth-child(2) > .dropdown-menu:after, .rtl .navbar.navbar-collapse .ace-nav > li:nth-last-child(2):nth-child(2) > .dropdown-menu:before {
            right: auto;
            left: 80px
        }
}

@media only screen and (max-width:480px) {
    .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu {
        right: auto;
        left: -120px
    }

        .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu:before {
            right: auto;
            left: 140px
        }

    .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu {
        right: auto;
        left: -120px
    }

        .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu:before {
            right: auto;
            left: 110px
        }

    .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu {
        right: auto;
        left: -50px
    }

        .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu:before {
            right: auto;
            left: 70px
        }
}

@media only screen and (max-width:479px) {
    .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu {
        left: auto;
        right: -10px
    }

        .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(4) > .dropdown-menu:before {
            right: 30px;
            left: auto
        }

    .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu {
        left: auto;
        right: -50px
    }

        .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(3) > .dropdown-menu:before {
            left: auto;
            right: 75px
        }

    .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu {
        left: auto;
        right: -70px
    }

        .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu:before {
            left: auto;
            right: 90px
        }
}

@media only screen and (max-width:319px) {
    .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu {
        left: auto;
        right: -110px
    }

        .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu:after, .rtl .ace-nav > li:nth-last-child(2) > .dropdown-menu:before {
            left: auto;
            right: 130px
        }

    .rtl .ace-nav > li:nth-child(2):nth-last-child(2) > .dropdown-menu {
        left: auto;
        right: -85px
    }

        .rtl .ace-nav > li:nth-child(2):nth-last-child(2) > .dropdown-menu:after, .rtl .ace-nav > li:nth-child(2):nth-last-child(2) > .dropdown-menu:before {
            left: auto;
            right: 105px
        }

    .rtl .ace-nav > li:nth-child(1):nth-last-child(3) > .dropdown-menu {
        left: auto;
        right: -35px
    }

        .rtl .ace-nav > li:nth-child(1):nth-last-child(3) > .dropdown-menu:after, .rtl .ace-nav > li:nth-child(1):nth-last-child(3) > .dropdown-menu:before {
            left: auto;
            right: 55px
        }

    .rtl .ace-nav > li:nth-child(1):nth-last-child(2) > .dropdown-menu {
        left: auto;
        right: -60px
    }

        .rtl .ace-nav > li:nth-child(1):nth-last-child(2) > .dropdown-menu:after, .rtl .ace-nav > li:nth-child(1):nth-last-child(2) > .dropdown-menu:before {
            left: auto;
            right: 75px
        }
}
