﻿@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), url('fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), url('fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), url('fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@keyframes blinking-notifier {
    0% {
        box-shadow: 0 0 0 #ffffff;
    }

    50% {
        box-shadow: 0 0 30px #6f6f6f;
    }

    100% {
        box-shadow: 0 0 0 #ffffff;
    }
}

.mrg0A {
    margin: 0 !important;
}

.mrg5A {
    margin: 5px !important;
}

.mrg10A {
    margin: 10px !important;
}

.mrg15A {
    margin: 15px !important;
}

.mrg20A {
    margin: 20px !important;
}

.mrg25A {
    margin: 25px !important;
}

.mrg30A {
    margin: 30px !important;
}

.mrg0B {
    margin-bottom: 0 !important;
}

.mrg5B {
    margin-bottom: 5px !important;
}

.mrg10B {
    margin-bottom: 10px !important;
}

.mrg15B {
    margin-bottom: 15px !important;
}

.mrg20B {
    margin-bottom: 20px !important;
}

.mrg25B {
    margin-bottom: 25px !important;
}

.mrg30B {
    margin-bottom: 30px !important;
}

.mrg0T {
    margin-top: 0 !important;
}

.mrg5T {
    margin-top: 5px !important;
}

.mrg10T {
    margin-top: 10px !important;
}

.mrg15T {
    margin-top: 15px !important;
}

.mrg20T {
    margin-top: 20px !important;
}

.mrg25T {
    margin-top: 25px !important;
}

.mrg30T {
    margin-top: 30px !important;
}

.mrg0R {
    margin-right: 0 !important;
}

.mrg5R {
    margin-right: 5px !important;
}

.mrg10R {
    margin-right: 10px !important;
}

.mrg15R {
    margin-right: 15px !important;
}

.mrg20R {
    margin-right: 20px !important;
}

.mrg25R {
    margin-right: 25px !important;
}

.mrg30R {
    margin-right: 30px !important;
}

.mrg0L {
    margin-left: 0 !important;
}

.mrg5L {
    margin-left: 5px !important;
}

.mrg10L {
    margin-left: 10px !important;
}

.mrg15L {
    margin-left: 15px !important;
}

.mrg20L {
    margin-left: 20px !important;
}

.mrg25L {
    margin-left: 25px !important;
}

.mrg30L {
    margin-left: 30px !important;
}

.pad0A {
    padding: 0px !important;
}

.pad5A {
    padding: 5px !important;
}

.pad10A {
    padding: 10px !important;
}

.pad15A {
    padding: 15px !important;
}

.pad20A {
    padding: 20px !important;
}

.pad25A {
    padding: 25px !important;
}

.pad30A {
    padding: 30px !important;
}

.pad0B {
    padding-bottom: 0 !important;
}

.pad5B {
    padding-bottom: 5px !important;
}

.pad10B {
    padding-bottom: 10px !important;
}

.pad15B {
    padding-bottom: 15px !important;
}

.pad20B {
    padding-bottom: 20px !important;
}

.pad25B {
    padding-bottom: 25px !important;
}

.pad30B {
    padding-bottom: 30px !important;
}

.pad0T {
    padding-top: 0px !important;
}

.pad5T {
    padding-top: 5px !important;
}

.pad10T {
    padding-top: 10px !important;
}

.pad15T {
    padding-top: 15px !important;
}

.pad20T {
    padding-top: 20px !important;
}

.pad25T {
    padding-top: 25px !important;
}

.pad30T {
    padding-top: 30px !important;
}

.pad0R {
    padding-right: 0 !important;
}

.pad5R {
    padding-right: 5px !important;
}

.pad10R {
    padding-right: 10px !important;
}

.pad15R {
    padding-right: 15px !important;
}

.pad20R {
    padding-right: 20px !important;
}

.pad25R {
    padding-right: 25px !important;
}

.pad30R {
    padding-right: 30px !important;
}

.pad0L {
    padding-left: 0 !important;
}

.pad5L {
    padding-left: 5px !important;
}

.pad10L {
    padding-left: 10px !important;
}

.pad15L {
    padding-left: 15px !important;
}

.pad20L {
    padding-left: 20px !important;
}

.pad25L {
    padding-left: 25px !important;
}

.pad30L {
    padding-left: 30px !important;
}

.color-white {
    color: #fff !important;
}

.color-red {
    color: #f00 !important;
}

.color-green {
    color: #33c111 !important;
}

.color-grey {
    color: #858585 !important;
}

.color-blue {
    color: #3084f8 !important;
}

.dis-block {
    display: block;
}

.dis-inline {
    display: inline;
}

.dis-inlineblock {
    display: inline-block;
}

.dis-hide {
    display: none;
}

.lnheight-120 {
    line-height: 120% !important;
}

.lnheight-130 {
    line-height: 130% !important;
}

.lnheight-150 {
    line-height: 150% !important;
}

.lnheight-180 {
    line-height: 180% !important;
}

.lnheight-220 {
    line-height: 220% !important;
}

.font-weight300 {
    font-weight: 300 !important;
}

.font-weight400 {
    font-weight: 400 !important;
}

.font-weight500 {
    font-weight: 500 !important;
}

.font-weight600 {
    font-weight: 600 !important;
}

.dir-ltr {
    direction: ltr
}

.dir-rtl {
    direction: rtl
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: IRANSans,Tahoma,Arial;
    font-size: 14px;
    overflow-x: hidden;
    font-weight: 300 !important;
    direction: rtl;
    position: relative;
}

a, a:visited, a:focus, a:hover {
    /*color: #e9ab2e;*/
    outline: medium none !important;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: none;
}

/*------ Header Style ------*/
.my-navber {
    background-color: transparent;
    min-height: 55px;
    padding: 0;
    color: #fff
}

.navbar-inverse.my-navber .navbar-brand, .navbar-inverse.my-navber .navbar-nav > li > a {
    color: #fff;
}

.navbar.my-navber {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.logo-wrapper {
    position: absolute;
    top: 0px;
    right: 0;
    min-height: 100%;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    background-color: #e9ab2e;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
    float: right;
    z-index: 999;
}

    .logo-wrapper.oppen {
        width: 230px;
    }

    .logo-wrapper.cllose {
        width: 60px;
    }

    .logo-wrapper img {
        margin: 5px 20px 5px 0;
    }

    .logo-wrapper.cllose img {
        margin: 5px 5px 5px 0;
    }

@media (max-width:767px) and (min-width:300px) {
    .content-header .breadcrumb {
        float: left;
        margin-left: 0px !important;
        background: 0 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10px;
        list-style: none;
    }

    .logo-wrapper.cllose img {
        margin: 5px 25px 5px 0;
    }

    .logo-wrapper.cllose {
        width: 80px;
    }

    .title-steps {
        font-size: 10pt !important;
    }

    .index-content .title {
        text-align: center;
        line-height: 40px;
        font-size: 18px !important;
    }

    .index-content p {
        font-size: 14px !important;
        text-align: justify;
        line-height: 180%;
        margin-bottom: 20px;
    }

    .steps-indicator-container > ul > li {
        position: relative !important;
        margin: 0 !important;
        border-top: 1px solid #aaa !important;
        float: right !important;
        width: 100% !important;
        height: 30px !important;
        text-align: center !important;
        margin-bottom: 10px !important;
    }

    .steps-indicator-container {
        margin-bottom: 40px;
        height: 250px;
    }

    .detail-indicator .title-container .title-label {
        font-size: 1em !important;
        line-height: 2.2em;
        display: inline-block;
        padding: 0 10px;
        border-bottom: 6px solid #3e51b5;
        margin: 0;
        position: relative;
        bottom: -6px;
    }

    .btn-lg, .btn-group-lg > .btn {
        padding: 10px 16px;
        font-size: 12px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    .detail-indicator.is-not-ok .title-label:after {
        content: '!';
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        transform: translate(-100%, -50%);
        background-color: #ffb400;
        color: #fff;
        text-align: center;
        font-size: .8em;
        animation: blinking-notifier ease 1.5s infinite;
        line-height: 1.6em;
        font-weight: bold;
    }

    .detail-indicator .title-container {
        color: #3e51b5;
        border-bottom: 2px solid #3e51b5;
        border-radius: 2px;
        margin-bottom: 16px;
        display: block !important;
        align-items: center;
        justify-content: space-between;
    }

    .btn-main-outlined {
        border: 2px solid #3f51b5;
        color: #3f51b5;
        background: transparent;
        margin: 10px;
        float: left;
    }

    .btn-main-outlined-yellow {
        border: 2px solid #ffb400;
        color: #ffb400;
        background: transparent;
        margin: 10px;
        float: left;
    }

    .detail-indicator .title-container .incomplete-data-indicator {
        color: #999;
        font-size: 0.6em;
        margin: 0 8px 0 4px;
        float: right !important;
    }

    .detail-indicator.is-not-ok .title-label:after {
        content: '!';
        width: 24px;
        height: 24px;
        position: absolute;
        left: unset !important;
        top: 50%;
        border-radius: 50%;
        transform: translate(-100%, -50%);
        background-color: #ffb400;
        color: #fff;
        text-align: center;
        font-size: .8em;
        animation: blinking-notifier ease 1.5s infinite;
        line-height: 1.6em;
        font-weight: bold;
    }
}

.header-wrapper {
    height: 60px;
    background-color: #e9ab2e;
}

    .header-wrapper.oppen {
        padding-right: 230px
    }

    .header-wrapper.cllose {
        padding-right: 60px
    }

.menu-bar {
    margin: 20px 20px 10px;
    display: inline-block;
}

/*------ Right Mrne Style ------*/
.rirgh-menu {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    background-color: #ffffff;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
    float: right;
    padding-top: 60px
}

    .rirgh-menu.oppen {
        width: 230px;
    }

    .rirgh-menu.cllose span {
        white-space: nowrap;
    }

    .rirgh-menu.cllose {
        width: 60px;
    }

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

    .sidebar-menu > li {
        position: relative;
        margin: 0;
        padding: 0;
    }

        .sidebar-menu > li > a {
            padding: 20px 25px 20px 5px;
            display: block;
            font-weight: 400;
            font-size: 14px;
            color: #202020;
            border-bottom: solid 1px rgba(120,130,140,.13);
        }

            .sidebar-menu > li > a:hover {
                background-color: #f6f6f6
            }

        .sidebar-menu > li:last-child > a {
            border-bottom: none;
        }

            .sidebar-menu > li:last-child > a i {
                margin-right: 6px
            }

        .sidebar-menu > li > a i {
            margin-left: 10px
        }

.rirgh-menu.cllose .sidebar-menu > li > a > span {
    display: none;
    -webkit-transform: translateZ(0);
}

.rirgh-menu.cllose .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-left-radius: 4px;
}

.rirgh-menu.cllose .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: 0;
    padding: 20px 25px 20px 5px;
    background-color: inherit;
}

    .rirgh-menu.cllose .sidebar-menu > li:hover > a > span:not(.pull-right) {
        display: block !important;
        position: absolute;
        width: 180px;
        right: 60px;
    }

/*------ Mobile Menu ------*/
.header-mobile, .menu-bar-mobile {
    display: none
}

/*------ Cntent Style ------*/
.body-content {
    min-height: 580px;
}

    .body-content.oppen {
        /*padding-right: 230px;*/
    }

    .body-content.cllose {
        padding-right: 60px;
    }

@media (max-width:767px) and (min-width:300px) {

    .body-content.cllose {
        padding-right: 0px;
        padding-left: 0px;
    }

    .table-responsive {
        width: 100%;
        max-width: none;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch !important;
        -ms-overflow-style: -ms-autohiding-scrollbar !important;
        border: 1px solid #DDD;
    }
}

.content-wrapper {
    padding: 0 0 70px;
    position: relative
}

.content-header {
    background: #f4f6f9;
    position: relative;
    padding: 20px 20px 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #3F51B5;
    box-shadow: 0 5px 0 #e2e2e2;
}

    .content-header .breadcrumb {
        margin-left: 100px;
        float: left;
        background: 0 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        padding: 5px 5px;
        list-style: none;
    }

.breadcrumb-item {
    float: right;
}

    .breadcrumb-item.active {
        color: #868e96;
    }

.content-header > .breadcrumb > li > a {
    color: #202020;
    text-decoration: none;
    display: inline-block;
}

    .content-header > .breadcrumb > li > a > i {
        margin-left: 5px;
    }

.breadcrumb::after {
    clear: both;
    content: "";
}

.content-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: #3f51b5;
    display: inline-block
}

/*------ Step Style ------*/
.steps-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 35px;
}

    .steps-wrapper .steps {
        position: relative;
        display: table;
        width: 100%;
        padding: 20px 10px;
    }

    .steps-wrapper ul, .tabcontrol ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
    }

    .steps-wrapper .steps > ul {
        display: table-row !important;
    }

    .steps-wrapper ul > li, .tabcontrol ul > li {
        display: block;
        padding: 0;
    }

    .steps-wrapper .steps > ul > li, .steps-wrapper > .actions > ul > li {
        float: right;
    }

    .steps-wrapper .steps > ul > li {
        width: 16.66%;
    }

    .steps-wrapper .steps > ul > li {
        border-top: 1px solid silver;
        display: table-cell !important;
        float: none !important;
        width: 100px !important;
        position: relative;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .steps-wrapper a, .tabcontrol a {
        outline: 0;
    }

    .steps-wrapper .steps a, .steps-wrapper .steps a:hover, .steps-wrapper .steps a:active {
        display: block;
        width: auto;
        margin: 0 0.5em 0.5em;
        padding: 1em 1em;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .steps-wrapper .steps > ul > li a {
        font-size: 12px !important;
    }

    .steps-wrapper .steps > ul > li > a {
        background-color: transparent !important;
        margin-top: 5px !important;
        width: 100% !important;
        position: absolute;
        top: 0px !important;
        display: inline-block !important;
        z-index: 99;
        padding: 0px !important;
        padding-top: 0px;
        margin: 0px !important;
        margin-top: 0px;
        padding-top: 15px !important;
        text-align: center !important;
        color: silver;
        white-space: nowrap;
    }

    .steps-wrapper .steps .disabled a, .steps-wrapper .steps .disabled a:hover, .steps-wrapper .steps .disabled a:active {
        color: #aaa;
        cursor: default;
    }

    .steps-wrapper .steps .current a:active {
        background: #2184be;
        background-color: rgb(33, 132, 190);
        color: #fff;
        cursor: default;
        color: #202020 !important;
    }

    .steps-wrapper .steps > ul > li > a {
        margin-top: -50px !important;
    }

    /*.steps-wrapper .steps > ul > li > a::before {
        content: " ";
        position: absolute;
        width: 0px;
        height: 0px;
        top: -10px;
        right: 50%;
        margin-right: -120px;
        z-index: 2;
        opacity: 0;
        display: none;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-left: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 10px solid orange;
        border-bottom: 10px solid transparent;
        transform: rotate(170deg);
    }*/

    .steps-wrapper .steps > ul > li.current > a::before {
        opacity: 1;
        display: block;
        margin-right: -33px;
        top: -10px;
        transform: rotate(0deg);
    }

    .steps-wrapper .steps > ul > li > a::before {
        top: 40px;
    }

    .steps-wrapper .steps > ul > li > a > span {
        opacity: 0;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        display: inline-block;
    }

    .steps-wrapper .steps > ul > li > a:hover > span {
        opacity: 1;
    }

    .steps-wrapper .steps .current-info, .tabcontrol > .steps .current-info {
        position: absolute;
        left: -999em;
    }

    .steps-wrapper .steps > ul > li.current > a > span {
        opacity: 1;
    }

    .steps-wrapper .steps > ul > li > a > i {
        position: absolute;
        left: 50%;
        width: 26px;
        text-align: center;
        margin-left: -13px;
        z-index: 99;
        bottom: 19px;
        font-size: 17px;
    }

    .steps-wrapper .steps > ul > li > a > i {
        bottom: -32px;
    }

    .steps-wrapper .steps > ul > li > a::after {
        content: " ";
        position: absolute;
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid silver;
        background-color: white;
        top: -15px;
        right: 50%;
        margin-right: -15px;
        z-index: 1;
    }

    .steps-wrapper .steps > ul > li > a::after {
        top: 35px;
    }

    .steps-wrapper .steps .done a, .steps-wrapper .steps .done a:hover, .steps-wrapper .steps .done a:active {
        color: #fff;
    }

    .steps-wrapper .steps > ul > li.done > a i {
        color: #999;
    }

/*------ Index Style ------*/
.index-content {
    padding: 20px;
}

    .index-content .title {
        text-align: center;
        line-height: 40px;
        font-size: 36px;
    }

    .index-content p {
        font-size: 19px;
        text-align: justify;
        line-height: 180%;
        margin-bottom: 20px
    }

.title-steps {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid #e9ab2e;
    color: #e9ab2e;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px
}

.step-ctrl {
    margin-top: 30px;
    width: 100%;
    display: table;
    margin-bottom: 30px
}

    .step-ctrl > ul {
        display: table-row;
        padding: 0px;
        margin: 0px;
    }

        .step-ctrl > ul > li {
            display: table-cell;
            margin: 0px;
            padding: 0px;
            text-align: center;
            border-top: 1px solid silver;
            padding-top: -17px;
            text-align: center;
        }

            .step-ctrl > ul > li > div {
                position: relative;
                padding-top: 10px;
            }

                .step-ctrl > ul > li > div > span {
                    margin-top: 10px;
                    display: block;
                }

        .step-ctrl > ul > .current > div > i {
            background-color: #9f1a2c;
        }

        .step-ctrl > ul > .current > div > span {
            color: #9f1a2c;
        }

.olstatus {
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 35px;
}

    .olstatus li {
        margin-bottom: 15px;
        font-weight: 500;
        line-height: 180%
    }

/*------ Form Style ------*/
.form-wrapper {
    margin: 10px 10px 30px 10px;
    border: 1px solid silver;
    background-color: #f4f6f9;
    padding: 20px;
    border-radius: 4px
}

.title-form {
    font-size: 20px;
    font-weight: 500;
}

.form-steps {
    position: relative;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    cursor: text
}

/*------ Checkbox Style ------*/
/*[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    right: -9999px;
    opacity: 0;
}*/

[type="checkbox"] + label, [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    font-weight: 300;
    position: relative;
    padding-right: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

[type="checkbox"] + label {
    height: 25px;
}

    [type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        margin-top: 2px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

[type="checkbox"]:not(.filled-in) + label::after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-top-color: rgb(90, 90, 90);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(90, 90, 90);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(90, 90, 90);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(90, 90, 90);
    border-left-style: solid;
    border-left-width: 2px;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

[type="checkbox"]:checked + label::before {
    top: -4px;
    right: 10px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #398bf7;
    border-bottom: 2px solid #398bf7;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/*------ Phone Box Style ------*/
.input-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .input-wrapper .form-control.number-control {
        height: 32px;
        border: none;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: left;
        padding: 9px;
        width: 100%;
    }

    .input-wrapper .form-control.country-control {
        height: 32px;
        border: none;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: left;
        width: 100%;
        padding: 10px 0px 6px 40px;
    }

.dr-wrapper {
    float: left;
    width: 27%;
    color: #313131;
    height: 32px;
}

.dr-in-wrapper {
    position: relative;
    display: inline-block
}

.dr-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 2px 0 0 2px;
    padding: 8px 12px 8px 8px;
    transition: all ease-in-out .15s
}

    .dr-icon-wrapper:hover {
        background-color: #C3BBB6;
    }

.countru-code-wrapper {
    position: absolute;
    right: -31px;
    top: 28px;
    width: 100%;
    /*------min-height: 32px;------*/
    background-color: #E9E9E9;
    border-radius: 0 0 3px 3px;
    border: solid 1px #C5C5C5;
    padding: 5px 5px 2px 5px;
    display: none;
    z-index: 9999;
}

.country-content {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background-color: #E9E9E9;
    border-radius: 3px;
    border: solid 1px #C5C5C5;
    width: 100%;
    display: block;
    padding: 4px 5px 2px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all ease-in-out .15s;
    margin-bottom: 3px
}

    .country-content:hover {
        background-color: #C3BBB6;
    }

    .country-content img {
        width: 16px;
        height: 16px;
    }

.form-control.captch-control, .form-control {
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 7px 12px 6px 3px;
}

select.form-control {
    padding: 3px 12px 6px 3px;
}

.form-control.captch-control:focus, .form-control:focus {
    border-color: rgba(197, 197, 197, 0.8);
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(197,197,197,.6);
    box-shadow: 0 0 8px rgba(197,197,197,.6);
}

.form-group {
    position: relative;
}

.dr-form-group.form-group {
    margin-bottom: 10px
}

.form-group .captch-refresh {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px
}

    .form-group .captch-refresh i {
        font-size: 1.8em
    }

.form-group img.img-captch {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 60px
}

.form-select {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
}

    .form-select::after {
        font-family: FontAwesome;
        display: block;
        text-align: center;
        position: absolute;
        left: -4px;
        top: 7px;
        width: 2.5em;
        height: 28px;
        line-height: 20px;
        z-index: 0;
        pointer-events: none;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: bold;
        color: #888;
    }

select {
    -moz-appearance: none;
}

.radio-wrapper {
    margin-top: 10px
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
    margin-left: 0;
}

.radioButton {
    display: inline-block !important;
    margin-right: 10px !important;
    margin-left: 5px !important;
}

/*------ Button Style ------*/
.btn-wrapper {
    text-align: right;
    margin-top: 15px
}

.btn {
    outline: none !important
}

.btn-normal-margin {
    padding: 6px 20px;
}

.btn-info {
    background-color: #48b0f7;
    border-color: #48b0f7;
    color: #fff;
    padding: 6px 73px 4px;
}

.btn-info {
    background-color: #48b0f7;
    border-color: #48b0f7;
    color: #fff;
}

.btn-table {
    margin-top: 24px
}

    .btn-table .btn {
        display: inline-block;
        padding: 7px 73px 5px;
    }

.btn-wrapper .btn.btn-warning {
    display: inline-block;
    padding: 6px 28px 4px;
}

.btn-wrapper .btn.btn-default, .table .btn.btn-default {
    background-color: #0bb701;
    color: white;
    border: 1px solid #098902;
    transition: all ease-in-out .15s;
}

.btn-warning {
    background-color: #faa64b;
    border-color: #faa64b;
    color: #fff;
}

    .btn-warning.focus, .btn-warning:focus, .btn-warning:hover {
        border-color: #ffa726;
        background-color: #ffa726;
    }

.btn-success {
    background-color: #06d79c;
    border-color: #06d79c;
    color: #fff;
}

    .btn-success.focus, .btn-success:focus, .btn-success:hover {
        border-color: #16D17F;
        background-color: #16D17F;
    }

.btn-wrapper .btn.btn-default:hover, .btn-wrapper .btn.btn-default:focus, .table .btn.btn-default:focus, .table .btn.btn-default:hover {
    background-color: #0AA301;
}

.btn-wrapper.btn-small .btn {
    padding: 6px 7px 4px;
}

.btn-rounded {
    border-radius: 60px;
}

/*------ Validation ------*/
.input-validation-error {
    background: #fff;
    border-color: #e0b4b4;
    color: #9f3a38;
    border-radius: '';
    box-shadow: none;
}

.field-validation-error {
    bottom: -35px;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: 0;
    z-index: 2;
    white-space: normal;
    background: #EC331F !important;
    border: 1px solid #e0b4b4 !important;
    color: #fff !important;
    padding: 5px 10px;
    margin-top: 1em;
    border-radius: 4px
}

    .field-validation-error::before {
        margin-top: -1px;
        border-width: 1px 0 0 1px;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        top: 0;
        left: 50%;
        background-color: inherit;
        border-style: solid;
        border-color: inherit;
        position: absolute;
        content: '';
        background-image: none;
        z-index: 2;
        width: .6666em;
        height: .6666em;
        -webkit-transition: background .1s ease;
        transition: background .1s ease;
    }

/*------ Page Content Style ------*/
.legal-wrapper {
    margin-top: 60px;
    display: block
}

.upload-wrapper {
    background-color: #F6F5F5;
    position: relative;
    margin-top: 20px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.btn-upload-wrapper {
    padding: 25px;
}

.upload-wrapper em, .upload-button {
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.upload-wrapper em {
    display: none;
    margin-left: .6em;
    color: #c3c3c3;
}

.file-upload-wrapper {
    background-color: #fff;
    border-top: solid 1px #ccc;
    padding: 10px 25px;
    border-radius: 0 0 4px 4px
}

.file-name-size-wrapper {
    display: inline-block;
}

.file-name {
    color: #37b400;
    position: relative;
    min-width: 10em;
    max-width: 16.667em;
    vertical-align: middle;
    line-height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.file-size {
    color: #c3c3c3;
    line-height: 1.2em;
    font-size: .78em;
    display: block;
}

.upload-button {
    border-radius: 4px;
    border: #c5c5c5 solid 1px;
    color: #2e2e2e;
    background-color: #e9e9e9;
    display: inline-block;
    padding: 10px 20px
}

    .upload-button input {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        font: 170px monospace !important;
        font-family: monospace;
        filter: alpha(opacity=0);
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

.upload-status {
    color: #c3c3c3;
    right: auto;
    left: 12px;
    position: static;
    margin-right: 10px;
}

.upload-status-total {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .upload-status-total .upload-icon {
        margin-left: 0;
        margin-right: 8px;
        display: inline-block;
        vertical-align: text-bottom;
        text-indent: -99999px;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-image: none;
        font: 16px/1 WebComponentsIcons;
        font-variant-caps: normal;
        font-variant-alternates: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-variant: normal;
        text-transform: none;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: inherit;
        width: 1em;
        height: 1em;
    }

.my-inline {
    margin-top: 30px
}

    .my-inline .form-inline .form-control {
        display: inline-block;
        width: 70px;
        vertical-align: middle;
    }


table.dataTable thead .sorting_asc::after {
    content: "\e155";
    float: right;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    font-size: 91% !important;
}

table.dataTable thead .sorting_desc::after {
    content: "\e156";
    float: right;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    font-size: 91% !important;
}

table th {
    font-weight: 400
}

table td {
    vertical-align: middle !important
}

tfoot td {
    background-color: #E8E9EC
}

#dataTables-example_filter {
    display: none
}

div.dataTables_length label {
    float: right !important;
    text-align: right !important;
}

div.dataTables_paginate {
    float: left !important;
}

.payment-wrapper img {
    vertical-align: middle;
    width: 80px
}

.payment-wrapper label input[type="radio"] {
    top: 40%
}

.payment-wrapper .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-right: 30px;
}

.form-control-payment {
    width: 90%;
    display: inline-block;
}

.payment-text {
    display: inline-block;
    width: 8%;
    text-align: left;
}

.spec-control tr.odd td {
    background-color: #fff !important;
    padding: 0 !important
}

.spec-control tr:last-child td {
    border-bottom: none;
    background-color: #F4F6F9;
    vertical-align: middle;
}

.spec-control input {
    border: none !important;
    width: 100%;
    text-align: center;
    height: 35px;
    display: inline-block;
    line-height: 33px;
}

    .spec-control input:focus {
        box-shadow: none;
        border: none
    }

.modal-body .btn-info {
    margin-top: 90px;
}

.final-title {
    text-align: center;
    border: 1px solid silver;
    background-color: #e2e2e2;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500
}

.final-item-wrapper {
    padding: 20px
}

.final-item {
    padding: 10px 10px 8px;
    border: 1px solid silver;
    background: #fff3dc;
    font-weight: 500;
    margin-bottom: 15px
}

.final-item-title {
    padding-left: 10px
}

.final-item-value {
    padding-right: 10px
}

/*------ Alert Style ------*/
.alert-info {
    background: #48b0f7;
    background-color: rgb(72, 176, 247);
    border-color: #48b0f7;
    color: #fff !important;
    margin: 10px 20px;
    border-radius: 0
}

/*------ Payment Detail Style ------*/
.pay-detail-wrapper {
    padding: 20px
}

.title-pay-detail {
    background-color: blue;
    text-align: center;
    font-size: 15pt;
    padding: 15px;
    color: #fff
}

.pay-detail-info {
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    padding: 15px
}

    .pay-detail-info p {
        margin-bottom: 15px;
        text-align: justify
    }

    .pay-detail-info label {
        font-weight: 300
    }

.pay-detail-info-tabel {
    padding: 0
}

    .pay-detail-info-tabel .table th {
        vertical-align: middle
    }

    .pay-detail-info-tabel .table > thead > tr > th {
        border-top: 1px solid #000 !important;
        padding: 1rem;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

        .pay-detail-info-tabel .table > thead > tr > th:first-child {
            border-right: none;
            border-top: 1px solid blue !important;
        }

    .pay-detail-info-tabel .table > tbody > tr > td {
        padding: 1rem;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

        .pay-detail-info-tabel .table > tbody > tr > td:first-child {
            border-right: none;
        }

/*------ Footer Style ------*/
footer {
    border-top: 1px solid #e2e2e2;
    background: #f4f6f9;
    min-height: 55px;
    padding: 10px 0;
    text-align: center;
    line-height: 180%;
    font-weight: 500;
    z-index: 999;
}

    footer p {
        margin: 0;
        padding: 0
    }

        footer p a {
            color: #202020
        }


@media (max-width:767px) {
    .logo-wrapper.oppen {
        width: 100%;
    }

    .menu-bar-mobile {
        display: block
    }

    .logo-wrapper {
        text-align: center;
    }

        .logo-wrapper img {
            display: inline-block
        }

    .menu-bar-mobile {
        position: absolute;
        top: 35%;
        right: 5%
    }

    .mobile-menu {
        display: block
    }

    .header-main .desktop-menu {
        display: none;
    }

    .header-main .container {
        width: 100%;
    }

    .header-mobile {
        display: block;
        margin-bottom: 0;
    }

        .header-mobile .side-wrap {
            background-color: #fff;
            color: #202020;
            display: block;
            position: fixed;
            top: 0;
            right: -80%;
            width: 70%;
            height: auto;
            bottom: 0;
            overflow: hidden;
            overflow-y: hidden;
            overflow-y: scroll;
            z-index: 10003;
            padding: 0px;
            transition: right 0.3s linear;
            -moz-transition: right .3s linear;
            -webkit-transition: right 0.3s linear;
            -o-transition: right .3s linear;
            margin-top: 60px;
            box-shadow: 1px 0px 10px rgba(0,0,0,0.08);
            z-index: 810
        }

            .header-mobile .side-wrap.open {
                right: 0;
                margin-top: 60px
            }

    .menu-mobile-open {
        height: 120%;
    }

        .menu-mobile-open body {
            height: 120%;
            overflow: hidden;
        }

    .header-mobile .panel-top {
        background-color: #22a8da;
    }

    .panel-top {
        padding: 0px;
        position: relative;
        display: block;
    }

    .menu-main-nav-area {
        position: relative;
        z-index: 1000;
        display: block;
    }

    .header-mobile .menu-main-nav {
        padding-right: 0;
        margin: 0;
        list-style-type: none;
    }

        .header-mobile .menu-main-nav > li {
            float: none;
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            margin: 0;
            position: relative;
            z-index: 20;
        }

            .header-mobile .menu-main-nav > li > a.active-mobile-menu {
                background-color: rgba(0, 0, 0, 0.1) !important
            }

            .header-mobile .menu-main-nav > li:hover > a {
                background-color: rgba(0, 0, 0, 0.1)
            }

            .header-mobile .menu-main-nav > li > a {
                padding: 17px 35px;
                color: #202020;
                padding-right: 35px;
                padding-right: 25px;
                font-size: 14px;
                line-height: 16px;
                display: block;
                position: relative;
                font-weight: 400
            }

                .header-mobile .menu-main-nav > li > a i {
                    margin-left: 10px
                }

            .header-mobile .menu-main-nav > li:last-child > a i {
                margin-right: 6px
            }

            .header-mobile .menu-main-nav > li ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #fff
            }

                .header-mobile .menu-main-nav > li ul > * {
                    z-index: 1;
                    position: relative;
                    margin: 0;
                }

            .header-mobile .menu-main-nav > li > ul a {
                font-size: 15px;
                color: #61728d;
                font-weight: 600;
                padding: 15px 54px 15px 35px;
                line-height: 15px;
                display: block;
                border-bottom: 1px solid rgba(0, 0, 0, .1)
            }

            .header-mobile .menu-main-nav > li > ul {
                border-top: 3px solid #ffb400;
            }

                .header-mobile .menu-main-nav > li > ul li:last-child a {
                    border-bottom: none
                }

            .header-mobile .menu-main-nav > li ul > li:hover a {
                background-color: #f5f5f5
            }

            .header-mobile .menu-main-nav > li > ul a:hover {
                color: #ffb400;
            }

    .header-mobile .mask {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        cursor: pointer;
        z-index: 1;
        background-color: rgba(0,0,0,0.0);
    }

    .step-ctrl > ul > li > div > span {
        font-size: .8em;
        padding: 0 3px;
    }
}

@media (max-width:767px) and (min-width:450px) {

    .header-mobile .side-wrap {
        right: -60%;
        width: 50%;
    }
}

.zIndexCorrected {
    right: unset;
}


.disabletext {
    background: #e2e2e2 !important;
    cursor: pointer !important;
}

.font9pt {
    font-size: 9pt !important;
}

.detailperson {
    background-color: #e9ab2e;
    border: #313131 1px solid;
    border-radius: 2px;
    font-size: 11pt;
    padding: 5px;
}

.headerPerson {
    text-align: center;
    font-size: 16pt;
    background-color: silver;
    border: black 1px solid;
    border-radius: 5px;
    margin-top: 30px;
}

.demo-steps-container li {
    width: 16.6%;
}

    .demo-steps-container li i {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        color: #e9ab2e;
        width: 30px;
        height: 30px;
        background: #fff;
        border: 2px solid #e9ab2e;
        font-size: 18px;
        text-align: center;
        line-height: 33px;
        font-style: initial;
        font-weight: bold;
    }

.btn-main-outlined {
    border: 2px solid #3f51b5;
    color: #3f51b5;
    background: transparent;
}

.btn-main-outlined-yellow {
    border: 2px solid #ffb400;
    color: #ffb400;
    background: transparent;
    margin: 10px;
    float: left;
}

.btn-main-outlined:hover {
    border: 2px solid #8191ea;
    color: #8191ea;
}

.btn-main {
    color: #fff;
    background: #3f51b5;
}

    .btn-main:hover,
    .btn-main:focus,
    .btn-main:active {
        color: #eee;
        background: #27368e;
    }

.btn-white {
    color: #ca8d12;
    background: #fff;
}

    .btn-white:hover,
    .btn-white:focus,
    .btn-white:active {
        color: #ca8d12;
        background: #eee;
    }

.cash-icon {
    background: url('/images/logo-min.png');
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: auto;
}

.main-header-button-container {
    height: 100%;
    line-height: 4.5;
    padding: 0 20px;
}

    .main-header-button-container .btn {
        vertical-align: middle;
    }

.form-hint {
    color: #aaa;
    font-size: 0.7em;
}

.clearText {
    margin-right: 25px;
    color: #3f51b5;
    font-size: 0.8em;
}

.resendCode {
    font-size: 0.8em;
}

.clearText:hover {
    color: red;
    cursor: pointer;
}

.steps-wrapper .steps ul li span {
    color: #aaa;
}

.steps-wrapper .steps ul li.current a {
    color: #fff;
}

    .steps-wrapper .steps ul li.current a:after {
        background: #3f51b5;
    }

.gutter-20 {
    padding-left: 10px;
    padding-right: 10px;
}

.blackColor {
    background-color: black !important
}

.steps-indicator-container {
    margin-bottom: 40px;
}

    .steps-indicator-container > ul {
        padding: 30px 0;
        list-style: none;
    }

        .steps-indicator-container > ul > li {
            position: relative;
            margin: 0;
            border-top: 1px solid #aaa;
            float: right;
            width: 12%;
            height: 30px;
            text-align: center;
        }

            .steps-indicator-container > ul > li i {
                position: absolute;
                left: 50%;
                top: -50%;
                transform: translate(-50%, 50%);
                width: 16px;
                height: 16px;
                background-color: #fff;
                border: 2px solid #ababab;
                border-radius: 50%;
            }

            .steps-indicator-container > ul > li span {
                position: absolute;
                top: 50%;
                left: 0%;
                width: 100%;
                display: inline-block;
            }

            .steps-indicator-container > ul > li.is-active i {
                background-color: #8393e6;
                border: 2px solid #3f51b5;
            }

            .steps-indicator-container > ul > li.is-active span {
                color: #3f51b5;
                font-weight: bold;
            }

.tooltip {
    font-family: IRANSans, Tahoma, Arial;
}


.detail-indicator {
    overflow: auto;
    margin: 20px 0;
}

    .detail-indicator .title-container {
        color: #3e51b5;
        border-bottom: 2px solid #3e51b5;
        border-radius: 2px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .detail-indicator .title-container .title-label {
            font-size: 1.6em;
            line-height: 2.2em;
            display: inline-block;
            padding: 0 10px;
            border-bottom: 6px solid #3e51b5;
            margin: 0;
            position: relative;
            bottom: -6px;
        }

    .detail-indicator.is-not-ok .title-label:after {
        content: '!';
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        border-radius: 50%;
        transform: translate(-100%, -50%);
        background-color: #ffb400;
        color: #fff;
        text-align: center;
        font-size: .8em;
        animation: blinking-notifier ease 1.5s infinite;
        line-height: 1.6em;
        font-weight: bold;
    }

    .detail-indicator .title-container .incomplete-data-indicator {
        color: #999;
        font-size: 0.6em;
        margin: 0 8px 0 4px;
        float: left;
    }

    .detail-indicator .details-container dl {
        margin: 0;
        padding: 0 6px;
    }

        .detail-indicator .details-container dl dt,
        .detail-indicator .details-container dl dd {
            float: right;
            line-height: 3em;
            border-bottom: 1px solid #eee;
        }

            .detail-indicator .details-container dl dd ~ dt {
                color: red;
            }

            .detail-indicator .details-container dl dd:empty {
                border-bottom-color: #e09191;
            }

                .detail-indicator .details-container dl dd:empty:after {
                    content: '';
                    width: 1px;
                    display: inline-block;
                }

        .detail-indicator .details-container dl dt {
            padding-right: 4px;
            width: 60%;
        }

        .detail-indicator .details-container dl dd {
            width: 40%;
        }

        .detail-indicator .details-container dl.has-larger-detail dt {
            width: 13%;
        }

        .detail-indicator .details-container dl.has-larger-detail dd {
            width: 87%;
        }

        .detail-indicator .details-container dl.has-larg-detail dt {
            width: 18%;
        }

        .detail-indicator .details-container dl.has-larg-detail dd {
            width: 82%;
        }

.text-bold {
    font-weight: bold;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-3 {
    margin-left: 3em;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-3 {
    margin-right: 3em;
}

.is-ltr {
    direction: ltr;
}

.font-eng {
    font-family: sans-serif;
}

.form-wrapper .form-guide ul {
    margin-top: 1em;
}

.form-wrapper .form-guide {
    line-height: 2em;
    border-top: 1px solid #ccc;
    margin-top: 2em;
}

.confirmable-sections-container {
    height: calc(100vh - 201px);
    overflow: hidden;
}

    .confirmable-sections-container section {
        height: 100%;
        margin: 0;
    }

.section-confirm-button-container {
    position: fixed;
    display: flex;
    bottom: 6em;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;
}

    .section-confirm-button-container button {
        border-radius: 20px;
    }

    .section-confirm-button-container .prev-button {
        margin-left: 3em;
    }

    .section-confirm-button-container.is-between .final-confirm-button,
    .section-confirm-button-container.has-reached-start .prev-button,
    .section-confirm-button-container.has-reached-start .final-confirm-button,
    .section-confirm-button-container.has-reached-end .next-button {
        display: none;
    }

.invoice-wrapper h1 {
    font-size: 1.6em;
}

.invoice-wrapper .section-title {
    text-align: center;
    font-size: 1.4em;
    background: #ededed;
    font-weight: bold;
    line-height: 3em;
    color: #666;
    border-bottom: 1px solid #ddd;
}



@media only screen and (max-width: 500px) {
    .sweet-alert {
        overflow-y: auto !important;
        max-height: 500px !important;
    }
}


.inheritDisplay {
    display: inherit !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

@-webkit-keyframes blackWhite {
    0% {
        background-color: red;
        color: white
    }

    50% {
        background-color: red;
        color: white
    }

    51% {
        background-color: white;
        color: #000000
    }

    100% {
        background-color: white;
        color: #000000
    }
}

@-webkit-keyframes redWhiteColor {
    0% {
        color: red;
    }

    50% {
        color: red
    }

    51% {
        color: #000000;
    }

    100% {
        color: #000000;
    }
}

.redWhite {
    -webkit-animation-name: blackWhite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
}

.redWhiteColor {
    -webkit-animation-name: redWhiteColor !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-duration: 1s !important;
    font-weight: bold
}

.yellowWhite {
    -webkit-animation-name: yellowWhite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes yellowWhite {
    0% {
        background-color: #ffb400;
        color: black
    }

    50% {
        background-color: #ffb400;
        color: black
    }

    51% {
        background-color: white;
        color: #000000
    }

    100% {
        background-color: white;
        color: #000000
    }
}
