﻿@using Cerberus.Domain.Enum
@model Cerberus.Domain.Model.Payment
@{
    ViewData["Title"] = "نتیجه پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ol li {
        font-size: 12pt;
        margin: 15px;
    }
</style>
<div class="container">
    @if (Model.Status == PaymentStatus.Settle)
    {
        <div class="alert alert-success text-center" style="margin-top: 50px;"><span style="font-size: 14pt">عملیات پرداخت با موفقیت انجام شد.</span></div>
        <div class="form-wrapper" style="margin-top: 50px;">
            <div class="row">

                <h4>کاربر گرامی، شما می توانید طی 30 روز از خدمات زیر بهره مند شوید</h4>
                <ol>
                    <li>ویرایش شماره موبایل</li>
                    <li>بروز رسانی اطلاعات هویتی از ثبت احوال</li>
                    <li>ویرایش اطلاعات بانکی</li>
                </ol>
                <h5>
                    همچنین قابل ذکر است بعد از گذشت 30 روز ،امکان ویرایش اطلاعات فوق وجود نخواهد داشت، لذا خواهشمند است طی مدت اعلام شده تغییرات مورد نیاز را اعمال نمایید.
                </h5>
            </div>

            <form action="@Url.Action("ReturnToAction")" method="post">
                <input type="hidden" name="PrimitivePackageType" value="@Model.Package.PrimitivePackageType" />
                <div class="btn-wrapper text-left">
                    <button type="submit"
                            class="btn btn-main" id="btnSubmit">
                        <i class="fa fa-check" aria-hidden="true"></i>ادامه مرحله بعد
                    </button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="form-wrapper" style="margin-top: 50px;">
            <div class="row" style="margin-top: 50px;">

                <div class="col-xs-12 col-sm-12">
                    <div class="alert alert-danger text-center"><span>عملیات پرداخت انجام نشد</span></div>
                    <form action="@Url.Action("ReturnToAction")" method="post">

                        <input type="hidden" name="PrimitivePackageType" value="@Model.Package.PrimitivePackageType" />
                        <div class="btn-wrapper text-left">
                            <button type="submit"
                                    class="btn btn-main" id="btnSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>بازگشت
                            </button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    }
</div>