﻿@model Cerberus.Web.ViewModel.Payment.BankResponseViewModel
@{
    ViewData["Title"] = "FinalPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container ">

    <div class="row" style="margin-top: 50px;">

        <div class="col-xs-12 col-sm-12">
            @{
                if (Model.IsSuccess)

                {
                    <div class="alert alert-success text-center"><span>@Html.DisplayFor(x => x.Message)</span></div>
                    <a href="@Url.Action("Index","BaseInfo")" class="btn btn-block btn-main btn-rounded">ادامه مراحل ثبت نام</a>
                }
                else
                {
                    <div class="alert alert-danger text-center"><span>@Html.DisplayFor(x => x.Message)</span></div>
                    <a href="@Url.Action("index","Home")" class="btn btn-main-outlined text-center btn-block">بازگشت به صفحه اصلی</a>
                }
            }
        </div>

    </div>


</div>
