﻿@using Cerberus.Domain.Enum
@model Cerberus.Web.ViewModel.Payment.CreatePaymentViewModel

@{
    ViewBag.Title = "انتخاب درگاه پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.ProfileType == ProfileOwnerType.IranianLegalPerson)
{
    @await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 3)
}
else if (ViewBag.ProfileType == ProfileOwnerType.IranianPrivatePerson)
{
    @await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 3)
}

<div class="form-wrapper">
    <h3 tabindex="-1" class="title-form">
        <i>
            <i class="fa fa-money" aria-hidden="true"></i>
        </i>
        <span>پرداخت</span>
    </h3>
    
        <h3 class="mrg30B mrg30T">
            کارمزد ایجاد کدسهامداری و تخصیص اتوماتیک دارایی مبلغ <span>@Model.Amount.ToString("N0")</span>
            ریال می باشد
        </h3>

        @if (Model.Message != null)
        {
            <p class="mrg20B mrg20T" style="color: red">
                @Model.Message
            </p>
        }

        <div class="payment-wrapper">
            <h5>لطفا توجه داشته باشید شما برای کد ملی : <span class="redWhiteColor">@Model.UniqueIdentifier </span>  عملیات پرداخت را انجام می دهید. </h5>

            <form action="@Url.Action("InitAsync", "Payment")" method="post" id="form">

                @Html.AntiForgeryToken()

                <div class="btn-wrapper mrg30T mrg30B">
                    <button type="submit" class="btn btn-main-outlined"><i class="fa fa-money" aria-hidden="true"></i> پرداخت </button>
                </div>
            </form>
        </div>
    
</div>