﻿@using Cerberus.Utility
@model List<Cerberus.Web.ViewModel.AuthenticationOffices.AuthenticationOfficesViewModel>


@if (Model.Any())
{
    int rowNumber = (ViewBag.page * 20) + 1;
    <div id="content">

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                <thead>
                <tr class="text-center">
                    <th class="text-center  ">
                        ردیف
                    </th>
                    <th class="text-center  ">
                        استان
                    </th>
                    <th class="text-center   ">
                        شهر
                    </th>
                    <th class="text-center  ">
                        نوع دفتر
                    </th>    
               
                    <th class="text-center">
                        تلفن
                    </th>
                    <th class="text-center">
                        آدرس
                    </th>
                    <th class="text-center  ">
                        مسئول
                    </th>
                    <th class="text-center  ">
                        نام مرکز احراز هویت
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd  text-center">
                        <td class="text-center  ">
                            @(rowNumber++)
                        </td>
                        <td class="text-center  ">
                            @item.ProvinceId
                        </td>
                        <td class="text-center ">
                            @item.CityId
                        </td>
                        <td class="text-center ">
                            @(item.BankId != null? ($"{item.Type.GetEnumDescription()} - { @item.Bank.Name}"): (item.Type.GetEnumDescription()))
                        </td>
                     
                      
                        <td>
                            @item.Telephone
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td class="text-center ">
                            @item.ResponsibleName
                        </td>
                        <td class="text-center ">
                            @item.OfficeName
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="dir-ltr">
            <nav aria-label="Page navigation example" class="text-center">
                <ul class="pagination">
                    @{
                        var range = 3;
                        var renderBeforCurrent = false;
                        var renderAfterCurrent = false;
                    }
                    @if (ViewBag.page >= 0)
                    {
                        if (ViewBag.paging >= 1)
                        {
                            <li class="@(ViewBag.page == 0 ? "active" : "") ">
                                <a onclick="getPost('0')">1</a>
                            </li>
                        }

                    }
                    @for (long i = 1; i <= ViewBag.paging - 1; i++)
                    {
                        if (Math.Abs(i - ViewBag.page) < range)
                        {
                            <li class="@(ViewBag.page == i ? "active" : "")  ">
                                <a onclick="getPost('@i')">@(i + 1)</a>
                            </li>
                        }
                        else if (!renderBeforCurrent && ViewBag.page > i)
                        {
                            renderBeforCurrent = true;
                            <li>
                                <a>..</a>
                            </li>
                        }
                        else if (!renderAfterCurrent && ViewBag.page < i)
                        {
                            renderAfterCurrent = true;
                            <li>
                                <a>..</a>
                            </li>
                        }
                    }
                    <li class="@(ViewBag.page == ViewBag.paging ? "active" : "")  ">
                        <a onclick="getPost('@ViewBag.paging')">@(ViewBag.paging + 1)</a>
                    </li>
                </ul>
            </nav>
        </div>
        <span style="font-weight: bold">تعداد رکورد یافت شده :@ViewBag.recordCount</span>


    </div>
}






