﻿@using Cerberus.Domain.Enum

@using Cerberus.Utility
@model Cerberus.Web.ViewModel.Dashboard.LegalPersonDashboardViewModel
@{
    ViewData["Title"] = "اطلاعات وارد شده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 13)*@
<div class="container confirmable-sections-container">
    <section class="detail-indicator">
        <header class="title-container">
            <h2 class="title-label">
                <span>بررسی پایانی</span>
            </h2>
        </header>

        <p>
            اطلاعات دریافتی در سامانه ذخیره گردیده است، لطفا با کلیک بر روی دکمه
            <strong>تایید می کنم، ادامه گام بعدی</strong>
            اطلاعات ثبت شده را تایید نمایید. در مرحله تعهدات با انتخاب گزینه می پذیرم و کلیک بر روی دکمه
            <strong>ذخیره</strong>
            ثبت نام خود را نهایی کنید. در هر گام در صورت وجود هر گونه مغایرت و یا عدم تایید، با کلیک بر روی دکمه
            <strong>ویرایش </strong>
            وارد مر حله مربوطه شوید.
        </p>
    </section>

    @await Html.PartialAsync("_LegalPersonInfo", Model.LegalPerson)

    @await Html.PartialAsync("_AddressInfo", Model.Addresses.ToList());

    @await Html.PartialAsync("_TradingCode", Model.TradingCodes)

    @await Html.PartialAsync("_Manager", Model.LegalPersonStakeholders.Where(x => x.Type == StakeHolderType.Manager))

    @await Html.PartialAsync("_TakeAccess", Model.LegalPersonStakeholders.Where(x => x.Type == StakeHolderType.TakeAccess))

    @await Html.PartialAsync("_TakeOrder", Model.LegalPersonStakeholders.Where(x => x.Type == StakeHolderType.OrderAccess))

    @await Html.PartialAsync("_ShareHolder", Model.LegalPersonShareholders)

    @await Html.PartialAsync("_LegalFinancialInfo", Model.FinancialInfo)

    @await Html.PartialAsync("_BankingAccount", Model.Accounts)

    <section class="detail-indicator">
        <form class="form-wrapper ml-0 mr-0"
              action="@Url.Action("CreateAsync", "Confirm")" method="post">
            @Html.AntiForgeryToken()

            <h3 tabindex="-1" class="title-form">
                <i>
                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                </i>
                <span>تعهدات</span>
            </h3>
            <p class="text-justify lnheight-180 mrg30T mrg30B">
                این جانب با اطلاع کامل از مفاد دستورالعمل شناسایی مشتریان بازار سرمایه مصوب 19/07/90 شورای عالی مبارزه با پولشویی،ضمن تعهد به رعایت کلیه قوانین و مقررات لازم الاجرا، بالاخص مقررات بازار سرمایه و حوزه مبارزه با پولشویی و تامین مالی تروریسم، متعهد می گردم تمامی اطلاعات مورد درخواست در این سامانه را مطابق مستندات قانونی ارائه نمایم و در صورت بروز هرگونه تغییر ، مراتب را از طریق سامانه سجام اصلاح و اطلاع رسانی نمایم . بدیهی است مسئولیت کلیه عواقب ناشی از عدم رعایت تعهدات فوق،به صورت تمام و کمال بر عهده این جانب خواهد بود . همچنین متعهدم اجازه استفاده اشخاص دیگر از حساب کاربری خود را ندهم و در صورت اقدام، بلافاصله موضوع را از طریق همین سامانه،و در صورت عدم دسترسی به سامانه، به صورت حضوری به مرجع مربوط اطلاع دهم. ضمنا صاحبان امضای مجاز شرکت متعهد می باشند ضمن تایید این مطلب که مستندات ابرازی ، آخرین مدارک و اطلاعات مربوطه به شخص حقوقی است، در صورت حصول هر گونه تغییر در موارد مذکور، مراتب را بلافاصله از طریق سامانه سجام اطلاع رسانی نمایند .
            </p>
            <div class="row mrg20B text-left">
                <div class="col-sm-12">
                    <span class="button-checkbox">
                        <button type="button" class="btn" data-color="success">می پذیرم</button>
                        @Html.CheckBox("IsConfirm", new { @class = "k-valid hidden", id = "checkitem" })
                    </span>
                </div>
            </div>

            <div class="btn-wrapper text-left">
                <button id="btnConfirm"
                        disabled="disabled"
                        data-dependency="#checkitem"
                        type="submit"
                        class="btn btn-main">
                    <i class="fa fa-check" aria-hidden="true"></i> ذخیره
                </button>
            </div>
        </form>
    </section>
</div>

<div class="section-confirm-button-container text-center has-reached-start">
    <button type="button" class="btn btn-warning btn-lg section-confirm-button prev-button">
        بازگشت
        <i class="fa fa-caret-up"></i>
    </button>

    <button type="button" class="btn btn-success btn-lg section-confirm-button next-button">
        تایید می کنم، ادامه به گام بعدی
        <i class="fa fa-caret-down"></i>
    </button>
</div>

<script src="js/final-confirm-page.js" type="text/javascript"></script>
<script>
    $(function () {
        $('.button-checkbox').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button
                        .removeClass('btn-default')
                        .addClass('btn-' + color + ' active');
                    $("#btnConfirm").prop("disabled", false);
                    $("#btnConfirm").prop('title', '');
                }
                else {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-default');
                    $("#btnConfirm").prop("disabled", true);
                    $("#btnConfirm").prop('title', 'گزینه می پذیرم را انتخاب نمایید');

                }
            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>