﻿@model Cerberus.Web.ViewModel.Profile.RegisterViewModel

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await HtmlHelperPartialExtensions.PartialAsync(Html, "~/Views/Shared/_FirstStep.cshtml", 1)


<div class="form-wrapper">
        <form action="@UrlHelperExtensions.Action(Url, "CreateOtpAsync", "Session")" method="post" id="form">

            @Html.AntiForgeryToken()

            <div class="form-steps">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-md-offset-4">
                        <div class="form-group">
                            <label class="form-label">
                                @Html.DisplayNameFor(model => model.Mobile):
                                <span class="form-hint">(بدون صفر)</span>
                            </label>
                            <div class="input-wrapper">
                                @HtmlHelperInputExtensions.TextBoxFor(Html, model => model.Mobile, new { @class = "form-control  number-control input-validation-error NumberInput", type = "tel", dir = "ltr", maxlength = 10, @placeholder = "9120000000", autocomplete = "off" })
                                @HtmlHelperValidationExtensions.ValidationMessageFor(Html, model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                           
                        </div>
                        @await Html.PartialAsync("_CaptchaControl")

                        <div class="btn-wrapper">
                            <button type="submit" class="btn btn-main btn-normal-margin pull-left" id="btnSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i> دریافت کد تایید
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
        <div class="form-guide">
            <ul>
                <li style="color: red">
                    لطفا پیش از ثبت نام در سامانه سجام، از مالکیت شماره تلفن همراه و انطباق آن با کد ملی اطمینان حاصل فرمایید. مراکز پشتیبانی اپراتورهای تلفن همراه، آماده راهنمایی شما می باشند.
                </li>
                <li style="color: red">با توجه به اینکه کلیه اطلاع رسانی ها، مکاتبات و اخطار ها از طریق شماره تلفن همراه اعلامی در این مرحله ارسال خواهد شد، لذا ضروری است شماره تلفن همراه اعلامی در این مرحله متعلق به فرد ثبت نام شونده باشد، درغیر این صورت تغییر شماره موبایل مشمول هزینه ویرایش اطلاعات خواهد شد و  تمامی مسئولیت های ناشی از آن بر عهده شخص ثبت نام کننده خواهد بود.</ul>
        </div>
    </div>
