﻿<script>
  
    function resetCaptchaImage() {
       var d = new Date();
       $("#img-captcha").attr("src", "/session/getcaptchaimage?" + d.getTime());
    }
</script>
 <div class="form-group">
     <div>
         <img id="img-captcha" onclick="resetCaptchaImage()" src="~/session/getCaptchaImage" alt="بروز رسانی"  style="width: 100%;height:50px"/>
     </div>
     <div>
         <span class="form-hint">(کلیک بر روی تصویر جهت بروزرسانی)</span>
     </div>
     <div>
         <input type="text" name="CaptchaCode" class="form-control" placeholder="کد امنیتی را وارد کنید" maxlength="6"  autocomplete="off"/>
     </div>
     
 </div>
        
    