﻿@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Domain.Model.FinancialInfo

@{
    var dataIsNotOk = (
        Model?.TradingKnowledgeLevel == null || Model?.TransactionLevel==null);
   var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.FinancialInfo);
}

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات مالی</span>
            @if (dataIsNotOk && Model!=null)
            {
                <span class="incomplete-data-indicator">اطلاعات مالی شما نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton && Model!=null)
        {
        <div class="edit-indicator-box">
            @Html.ActionLink("ویرایش اطلاعات مالی", "Index", "FinancialInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
        </div>
        }
    </header>

    <div class="details-container">
        @if (Model != null)
        {
            <dl class="col-md-12">
                <dt>میزان آشنایی شما با مفاهیم مالی و سرمایه گذاری در اوراق بهادار</dt>
                <dd>@Model.TradingKnowledgeLevel?.GetEnumDescription()</dd>
            </dl>
            <dl class="col-md-12">
                <dt>ارزش روز دارایی های تحت مالکیت</dt>
                <dd>@(Model.AssetsValue.HasValue ? $"{Model.AssetsValue?.ToString("N0")} ریال" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>متوسط درآمد ماهیانه شما از مشاغل و منابع مختلف</dt>
                <dd>@(Model.InComingAverage.HasValue ? $"{Model.InComingAverage?.ToString("N0")} ریال" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>بورس اوراق بهادار و فرابورس</dt>
                <dd>@(Model.SExchangeTransaction.HasValue ? $"{Model.SExchangeTransaction?.ToString("N0")} ریال" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>بورس های کالایی</dt>
                <dd>@(Model.CExchangeTransaction.HasValue ? $"{Model.CExchangeTransaction?.ToString("N0")} ریال" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>بورس های خارج از کشور</dt>
                <dd>@(Model.OutExchangeTransaction.HasValue ? $"{Model.OutExchangeTransaction?.ToString("N0")} یورو" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>پیش بینی سطح ارزش ریالی معاملات شما در بازار سرمایه طی یک سال آینده</dt>
                <dd>@Model.TransactionLevel?.GetEnumDescription()</dd>
            </dl>
            <dl class="col-md-12">
                <dt>نام شرکت / شرکت های کارگزاری در ایران که شما از طریق آنان مبادرت به معامله نموده اید</dt>
                <dd>
                    @if (Model.FinancialBrokers != null)
                    {
                        @string.Join("، ", Model.FinancialBrokers?.Select(x => x.Broker.Title))
                    }
                </dd>
            </dl>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                هیچ اطلاعات مالی از شما در سامانه وجود ندارد!
                
                @if (showEditButton)
                {
                    <div class="mt-1">
                        @Html.ActionLink("ثبت اطلاعات مالی", "Index", "FinancialInfo", new {}, new {@class = "btn btn-main-outlined btn-sm"})
                    </div>

                }
            </div>
        }
    </div>
</section>
