﻿@using Cerberus.Web.Extensions
@{
var authorizeUser = Context.Request.Cookies["_sc"] != null;
}
<div class="navbar navbar-inverse my-navber">
    <div class="logo-wrapper cllose">
        <a href="javascript:;">
            <img src="~/images/logo-min.png" class="img-responsive" />
        </a>
        <a href="javascript:;" class="menu-bar-mobile"><i class="fa fa-bars color-white fa-lg" aria-hidden="true"></i></a>
    </div>
    <div class="header-wrapper   cllose">
        @if (authorizeUser)
        {
            @*<a href="javascript:;" class="menu-bar"><i class="fa fa-bars color-white fa-lg" aria-hidden="true"></i></a>*@

            <div class="pull-left main-header-button-container">
                <a href='@Url.Action("SignOut", "Session")'
                   class="btn btn-white">
                    <i class="fa fa-sign-out"></i>
                    <span>خروج</span>
                </a>
            </div>
        }
        else
        {
            <div class="pull-left main-header-button-container">
                <a href='@Url.Action("CreateOtpAsync", "Session")'
                   class="btn btn-white">
                    <i class="fa fa-sign-in"></i>
                    <span>ورود به سجام</span>
                </a>
            </div>
        }


    </div>
</div>

