﻿@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Domain.Model.JobInfo

@{
    var dataIsNotOk = (Model?.Job == null || string.IsNullOrWhiteSpace(Model?.CompanyPhone) || string.IsNullOrWhiteSpace(Model?.CompanyCityPrefix) || string.IsNullOrWhiteSpace(Model?.CompanyPostalCode));
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.JobInfo);
}

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات شغلی</span>
            @if (dataIsNotOk)
            {
                <span class="incomplete-data-indicator">اطلاعات شغلی شما نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton && Model!=null)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات شغلی", "Index", "JobInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>

    <div class="details-container">
        @if (Model != null)
        {
            <dl class="col-md-4">
                <dt>عنوان شغلی</dt>
                <dd>@Model?.Job?.Title</dd>
            </dl>
            <dl class="col-md-4">
                <dt>سمت</dt>
                <dd>@Model?.Position</dd>
            </dl>
            <dl class="col-md-4">
                <dt>تاریخ شروع به کار</dt>
                <dd>@Model?.EmploymentDate?.ToPersianDate()</dd>
            </dl>
            <dl class="col-md-4">
                <dt>نام شرکت</dt>
                <dd>@Model?.CompanyName</dd>
            </dl>
           
            <dl class="col-md-4">
                <dt>کدپستی</dt>
                <dd>@Model?.CompanyPostalCode</dd>
            </dl>
            <dl class="col-md-4">
                <dt>ایمیل شرکت</dt>
                <dd>@Model?.CompanyEmail</dd>
            </dl>
            <dl class="col-md-4">
                <dt>دورنگار شرکت</dt>
                <dd>@Model?.CompanyFaxPrefix - @Model?.CompanyFax</dd>
            </dl>
            <dl class="col-md-4">
                <dt>تلفن شرکت</dt>
                <dd>@Model.CompanyCityPrefix-@Model?.CompanyPhone</dd>
            </dl>
            <dl class="col-md-4">
                <dt>آدرس سایت شرکت</dt>
                <dd>@Model?.CompanyWebSite</dd>
            </dl>
            <dl class="col-md-12 has-larger-detail">
                <dt>آدرس شرکت</dt>
                <dd>@Model?.CompanyAddress</dd>
            </dl>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                هیچ اطلاعاتی از اطلاعات شغلی شما در سامانه وجود ندارد!

                <div class="mt-1">
                    @Html.ActionLink("ثبت اطلاعات شغلی", "Index", "JobInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                </div>
            </div>
        }
    </div>
</section>
