﻿@using Microsoft.AspNetCore.Http
@using Cerberus.Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://static.csdiran.com/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/site.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/core-animatte.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/jquery.Bootstrap-PersianDateTimePicker.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/sweetalert.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/selectize.css" />
    <link rel="stylesheet" href="https://static.csdiran.com/css/selectize.bootstrap3.css" />

    <script src="https://static.csdiran.com/js/jquery-2.2.4.min.js"></script>
    <script src="https://static.csdiran.com/js/bootstrap-rtl.min.js"></script>
    <script src="https://static.csdiran.com/js/jquery.validate.js"></script>
    <script src="https://static.csdiran.com/js/jquery.validate.unobtrusive.js"></script>
    <script src="https://static.csdiran.com/js/jquery.unobtrusive-ajax.js"></script>
    <script src="https://static.csdiran.com/js/sweetalert.js"></script>
    <script src="https://static.csdiran.com/js/common.js"></script>
    <script src="https://static.csdiran.com/js/MdBootstrapPersianDateTimePicker/jalaali.js"></script>
    <script src="https://static.csdiran.com/js/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script src="https://static.csdiran.com/js/selectize.min.js"></script>
    <script src="https://static.csdiran.com/js/jquery.mask.js"></script>



    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121325780-1');
    </script>
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//stat.wakav.ir/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '4']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>

</head>
<body>
    @await Html.PartialAsync("_Header")
    @await Html.PartialAsync("_RightMenu")
    @await Html.PartialAsync("_Notification")

    <div class="body-content container cllose">
        <div class="content-wrapper body-content ">
            @RenderBody()
        </div>
    </div>

    @await Html.PartialAsync("_Footer")
    <script>
        $(document).ready(function () {
           
            $(".dr-icon-wrapper").click(function () {
                $(this).parent().find(".countru-code-wrapper").slideToggle();
            });

            $(document).click(function (event) {
                if ($(event.target).closest(".dr-icon-wrapper").length === 0) {
                    $("body").find(".countru-code-wrapper").slideUp();
                }
            });

            $(".NumberInput").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
    </script>

    <div class="row">
        <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div style="z-index: 10011; position: fixed;  padding: 5px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(255, 255, 255); border: none; background-color: rgb(0, 0, 0); cursor: wait; border-radius: 10px; opacity: 0.5; font-size: 14px;">
                <p class="text-center">
                    <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                </p>
                <h4 style="font-size: 12px;line-height: 21px;"> لطفا کمی صبر نمایید ...</h4>
            </div>
        </div>
    </div>
</body>
</html>

<script>

    $(function () {
        $("#btnSubmit").click(function () {

            $("#form").validate();
            if ($('#form').valid())
                $("#myModal").modal('show');

        });
        $(".btn-main-outlined").click(function () {

            try {
                $("#form").validate();
                if ($('#form').valid())
                    $("#myModal").modal('show');
            } catch (e) {

            }


        });
    });

</script>
