﻿@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Domain.Model.FinancialInfo

@{
    var dataIsNotOk = (
        Model?.TransactionLevel == null );
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.FinancialInfo);
}

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات اهداف سرمایه گذاری</span>
            @if (dataIsNotOk && Model!=null)
            {
            <span class="incomplete-data-indicator">اطلاعات اهداف سرمایه گذاری شما نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton && Model!=null)
        {
        <div class="edit-indicator-box">
            @Html.ActionLink("ویرایش اطلاعات اهداف سرمایه گذاری", "Index", "FinancialInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
        </div>
        }
    </header>

    <div class="details-container">
        @if (Model != null)
        {
            <dl class="col-md-12">
                <dt>بورس اوراق بهادار و فرابورس</dt>
                <dd>@(Model.SExchangeTransaction.HasValue ? $"{Model.SExchangeTransaction?.ToString("N0")} ریال" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>بورس های کالایی</dt>
                <dd>@(Model.CExchangeTransaction.HasValue ? $"{Model.CExchangeTransaction?.ToString("N0")} ریال" : "-" )</dd>
            </dl>
            <dl class="col-md-12">
                <dt>بورس های خارج از کشور</dt>
                <dd>@(Model.OutExchangeTransaction.HasValue ? $"{Model.OutExchangeTransaction?.ToString("N0")} یورو" : "-" )</dd>
            </dl>
          
            <dl class="col-md-12">
                <dt>نام مرجع رتبه بندی کننده</dt>
                <dd>@Model?.ReferenceRateCompany</dd>
            </dl>

            <dl class="col-md-12">
                <dt>تاریخ رتبه بندی</dt>
                <dd>@Model?.RateDate?.ToPersianDate()</dd>
            </dl>
            
            <dl class="col-md-12">
                <dt>رتبه اخذ شده</dt>
                <dd>@Model?.Rate</dd>
            </dl>

            <dl class="col-md-12">
                <dt>منبع تأمین وجه سرمایه گذاری و هدف مشتری از انجام معاملات در بازار سرمایه ایران یا بورس های کالای ایرانی</dt>
                <dd>@Model?.CompanyPurpose</dd>
            </dl>

            <dl class="col-md-12">
                <dt>پیش بینی سطح ارزش ریالی معاملات شما در بازار سرمایه طی یک سال آینده </dt>
                <dd>@Model?.TransactionLevel?.GetEnumDescription()</dd>
            </dl>

            <dl class="col-md-12">
                <dt>نام شرکت / شرکت های کارگزاری در ایران که شما از طریق آنان مبادرت به معامله نموده اید</dt>
                <dd>
                    @if (Model?.FinancialBrokers != null)
                    {
                        @string.Join("، ", Model?.FinancialBrokers?.Select(x => x.Broker.Title))
                    }
                </dd>
            </dl>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                هیچ اطلاعات اهداف سرمایه گذاری از شما در سامانه وجود ندارد!
                @if (showEditButton)
                {
                    <div class="mt-1">
                        @Html.ActionLink("ثبت اطلاعات اهداف سرمایه گذاری", "Index", "FinancialInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                    </div>
                }
            </div>
        }
    </div>
</section>
