﻿@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Domain.Model.LegalPerson

@{
    var dataIsNotOk = Model?.IsConfirmed == false;
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.BaseInfo);
}

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات هویتی</span>
            @if (dataIsNotOk)
            {
                <span class="incomplete-data-indicator">اطلاعات هویتی شما نیازمند ویرایش است.</span>
            }
        </h2>
        @if (showEditButton)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات هویتی", "Index", "BaseInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>
    <div class="details-container">
        <dl class="col-md-4">
            <dt>نام</dt>
            <dd>@Model?.CompanyName</dd>
        </dl>
        <dl class="col-md-4">
            <dt>نوع</dt>
            <dd>@Model?.Type.GetEnumDescription()</dd>
        </dl>
        <dl class="col-md-4">
            <dt>کد اقتصادی</dt>
            <dd>@Model?.EconomicCode</dd>
        </dl>
        <dl class="col-md-4">
            <dt>شماره ثبت</dt>
            <dd>@Model?.RegisterNumber</dd>
        </dl>
        <dl class="col-md-4">
            <dt>محل ثبت</dt>
            <dd>@Model?.RegisterPlace</dd>
        </dl>
        <dl class="col-md-4">
            <dt>تاریخ ثبت</dt>
            <dd>@Model?.RegisterDate.ToPersianDate()</dd>
        </dl>
    </div>
</section>