﻿@using Cerberus.Domain.Enum
@model Cerberus.Web.ViewModel.Dashboard.LegalPersonDashboardViewModel

<div class="steps-indicator-container">
    <ul>
        <li>
            <div>
                <i id="init"></i>
                <span>شروع ثبت نام</span>
            </div>
        </li>
        <li class="@(Model.Status == ProfileStatus.PolicyAccepted ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip" title="به این معناست که فرم های شما تکمیل شده"></i>
                <span>تکمیل فرم ها</span>
            </div>
        </li>
        <li class="@(Model.Status == ProfileStatus.PendingValidation ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip" title="سامانه در حال استعلام اطلاعات شما از مراجع ذیصلاح می باشد."></i>
                <span>استعلام اطلاعات</span>
            </div>
        </li>

        <li class="@(Model.Status == ProfileStatus.InvalidInformation ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip" title="نتیجه استعلام شما تایید نشده است و نیاز است فرم های خود را ویرایش کنید."></i>
                <span>ویرایش فرم ها</span>
            </div>
        </li>

        <li class="@(Model.Status == ProfileStatus.TraceCode ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip"
                   data-placement="bottom"
                   title="به این معناست که شما هنوز به یکی از مراکز منتخب احراز هویت مراجعه نکرده اید. برای این کار کافیست با در دست داشتن کارت ملی و شناسنامه خود به یکی از مراکز مراجعه کنید تا احراز هویت حضوری گردید."></i>
                <span>در انتظار مراجعه به مراکز منتخب احراز هویت</span>
            </div>
        </li>

        <li class="@(Model.Status == ProfileStatus.Sejami ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip"
                   data-placement="bottom"
                   title="به این معناست که یکی از مراکز منتخب احراز هویت با دریافت تصویر چهره و امضا ، اطلاعات شما را در سجام تایید نموده و شما سجامی شده اید."></i>
                <span>تایید سهامدار در سجام</span>
            </div>
        </li>
    </ul>
</div>