﻿@using Cerberus.Domain.Extensions
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Domain.Model.PrivatePerson

@{
    var dataIsNotOk = Model?.IsConfirmed == false;
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.BaseInfo);
    var showEditAfterSejamiButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.EditPrivatePerson);
   
}

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات هویتی</span>
            @if (dataIsNotOk)
            {
                <span class="incomplete-data-indicator">اطلاعات هویتی شما نیازمند ویرایش است.</span>
            }
        </h2>
        @if (showEditButton)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات هویتی", "Index", "BaseInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
        else if (showEditAfterSejamiButton)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات هویتی", "ChangePrivatePersonAsync", "BaseInfo", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>
    <div class="details-container">
        <dl class="col-md-4">
            <dt>نام</dt>
            <dd>@Model?.FirstName</dd>
        </dl>
        <dl class="col-md-4">
            <dt>نام خانوادگی</dt>
            <dd>@Model?.LastName</dd>
        </dl>
        <dl class="col-md-4">
            <dt>نام پدر</dt>
            <dd>@Model?.FatherName</dd>
        </dl>
        <dl class="col-md-4">
            <dt>جنسیت</dt>
            <dd>@(Model?.Gender.GetEnumDescription())</dd>
        </dl>
        <dl class="col-md-4">
            <dt>شماره شناسنامه</dt>
            <dd>@Model?.ShNumber</dd>
        </dl>
        <dl class="col-md-4">
            <dt>سریال شناسنامه</dt>
            <dd>@Model?.Serial @Model?.SeriSh @Model?.SeriShChar  </dd>
        </dl>
        <dl class="col-md-4">
            <dt>
                محل صدور @if (!showEditButton)
                {
                    <a id="getissuebtn" style="color: blue; font-size: 7.5pt; margin-right: 8px;">ویرایش </a>
                }
            </dt>
            <dd id="pof">@Model?.PlaceOfIssue</dd>
        </dl>
        <dl class="col-md-4">
            <dt>
                محل تولد @if (!showEditButton)
                {
                    <a id="getBirthBtn" style="color: blue; font-size: 7.5pt; margin-right: 8px;">ویرایش </a>
                }
            </dt>
            <dd id="pob">@Model?.PlaceOfBirth</dd>
        </dl>
        <dl class="col-md-4">
            <dt>تاریخ تولد</dt>
            <dd>@Model?.BirthDate.ToPersianDate()</dd>
        </dl>
    </div>
</section>

<div class="modal fade" id="issueModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">


            <div class="modal-body">
                <div id="dvContent"></div>
            </div>


        </div>
    </div>
</div>



<script>

    $("#getissuebtn").click(function () {
        $("#myModal").modal('show');
        var url = '@Url.Action("PlaceOfIssue", "BaseInfo")';
        $.ajax({
            url: url,
            type: "GET",
            data:null,
           success:
               function (recivingData) {
                $("#myModal").modal('hide');
                $("#issueModal").modal("show");
                $("#dvContent").html(recivingData);
                $("#PlaceOfIssue").val($("#pof").text());
                $.validator.unobtrusive.parse($("#form"));
                $("#btnCancel").click(function () {
                    $("#issueModal").modal("hide");
                });
                   $("#btnSubmit").click(function () {
                       event.preventDefault();
                    $("#myModal").modal('show');
                 var data = $("#form").serialize();
                    var newData = $("#PlaceOfIssue").val();
                    $.ajax({
                        url: '@Url.Action("UpdateIssueAsync","BaseInfo")',
                        type: 'POST',
                        data: data,
                        success: function (result) {
                            $("#myModal").modal('hide');
                            if (result === "true") {
                               $("#issueModal").modal("hide");
                                $("#pof").fadeOut(1000,
                                    function () {
                                        $("#pof").fadeIn(1000);
                                        $("#pof").text(newData);
                                    });
                            }
                        },
                        error: function (result) {
                            $("#myModal").modal('hide');
                            if (result.status.toString() !== "429")
                                swalMessage(result.message, "warning");
                            else {
                                $("#issueModal").modal("hide");
                                swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                            }

                        }
                    });

            });
                },
            error: function (result) {
                $("#myModal").modal('hide');
                if (result.status.toString() !== "429")
                    swalMessage(result.message, "warning");
                else {

                    swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                }

            }
    });

    });
    $("#getBirthBtn").click(function () {
        $("#myModal").modal('show');
        var url = '@Url.Action("PlaceOfBirth", "BaseInfo")';
        $.ajax({
            url: url,
            type: "GET",
            data:null,
           success:
               function (recivingData) {
                   $("#myModal").modal('hide');
                $("#issueModal").modal("show");
                $("#dvContent").html(recivingData);
                $("#PlaceOfBirth").val($("#pob").text());
                   $.validator.unobtrusive.parse($("#birthForm"));
                $("#btnCancel").click(function () {
                    $("#issueModal").modal("hide");
                });
                   $("#btnBirthSubmit").click(function () {
                       event.preventDefault();
                    $("#myModal").modal('show');
                    var data = $("#birthForm").serialize();
                    var newData = $("#PlaceOfBirth").val();
                    $.ajax({
                        url: '@Url.Action("UpdatePlaceOfBirthAsync","BaseInfo")',
                        type: 'POST',
                        data: data,
                        success: function (result) {
                            $("#myModal").modal('hide');
                            if (result === "true") {
                               $("#issueModal").modal("hide");
                                $("#pob").fadeOut(1000,
                                    function () {
                                        $("#pob").fadeIn(1000);
                                        $("#pob").text(newData);
                                    });
                            }
                        },
                        error: function (result) {
                            $("#myModal").modal('hide');
                            if (result.status.toString() !== "429")
                                swalMessage(result.message, "warning");
                            else {
                                $("#issueModal").modal("hide");
                                swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                            }

                        }
                    });

            });
                },
            error: function (result) {
                $("#myModal").modal('hide');
                if (result.status.toString() !== "429")
                    swalMessage(result.message, "warning");
                else {

                    swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                }

            }
    });

    });


</script>