﻿@using Cerberus.Web.Extensions
@{
    var authorizeUser = Context.Request.Cookies["_sc"] != null;
}

<div class="rirgh-menu hidden-xs cllose">
    <ul class="sidebar-menu tree">
        @if (authorizeUser)
        {
            <li class="">
                <a href='@Url.Action("CreateOtpAsync", "Session")'>
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i> <span>ثبت نام در سجام</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("CreateOtpAsync", "Session")'>
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> <span>ویرایش اطلاعات قبلی</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("Index", "Dashboard")'>
                    <i class="fa fa-eye fa-lg" aria-hidden="true"></i> <span>مشاهده وضعیت</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("Index", "Profile")'>
                    <i class="fa fa-lg fa-mobile-phone" aria-hidden="true"></i> <span>ویرایش شماره تلفن همراه</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("Index", "authenticationOffices")'>
                    <i class="fa fa-lg fa-building" aria-hidden="true"></i> <span>لیست مراکز احراز هویت</span>
                </a>
            </li>
            <li class="">
                <a href="https://www.sejam.ir/fa/FAQ">
                    <i class="fa fa-question" aria-hidden="true"></i> <span>سوالات متداول</span>
                </a>
            </li>
        }
        else
        {
            <li class="">
                <a href='@Url.Action("Index", "Home")'>
                    <i class="fa fa-lg fa-home" aria-hidden="true"></i> <span>صفحه اصلی</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("CreateOtpAsync", "Session")'>
                    <i class="fa fa-user" aria-hidden="true"></i> <span>ثبت نام در سجام</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("CreateOtpAsync", "Session")'>
                    <i class="fa fa-edit" aria-hidden="true"></i> <span>ویرایش اطلاعات قبلی</span>
                </a>
            </li>

            <li class="">
                <a href='@Url.Action("CreateOtpAsync", "Session")'>
                    <i class="fa fa-recycle" aria-hidden="true"></i> <span>بازیابی کد پیگیری</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("Index", "Profile")'>
                    <i class="fa fa-lg fa-mobile-phone" aria-hidden="true"></i> <span>ویرایش شماره تلفن همراه</span>
                </a>
            </li>
            <li class="">
                <a href='@Url.Action("Index", "authenticationOffices")'>
                    <i class="fa fa-lg fa-building" aria-hidden="true"></i> <span>لیست مراکز احراز هویت</span>
                </a>
            </li>
            <li class="">
                <a href="https://www.sejam.ir/fa/FAQ">
                    <i class="fa fa-question" aria-hidden="true"></i> <span>سوالات متداول</span>
                </a>
            </li>
        }

    </ul>
</div>
<div class="header-mobile">
    <div class="side-wrap">
        <div class="panel_top">
            <nav class="menu-main-nav-area">
                <ul id="menu-mobile" class="menu-main-nav">

                    @if (authorizeUser)
                    {
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("CreateOtpAsync", "Session")' class="active-mobile-menu">
                                <i class="fa fa-book fa-lg" aria-hidden="true"></i> <span>ثبت نام در سجام</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("CreateOtpAsync", "Session")'>
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> <span>ویرایش اطلاعات قبلی</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent dr-mobile-menu">
                            <a href='@Url.Action("Index", "Dashboard")'>
                                <i class="fa fa-eye fa-lg" aria-hidden="true"></i> <span>مشاهده وضعیت</span>
                            </a>
                        </li>
						
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("Index", "Profile")'>
                                <i class="fa fa-lg fa-mobile-phone" aria-hidden="true"></i> <span>ویرایش شماره تلفن همراه</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("Index", "authenticationOffices")'>
                                <i class="fa fa-list fa-lg" aria-hidden="true"></i> <span> مراکز احراز هویت</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href="https://www.sejam.ir/fa/FAQ">
                                <i class="fa fa-question fa-lg" aria-hidden="true"></i> <span>سوالات متداول</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("Index", "Home")'>
                                <i class="fa fa-undo fa-lg" aria-hidden="true"></i> <span>صفحه اصلی</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("CreateOtpAsync", "Session")'>
                                <i class="fa fa-user" aria-hidden="true"></i> <span>ثبت نام در سجام</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("CreateOtpAsync", "Session")'>
                                <i class="fa fa-edit" aria-hidden="true"></i> <span>ویرایش اطلاعات قبلی</span>
                            </a>
                        </li>

                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("CreateOtpAsync", "Session")'>
                                <i class="fa fa-recycle" aria-hidden="true"></i> <span>بازیابی کد پیگیری</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("Index", "Profile")'>
                                <i class="fa fa-lg fa-mobile-phone" aria-hidden="true"></i> <span>ویرایش شماره تلفن همراه</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href='@Url.Action("Index", "authenticationOffices")'>
                                <i class="fa fa-list fa-lg" aria-hidden="true"></i> <span> مراکز احراز هویت</span>
                            </a>
                        </li>
                        <li class="current-menu-ancestor current-menu-parent">
                            <a href="https://www.sejam.ir/fa/FAQ">
                                <i class="fa fa-question fa-lg" aria-hidden="true"></i> <span>سوالات متداول</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <div class="mask show"></div>
</div>
