﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model IEnumerable<Cerberus.Domain.Model.LegalPersonShareholder>

@{
    var dataIsNotOk = !Model.Any();
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.StakeholderShareholder);
}

<section class="detail-indicator  @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات سهامداران</span>
            @if (dataIsNotOk)
            {
            <span class="incomplete-data-indicator">اطلاعات سهامداران نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton)
        {
        <div class="edit-indicator-box">
            @Html.ActionLink("ویرایش اطلاعات سهامداران", "Shareholder", "Stakeholder", new { }, new { @class = "btn btn-main-outlined btn-sm" })
        </div>
        }
    </header>

    <div class="details-container">
        @if (Model.Any())
        {
            <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center text-bold">نام </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item?.FirstName @item?.LastName </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                هیچ اطلاعاتی از سهامداران در سامانه وجود ندارد!

                <div class="mt-1">
                    @Html.ActionLink("ورود اطلاعات سهامداران", "Shareholder", "Stakeholder", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                </div>
            </div>
        }
    </div>
</section>
