﻿<div class="step-wrapper hideallsteps">
    <div class="steps">
        <ul role="tablist">
            <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                <a href="javascript:;">
                    <span class="current-info audible">مرحله: </span>
                    <i>
                        <i class="fa fa-registered" aria-hidden="true"></i>
                    </i>
                    <span>ثبت نام</span>
                </a>
            </li>
            <li role="tab" class="done" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </i>
                    <span>کد تایید</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-random" aria-hidden="true"></i>
                    </i>
                    <span>نوع مشتری / ملیت</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </i>
                    <span>سمت و شرایط نماینده</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </i>
                    <span>پرداخت</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-male" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات هویتی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات ارتباطی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </i>
                    <span>کد های سهامداری</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-industry" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات شغلی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات مالی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </i>
                    <span> حساب بانکی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                    </i>
                    <span>تعهدات</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </i>
                    <span>پرداخت</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </i>
                    <span> شخص حقوقی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </i>
                    <span>کدهای معاملاتی</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                    </i>
                    <span> دارندگان حق برداشت</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                    </i>
                    <span> هیئت مدیره</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </i>
                    <span> سهامداران</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </i>
                    <span> اشخاص مجاز به سفارش</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-fort-awesome" aria-hidden="true"></i>
                    </i>
                    <span>اهداف سرمایه گذاری</span>
                </a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </i>
                    <span> حساب بانکی</span>
                </a>
            </li>
            <li role="tab" class="disabled last" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                    </i>
                    <span>تعهدات</span>
                </a>
            </li>
        </ul>
    </div>
</div>
