﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@model Cerberus.Web.ViewModel.Dashboard.PrivatePersonDashboardViewModel

<div class="steps-indicator-container">
    <ul>
        <li class="@(Model.Status == ProfileStatus.SuccessPayment ? "is-active" : "")">

            <div>
                <i data-toggle="tooltip" title="به این معناست که ثبت نام  شما تکمیل نشده"></i>
                <span>شروع ثبت نام</span>
            </div>
        </li>
        <li class="@(Model.Status == ProfileStatus.PolicyAccepted ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip" title="به این معناست که فرم های شما تکمیل شده"></i>
                <span>تکمیل فرم ها</span>
            </div>
        </li>
        <li class="@(Model.Status == ProfileStatus.PendingValidation && Tools.IsUnder18Years(Model.PrivatePerson.BirthDate) == false && Model.Agent == null ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip" title="سامانه در حال استعلام اطلاعات شما از مراجع ذیصلاح می باشد."></i>
                <span>استعلام اطلاعات</span>
            </div>
        </li>
        @if (Model.Status == ProfileStatus.PendingValidation && Model?.PrivatePerson?.IsConfirmed == true && Tools.IsUnder18Years(Model.PrivatePerson.BirthDate) && Model.Agent == null)
        {
            <li>

                <div>
                    <i class="blackColor" data-toggle="tooltip" title="با توجه به اینکه شما به سن قانونی نرسیده اید ،لذا  باید برای خود نماینده قانونی انتخاب نمایید"></i>
                    <span>در انتظار تعیین نماینده</span>
                </div>
            </li>
        }
        @if (Model.Status == ProfileStatus.PendingValidation && Model.Agent != null)
        {
            if (Model.Agent.IsConfirmed == null)
            {
                <li>
                    <div>
                        <i class="blackColor" data-toggle="tooltip" title="واحد حقوقی در حال بررسی مدارک نماینده قانونی شما می باشد"></i>
                        <span>بررسی مدارک ارسالی نماینده</span>
                    </div>
                </li>
            }
            else if (Model.Agent.IsConfirmed == false)
            {
                <li>
                    <div>
                        <i class="blackColor" data-toggle="tooltip" title="مدارک نماینده شما تایید نشده است و لازم است شما به بخش ویرایش اطلاعات نماینده بروید."></i>
                        <span>عدم تایید مدارک نماینده</span>
                    </div>
                </li>
            }
            else if (Model.Agent.IsConfirmed == true)
            {
                <li>
                    <div>
                        <i data-toggle="tooltip" title="مدارک نماینده شما تایید شده است"></i>
                        <span>تایید نماینده</span>
                    </div>
                </li>
            }
        }
        <li class="@(Model.Status == ProfileStatus.InvalidInformation ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip" title="نتیجه استعلام شما تایید نشده است و نیاز است فرم های خود را ویرایش کنید."></i>
                <span>ویرایش فرم ها</span>
            </div>
        </li>

        <li class="@(Model.Status == ProfileStatus.TraceCode && (Model.Agent == null || Model.Agent?.IsConfirmed == true) ? "is-active" : "")">
            <div>
                <i data-toggle="tooltip"
                   data-placement="bottom"
                   title="به این معناست که شما هنوز به یکی از مراکز منتخب احراز هویت مراجعه نکرده اید. برای این کار کافیست با در دست داشتن کارت ملی و شناسنامه خود به یکی از مراکز مراجعه کنید تا احراز هویت حضوری گردید."></i>
                <span>در انتظار مراجعه به مراکز منتخب احراز هویت</span>
            </div>
        </li>
        @if (Model.Status == ProfileStatus.Sejami)
        {
            <li class="is-active">
                <div>
                    <i data-toggle="tooltip"
                       data-placement="bottom"
                       title="به این معناست که یکی از مراکز منتخب احراز هویت با دریافت تصویر چهره و امضا ، اطلاعات شما را در سجام تایید نموده و شما سجامی شده اید."></i>
                    <span>تایید سهامدار در سجام</span>
                </div>
            </li>
        }
        else if (Model.Status == ProfileStatus.SemiSejami)
        {
            if (Model.PrivatePerson.Locked == false)
            {
                <li class="is-active">
                    <div>
                        <i data-toggle="tooltip"
                           data-placement="bottom"
                           title="به دلیل عدم بروز رسانی اطلاعات هویتی، لطفا اطلاعات هویتی خود را بروز رسانی نمایید"></i>
                        <span>سجامی ناقص</span>
                    </div>
                </li>
            }
            else if (Model.Accounts.Any(x => x.Locked == false))
            {
                <li class="is-active">
                    <div>
                        <i data-toggle="tooltip"
                           data-placement="bottom"
                           title="به دلیل عدم تایید اطلاعات بانکی، لطفا اطلاعات بانکی خود را ویرایش نمایید"></i>
                        <span>سجامی ناقص</span>
                    </div>
                </li>
            }
            else
            {
                <li class="is-active">
                    <div>
                        <i data-toggle="tooltip"
                           data-placement="bottom"
                           title="در انتظار مراجعه به مراکز احراز هویت برای تصحیح مدارک مورد نیاز"></i>
                        <span>سجامی ناقص</span>
                    </div>
                </li>
            }



        }
        else if (Model.Status == ProfileStatus.Suspend)
        {
            <li class="is-active">
                <div>
                    <i data-toggle="tooltip"
                       data-placement="bottom"
                       title="به دلیل عدم مراجعه به مراکز احراز هویت برای رفع نقص مدارک، وضعیت شما غیر فعال می باشد،لطفا به مراکز منتخب احراز هویت مراجعه نمایید. "></i>
                    <span>سجامی ناقص منقضی شده</span>
                </div>
            </li>
        }
    </ul>
</div>