﻿
@model IEnumerable<Cerberus.Domain.Model.IssuanceStockCode>
@{
    var list = Model.SelectMany(x => x.IssuanceStockCodeResponses).ToList();

}

<section class="detail-indicator mb-0 mt-0">
    <div class="form-wrapper mb-0">
        <div class="details-container row">

            @if (list.Any())
            {
                <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 text-center">
                    <label for="trace-code">کد بورسی شما</label>

                    <input readonly
                           id="trace-code"
                           class="form-control is-ltr text-center"
                           value="@list.FirstOrDefault(x => x.LegacyCode != null)?.LegacyCode" />

                </div>
            }

        </div>
    </div>
</section>
