﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model IEnumerable<Cerberus.Domain.Model.TradingCode>

@{

    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.TradingCode);
}

<section class="detail-indicator">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات کد های سهامداری</span>
        </h2>

        @if (Model.Any() && showEditButton)
        {

            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش  کد سهامداری", "Index", "TradingCode", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>

    <div class="details-container">
        @if (Model.Any())
        {
            <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center text-bold">نام بورس</th>
                        <th class="text-center text-bold">کد بورسی</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tradeCode in Model)
                    {
                        var first = tradeCode?.FirstPart;
                        var secound = tradeCode?.SecondPart;
                        var third = tradeCode?.ThirdPart;
                        var type = tradeCode?.Type.GetEnumDescription();
                        <tr>
                            <td class="text-center">@Html.DisplayFor(i => type)</td>
                            <td class="text-center">
                                @Html.DisplayFor(i => third, "BoolIcon")
                                @Html.DisplayFor(i => secound, "BoolIcon")
                                @Html.DisplayFor(i => first, "BoolIcon")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">

                @if (!Model.Any() && showEditButton)
                {
                    <div class="mt-1">
                        @Html.ActionLink("ثبت کد سهامداری", "Index", "TradingCode", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                    </div>
                }
            </div>
        }
    </div>
</section>
