﻿@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model string

<section class="detail-indicator mb-0 mt-0">
    <div class="form-wrapper mb-0 mt-0">
        <div class="details-container row">
        @if (!string.IsNullOrWhiteSpace(Model))
        {
            <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 text-center">
                <label for="trace-code">کد پیگیری شما</label>
                <div>
                    <input readonly
                           id="trace-code"
                           class="form-control is-ltr text-center"
                           value="@Model" />
                </div>
            </div>
        }
        else
        {
            <div class="text-center">هنوز کد پیگیری شما صادر نشده است!</div>
        }
        </div>
    </div>
</section>
