﻿
@using Cerberus.Domain.Enum
@model Cerberus.Web.ViewModel.BankingAccount.SejamiAccountViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/BankingAccount/BankingAccount.js?@ViewBag.Ver"></script>
}



<div class="form-wrapper">
    @if (Model.Status == "payment")
    {
        <div class="form-steps">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <label class="form-label">برای تغییر حساب بانکی، شما باید قبلا عملیات پرداخت را انجام دهید</label>
                    <form action="@Url.Action("EditAsync", "Payment")" method="post" id="form">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("type", PrimitivePackageType.EditBankingAccount)
                        <div class="col-md-4 col-md-offset-4">
                            <div class="btn-wrapper text-left">
                                <a href="@Url.Action("Index","Dashboard")" class="btn btn-main-outlined">بازگشت</a>
                                <button type="submit" class="btn btn-main" id="confirmBtn"><i class="fa fa-check" aria-hidden="true"></i> پرداخت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-steps">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <label class="alert alert-danger">شما نمی توانید اطلاعات بانکی خود را بروز رسانی کنید</label>
                    <div class="col-md-4 col-md-offset-4">
                        <div class="btn-wrapper text-left">
                            <a href="@Url.Action("Index","Dashboard")" class="btn btn-main-outlined">بازگشت</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>