﻿@model Cerberus.Web.ViewModel.BankingAccount.CreateBankingAccountViewModel
@using System.Security.Cryptography.X509Certificates
@using Cerberus.Domain.Enum
@using Cerberus.Web.Extensions
@using static Cerberus.Utility.Tools
@{
    ViewBag.HeaderIconClass = "fa fa fa-credit-card";
    ViewBag.Title = "اطلاعات حساب بانکی";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/BankingAccount/BankingAccount.js?@ViewBag.Ver"></script>
    var provinceSelectList = ViewBag.Provinces as IEnumerable<SelectListItem> ?? new List<SelectListItem>();

    var bankSelectList = ViewBag.Banks as IEnumerable<SelectListItem> ?? new List<SelectListItem>();

    var accountTypeSelectList = ToSelectList<Cerberus.Domain.Enum.BankingAccountType>();

    var defaultCity = ViewBag.City as List<SelectListItem> ?? new List<SelectListItem>();
    var account = Model.BankingAccounts.Any(x => x.IsConfirmed == null) ? "true" : "false";

}

@if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianPrivatePerson)
{
    @await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 10)
}
@if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
{
    @await Html.PartialAsync("~/Views/Shared/_LegalPersonstep.cshtml", 12)
}


<div class="form-wrapper">
    <form action="@Url.Action("CreateAfterSejamiAsync", "BankingAccount")" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id, new { id = "bnkid" })
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group dr-form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BankId)</label>
                    @Html.DropDownListFor(model => model.BankId, bankSelectList, "انتخاب بانک..", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.BranchName)</label>
                    @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.BranchCode)</label>
                    @Html.TextBoxFor(model => model.BranchCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group dr-form-group">
                    <span class="mrg5L color-red">*</span>
                    <label class="form-label">استان شعبه</label>
                    @Html.DropDownList("province-select", provinceSelectList, "استان محل شعبه", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group dr-form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BranchCityId)</label>
                    @Html.DropDownListFor(model => model.BranchCityId, defaultCity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchCityId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group dr-form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Type)</label>
                    @Html.DropDownListFor(model => model.Type, accountTypeSelectList, "نوع حساب خود را انتخاب کنید", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.AccountNumber)</label>
                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.Sheba)</label>
                    @if (Model.LockAccount)
                    {
                        @Html.TextBoxFor(model => model.Sheba, new { @class = "form-control font-eng is-ltr disabletext", @readonly = "readonly", id = "shebaNumber", placeholder = "IR000000000000000000000000", style = "direction:ltr" })
                        @Html.ValidationMessageFor(model => model.Sheba, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Sheba, new { @class = "form-control font-eng is-ltr", id = "shebaNumber", placeholder = "IR000000000000000000000000", style = "direction:ltr" })
                        @Html.ValidationMessageFor(model => model.Sheba, "", new { @class = "text-danger" })
                    }
                </div>
            </div>


            <div class="col-md-4 col-sm-12">
                <div class="form-group" style="margin-top:25px">

                    <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">حساب پیشفرض</button>

                        @Html.CheckBoxFor(model => model.IsDefault, new { @class = "hidden" })
                    </span>


                </div>
            </div>

        </div>

        <div class="btn-wrapper text-left">

            <button type="submit"
                    class="btn btn-main-outlined">
                <i class="fa fa-check" aria-hidden="true"></i> ذخیره
            </button>

        </div>
    </form>


    <div class="my-inline">
        @* table table-striped table-bordered table-hover table-responsive *@
        <div class="table-responsive">
            <table class="table table-striped table-bordered dt-responsive nowrap" id="dataTables-example" style="padding:0px">
                <thead>
                    <tr class="text-center">
                        <th class="text-center hidden-xs ">
                            @Html.DisplayNameFor(model => model.BankId)
                        </th>
                        <th class="text-center  hidden-xs">
                            @Html.DisplayNameFor(model => model.BranchName)
                        </th>
                        <th class="text-center hidden-xs">
                            @Html.DisplayNameFor(model => model.BranchCode)
                        </th>
                        <th class="text-center hidden-xs">
                            @Html.DisplayNameFor(model => model.BranchCityId)
                        </th>
                        <th class="text-center hidden-xs">
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th class="text-center hidden-xs">
                            @Html.DisplayNameFor(model => model.AccountNumber)
                        </th>
                        <th class="text-center hidden-xs">
                            @Html.DisplayNameFor(model => model.Owner)
                        </th>
                        <th class="text-center hidden-xs">
                            @Html.DisplayNameFor(model => model.Sheba)
                        </th>
                        <th class="text-center hidden-xs" style="padding:0px">
                            @Html.DisplayNameFor(model => model.IsDefault)
                        </th>
                        <th class="text-center" style="padding:0px">
                            وضعیت استعلام
                        </th>
                        <th style="width:16%" class="text-center hidden-xs">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BankingAccounts != null)
                    {
                        foreach (var item in Model.BankingAccounts)
                        {
                            <tr class="odd  text-center hidden-xs" id="row_@item.Id">
                                <td class="font8pt hidden-xs">
                                    @item.Bank?.Name
                                </td>
                                <td class="hidden-xs">
                                    @item.BranchName
                                </td>
                                <td class="hidden-xs">
                                    @item.BranchCode
                                </td>
                                <td class="hidden-xs">
                                    @item.BranchCity?.Name
                                </td>
                                <td class="hidden-xs">
                                    @if (item.Type != null)
                                    {
                                        @item.Type.GetEnumDescription()
                                    }
                                </td>
                                <td class="hidden-xs">
                                    @item.AccountNumber
                                </td>
                                <td class="hidden-xs">
                                    @(item.ProfileOwner?.Type == ProfileOwnerType.ForeignLegalPerson || item.ProfileOwner?.Type == ProfileOwnerType.IranianLegalPerson
                                          ? item.ProfileOwner.LegalPerson?.CompanyName :
                                          $"{item.ProfileOwner?.PrivatePerson?.FirstName} { item.ProfileOwner?.PrivatePerson?.LastName}")
                                </td>
                                <td class="hidden-xs">
                                    <span class="is-ltr font-eng font8pt ">@item.Sheba</span>
                                </td>
                                <td style="padding:0px" class="hidden-xs">
                                    @if (item.IsDefault)
                                    {
                                        <i class="fa fa-check text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-close text-danger"></i>
                                    }
                                </td>
                                <td style="padding: 0px">
                                    @switch (item.IsConfirmed)
                                    {
                                        case null:
                                            <span>بررسی نشده</span>
                                            break;
                                        case true:
                                            <span>تایید شده</span>
                                            break;
                                        case false:
                                            <span>عدم تایید</span>
                                            break;
                                    }

                                </td>
                                <td class="hidden-xs">

                                    <form id="form-bankingAccount-delete" class="inheritDisplay" style="display: inline-block; margin-bottom: 3px" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" value="@item.Id" />
                                        <a onclick="DeleteBankingAccount('@item.Id')"><i class="btn btn-danger btn-xs" aria-hidden="true">حذف</i></a>
                                    </form>

                                    <form style="display: inline-block" method="POST" class="inheritDisplay" action="@Url.Action("GetAfterSejamiAsync")">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" class="btn btn-primary btn-xs" value="ویرایش" aria-hidden="true" data-toggle="modal" data-target="#myModal" />
                                    </form>

                                    @if (!item.IsDefault)
                                    {
                                        <form style="display: inline-block" class="inheritDisplay" method="POST" action="@Url.Action("IsDefaultAsync")">
                                            <input type="submit" class="btn btn-main btn-xs" value="پیشفرض" aria-hidden="true" data-toggle="modal" data-target="#myModal" />
                                        </form>
                                    }
                                    else
                                    {
                                        <a class="inheritDisplay"><i class="btn btn-primary disabled btn-xs ">پیشفرض</i></a>
                                    }
                                </td>
                            </tr>
                            <tr class="visible-xs">
                                <td><span> بانک:</span><span class="is-ltr ">    @item.Bank?.Name</span></td>
                                <td>
                                    @if (item.IsDefault)
                                    {
                                        <i class="fa fa-check text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-close text-danger"></i>
                                    }
                                </td>
                            </tr>
                            <tr class="visible-xs">
                                <td colspan="2"><span> شبا:</span><span class="is-ltr font-eng">@item.Sheba</span></td>
                            </tr>
                            <tr class="visible-xs mrg10B">
                                <td colspan="2" class="text-center">


                                    <form id="form-bankingAccount-delete" style="display: inline-block; margin-bottom: 3px" method="POST">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" value="@item.Id" />

                                        <a onclick="DeleteBankingAccount('@item.Id')"><i class="btn btn-danger btn-xs" aria-hidden="true">حذف</i></a>
                                    </form>

                                    <form style="display: inline-block" method="POST" action="@Url.Action("GetAfterSejamiAsync")">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" class="btn btn-primary btn-xs" value="ویرایش" aria-hidden="true" data-toggle="modal" data-target="#myModal" />
                                    </form>


                                    @if (!item.IsDefault)
                                    {
                                        <form style="display: inline-block" method="POST" action="@Url.Action("IsDefaultAsync")">
                                            <input type="submit" class="btn btn-main btn-xs" value="پیشفرض" aria-hidden="true" data-toggle="modal" data-target="#myModal" />
                                        </form>
                                    }
                                    else
                                    {
                                        <a><i class="btn btn-primary disabled btn-xs ">پیشفرض</i></a>
                                    }
                                </td>
                            </tr>

                        }
                    }
                </tbody>

            </table>
        </div>
        @if (Model.BankingAccounts.Any())
        {
            <div class="btn-wrapper text-left">
                <a class="btn btn-main"
                   href="@Url.Action("Redirect")">
                    <i class="fa fa-check" aria-hidden="true"></i> تایید/ادامه گام بعدی
                </a>
            </div>
        }
        <div class="form-guide">
            <ul>
                <li>حساب بانکی اعلامی، الزاما باید مختص به شخص و غیر مشترک باشد ،تمامی مطالبات مشتری از کارگزار تنها از طریق واریز به حساب بانکی اعلامی انجام خواهد شد و معرفی حساب بانکی جایگزین، تنها از طریق همین سامانه مقدور خواهد بود.</li>
            </ul>
            <ul>
                <li>
                    برای نحوه وارد کردن اطلاعات حساب می توانید از<a href="" id="helpFile" style="color: red; text-decoration: underline;font-size: 14pt" data-toggle="modal" data-target="#bankModal"> راهنما </a> استفاده کنید.
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="modal fade" id="bankModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">راهنمای افزودن حساب بانکی</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="~/images/bankHelp.gif" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>

<script>

    $("#province-select").change(function () {
        var $select = $('#BranchCityId');
        if ($('#province-select').val() !== "") {
            $.ajax({
                url: '/api/cities/' + $("#province-select").val(),
                contentType: "application/json",
                success: function (results) {

                    if (results.length > 0)
                        $.each(results,
                            function () {

                                $select.find('option').remove();
                                $.each(results,
                                    function (key, value) {
                                        $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                    });

                            });

                },
            })
        } else {
            $select.find('option').remove();
        }
    })
    $(function () {
        $('.button-checkbox').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button
                        .removeClass('btn-default')
                        .addClass('btn-' + color + ' active');
                }
                else {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-default');
                }
            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });

        var urlString = window.location.href;
        var url = new URL(urlString);
        if ('@account' === "true" && url.pathname.indexOf("editBankingAccounts") >= 0) {
            setTimeout(function(){ swal({
                        title: "توجه",
                    text: "جهت استعلام و تکمیل ویرایش شماره حساب وارد شده، بعد از ثبت شماره حساب جدید بایستی روی دکمه  تایید/ادامه گام بعدی کلیک نمایید.",
                        type: 'info',
                        showConfirmButton: true,
                        confirmButtonText: 'متوجه شدم',
                    });
                }, 2000);
            }
    });
</script>