﻿@model Cerberus.Web.ViewModel.PrivatePerson.CreatePrivatePersonForeignViewModel

@using static Cerberus.Utility.Tools
@using static Cerberus.Utility.PersianDateExtension

@{
    ViewBag.Title = "اطلاعات هویتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-wrapper">
    <h3 tabindex="-1" class="title-form">
        <i>
            <i class="fa fa-male" aria-hidden="true"></i>
        </i>
        <span>اطلاعات هویتی</span>
    </h3>
    <form action="@Url.Action("CreateForeignAsync","BaseInfo")" method="post">

        @Html.AntiForgeryToken()

        <div class="form-steps">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.FirstName) </label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LastName) </label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BirthDate) </label>
                        @Html.TextBoxFor(model => model.BirthDate,
                            new
                            {
                                data_placement = "bottom",
                                data_format = "yyyy/MM/dd",
                                data_trigger = "focus",
                                @readonly = "readonly",
                                data_targetselector = "#BirthDate",
                                type = "text",
                                @class = "form-control text-center",
                                data_mddatetimepicker = "true"
                            })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> جنسیت:</label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.Gender, ToSelectList<Cerberus.Domain.Enum.Gender>(), "جنسیت را انتخاب کنید", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.FatherName)</label>
                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BornCountryId) </label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.BornCountryId, ViewBag.Countries as SelectList, "کشور محل تولد را انتخاب کنید", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.BornCountryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.EvidenceType) </label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.EvidenceType, ToSelectList<Cerberus.Domain.Enum.EvidenceType>(), "نوع مدرک را انتخاب کنید", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.EvidenceType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.EvidenceCountryId)</label>
                        @Html.DropDownListFor(model => model.EvidenceCountryId, ViewBag.Countries as SelectList, "کشور صادر کننده مدرک را انتخاب کنید", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EvidenceCountryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.EvidenceNumber)</label>
                        @Html.TextBoxFor(model => model.EvidenceNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EvidenceNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.EvidenceExpirationDate) </label>
                        @Html.TextBoxFor(model => model.EvidenceExpirationDate, new
                        {
                            data_placement = "bottom",
                            data_format = "yyyy/MM/dd",
                            data_trigger = "focus",
                            @readonly = "readonly",
                            data_targetselector = "#EvidenceExpirationDate",
                            type = "text",
                            @class = "form-control text-center",
                            data_mddatetimepicker = "true"
                        })
                        @Html.ValidationMessageFor(model => model.EvidenceExpirationDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.CitizenCountryId) </label>
                        @Html.DropDownListFor(model => model.CitizenCountryId, ViewBag.Countries as SelectList, "تابعیت خود را انتخاب کنید", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CitizenCountryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PassportNumber)</label>
                        @Html.TextBoxFor(model => model.PassportNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.SpecialNumber)</label>
                        @Html.TextBoxFor(model => model.SpecialNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SpecialNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LicenseNumber) </label>
                        @Html.TextBoxFor(model => model.LicenseNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LicenseNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LicenseIssueDate) </label>
                        @Html.TextBoxFor(model => model.LicenseIssueDate,
    new
    {
                            data_placement = "bottom",
                            data_format = "yyyy/MM/dd",
                            data_trigger = "focus",
                            @readonly = "readonly",
                            data_targetselector = "#LicenseIssueDate",
                            type = "text",
                            @class = "form-control text-center",
                            data_mddatetimepicker = "true"
                        })
                        @Html.ValidationMessageFor(model => model.LicenseIssueDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LicenseExpirationDate)</label>
                        @Html.TextBoxFor(model => model.LicenseExpirationDate,new
                        {
                            data_placement = "bottom",
                            data_format = "yyyy/MM/dd",
                            data_trigger = "focus",
                            @readonly = "readonly",
                            data_targetselector = "#LicenseExpirationDate",
                            type = "text",
                            @class = "form-control text-center",
                            data_mddatetimepicker = "true"
                        })
                        @Html.ValidationMessageFor(model => model.LicenseExpirationDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Description)</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i> ذخیره</button>
            </div>
        </div>
    </form>
</div>