﻿@model Cerberus.Web.ViewModel.LegalPerson.CreateLegalPersonViewModel

@using Cerberus.Utility
@using static Cerberus.Utility.Tools

@{
    ViewBag.HeaderIconClass = "fa fa fa-building";
    ViewBag.Title = "مشخصات شخصیت حقوقی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 4)

    <div class="form-wrapper">
        <form action="@Url.Action("CreateLegalAsync","BaseInfo")" method="post" id="form">

            @Html.AntiForgeryToken()

            <div class="form-steps">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier) </label>
                            @Html.TextBoxFor(model => model.UniqueIdentifier, new { @class = "form-control disabletext", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.CompanyName) </label>
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Type):</label>
                            <span class="form-select">
                                @Html.DropDownListFor(model => model.Type, ToSelectList<Cerberus.Domain.Enum.LegalPersonType>(), "نوع شخصیت حقوقی را انتخاب کنید", new { @class = "form-control" })
                            </span>
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.CitizenshipCountryId) </label>
                            <span class="form-select">
                                @Html.DropDownListFor(model => model.CitizenshipCountryId, ViewBag.Countries as SelectList, "تابعیت  را انتخاب کنید", new { @class = "form-control" })
                            </span>
                            @Html.ValidationMessageFor(model => model.CitizenshipCountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.EconomicCode)</label>
                            @Html.TextBoxFor(model => model.EconomicCode, new { @class = "form-control dir-ltr" })
                            @Html.ValidationMessageFor(model => model.EconomicCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.RegisterNumber) </label>
                            
                            @Html.TextBoxFor(model => model.RegisterNumber, new { @class = "form-control dir-ltr" })
                            @Html.ValidationMessageFor(model => model.RegisterNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.RegisterDate) </label>
                            <span class="clearText" id="cleardate">پاک کردن</span>
                            @Html.TextBoxFor(model => model.RegisterDate,
                                new
                                {
                                    data_placement = "bottom",
                                    data_format = "yyyy/MM/dd",
                                    data_trigger = "focus",
                                    @readonly = "readonly",
                                    data_targetselector = "#RegisterDate",
                                    type = "text",
                                    @class = "form-control text-center",
                                    data_mddatetimepicker = "true"
                                })
                            @Html.ValidationMessageFor(model => model.RegisterDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.RegisterPlace) </label>
                            @Html.TextBoxFor(model => model.RegisterPlace, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RegisterPlace, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper text-left">


                    <button type="submit"
                            class="btn btn-main">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span>تایید/ادامه مرحله بعد</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="form-guide">
            <ul>
                <li>برای ثبت شخصیت حقوقی،باید تمامی اعضای هیئت مدیره، دارندگان حق برداشت و اشخاص مجاز به ارائه سفارش،در سامانه ثبت نام کرده و کد پیگیری دریافت کرده باشند.</li>
                <li>استفاده از مندرجات اگهی تاسیس، در زمان ثبت اطلاعات هویتی الزامی می باشد .</li>
            </ul>
        </div>
    </div>
<script>
    $(function() {
        $("#cleardate").click(function() {
            $("#RegisterDate").val("");
        });
    });
</script>