﻿@model Cerberus.Web.ViewModel.PrivatePerson.PlaceOfIssueViewModel



@using (Html.BeginForm("UpdateIssueAsync", "BaseInfo", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(model => model.PlaceOfIssue):</label>
        @Html.TextBoxFor(model => model.PlaceOfIssue, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PlaceOfIssue, "", new { @class = "text-danger" })
    </div>

    <div style="margin-top: 25px">
        <button  class="btn btn-main" id="btnSubmit" ><i class="fa fa-check" aria-hidden="true"></i>  بروز رسانی</button>
        <span class="btn btn-main-outlined" id="btnCancel">لغو</span>
    </div>
}


<script>
    $(function() {
        $("#PlaceOfIssue").keypress(function (e) {
            //Enter key
            if (e.which === 13) {
                return false;
            }
        });
    })
</script>