﻿@model Cerberus.Web.ViewModel.Agent.CreateAgentViewModel
@using AutoMapper
@using Cerberus.Domain.Enum
@using Cerberus.Web.Enum
@using static Cerberus.Utility.Tools
@using static Cerberus.Utility.PersianDateExtension
@{
    ViewBag.Title = "اطلاعات نماینده";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var c = Model.UniqueIdentifier;
   }
   


<div class="modal fade" id="agentModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">راهنمای انتخاب چند فایل</h4>
            </div>
            <div class="modal-body">
                <img src="~/images/agentHelp.gif" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>





@await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 5)
<div class="form-wrapper">
    <h3 tabindex="-1" class="title-form">
        <i>
            <i class="fa fa-bookmark" aria-hidden="true"></i>
        </i>
        <span>سمت و شرایط نماینده</span>
    </h3>
</div>

    <div class="form-wrapper" id="frmNationalCode">

        <form id="checkNationalCodeFrm">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier)</label>
                        @Html.TextBoxFor(model => model.UniqueIdentifier, new { @Class = "form-control",maxlength=10 })
                        @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="btn-table text-left">
                        <button type="button"
                                id="btncheckuniqueidentifier"
                                class="btn btn-main">
                            <i class="fa  fa-search" aria-hidden="true"></i> بررسی
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="form-wrapper" id="frm-agent">
        <form action="@Url.Action("UpdateAsync")" method="post" enctype="multipart/form-data" id="form">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UniqueIdentifier" value="@Model?.UniqueIdentifier" id="uniqueId" />

            <div class="row">

                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.OtpCode)</label>
                        <span class="form-hint">(کد تایید پیامک شده)</span>
                        @Html.TextBoxFor(model => model.OtpCode, null, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OtpCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> نوع مدرک اثبات کننده سمت:</label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.Type, ToSelectList<Cerberus.Domain.Enum.AgentType>(), " انتخاب نوع مدرک ", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-xs-12 col-sm-3" id="expireation">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> تاریخ انقضاء نمایندگی:</label>
                        <span class="clearText" id="cleardate">پاک کردن</span>
                        @Html.TextBoxFor(model => model.ExpirationDate,
                            new
                            {
                                data_placement = "bottom",
                                data_format = "yyyy/MM/dd",
                                data_trigger = "focus",
                                @readonly = "readonly",
                                data_targetselector = "#ExpirationDate",
                                type = "text",
                                @class = "form-control text-center",
                                data_mddatetimepicker = "true"
                            })
                        @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <span>مدارک مورد نیاز:</span> <span id="descriptionAgent" style="color: red"></span>

            <div class="col-sm-12 ">
                <p class="text-justify lnheight-180 mrg30T">
                    حجم هر فایل باید کمتر از 2 مگابایت باشد. <br />
                    بارگذاری نوع مدرک: فقط فرمت jpeg ،jpg، png و Pdf قابل قبول است
                </p>
            </div>
            <div class="col-md-12">
                <div class="form-group">


                    <label class="form-label"><span class="mrg5L color-red">*</span> فایل ورودی : در صورت انتخاب چند فایل می توانید از <a href="" id="helpFile" style="color: red; text-decoration: underline;font-size: 14pt" data-toggle="modal" data-target="#agentModal">راهنما</a> استفاده کنید.</label>
                    <div class="row">

                        <span onclick="document.getElementById('file').click()"
                              class="btn btn-main">
                            <i class="fa fa-file" aria-hidden="true"></i> &nbsp; انتخاب فایل...
                        </span>
                        <input type="file" name="AgentFiles" id="file" class="hidden" accept=".pdf,.png,.jpg,.jpeg" multiple>
                        <span id="fileCount">هیچ فایلی انتخاب نشده است</span>
                    </div>

                </div>
            </div>
            <div>

            </div>
            
            <div class="btn-table text-left">
                <button type="submit"
                        class="btn btn-main-outlined" style="margin-top: 10px">
                    <i class="fa fa-edit" aria-hidden="true"></i> بروز رسانی
                </button>
                <span> <a href="@Url.Action("Index")" class="btn btn-main-outlined-yellow">لغو</a></span>
            </div>

        </form>
        

    </div>



<script>




    $("#cleardate").click(function() {
        $("#ExpirationDate").val("");
    });



    if ($("#Type").val() === "@((byte) AgentType.Province)") {
        $("#descriptionAgent")
            .text(
                "تصویر اصل شناسنامه فرزند و شناسنامه و کارت ملی ولی (پدر) .* در صورت دارا بودن توضیحات ،تصویر صفحه توضیحات نیز لازم می باشد.");
        $("#expireation").addClass("hidden");
       
    } else
        $("#expireation").removeClass("hidden");


    $("#Type").change(function() {

        if ($("#Type").val() === "@((byte) AgentType.Province)") {
          
            $("#descriptionAgent")
                .text(
                    "تصویر اصل شناسنامه و کارت ملی فرزند و شناسنامه و کارت ملی ولی (پدر) .* در صورت دارا بودن توضیحات ،تصویر صفحه توضیحات نیز لازم می باشد.");
          
            $("#ExpirationDate").val('')
            $("#expireation").addClass("hidden");
           
        } else if ($("#Type").val() === "@((byte) AgentType.Attorney)") {
            $("#descriptionAgent")
                .text(
                    "تصویر تمامی صفحات وکالت نامه،تصویر اصل صفحه اول شناسنامه و کارت ملی وکیل و موکل - تصویر گواهی استمرار اعتبار وکالتنامه از دفترخانه مربوطه");
            $("#expireation").removeClass("hidden");
        } else if ($("#Type").val() === "@((byte) AgentType.Conspiracy)") {
            $("#descriptionAgent")
                .text(
                    "اسکن صفحه اول شناسنامه و کارت ملی قیم-اسکن اصل شناسنامه و کارت ملی صغیر - اسکن اصل حکم قیومیت");
            $("#expireation").removeClass("hidden");
        }
        else if ($("#Type").val() === "@((byte) AgentType.Prescriptive)") {
            $("#descriptionAgent")
                .text(
                    "اسکن صفحه اول شناسنامه و کارت ملی وصی - اسکن صفحه اول شناسنامه و کارت ملی شخص");
            $("#expireation").removeClass("hidden");
        }
    })







    $("#btncheckuniqueidentifier").click(function () {

        $("#myModal").modal('show');
        var data =$("#checkNationalCodeFrm").serialize();
        $.ajax({
            type: "post",
            url:  '@Url.Action("CreateOtpAsync","Agent")',
            data:data,
            success: function (result) {
                $("#myModal").modal('hide');
                if (result.isSuccess) {
                    $("#uniqueId").val($("#UniqueIdentifier").val());
                    swalMessage(result.message, "success");
                } else
                    swalMessage(result.message, "warning");
            },
            error: function (result) {

                if (result.status.toString() !== "429") {
                    swalMessage(result.message, "warning");
                    $("#myModal").modal('hide');
                } else {
                    swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                    $("#myModal").modal('hide');
                }

            }
        });
    });


    var uploadField = document.getElementById("file");
    var types = ["application/pdf", "image/jpeg", "image/jpg", "image/png"];
    uploadField.onchange = function () {
        if (this.files.length==0) {
            $("#fileCount").html("هیچ فایلی انتخاب نشده است");
        }

        if (this.files.length > 8) {
            swalMessage("حداکثر فایل انتخابی 8 فایل می باشد،لطفا تعداد فایل انتخابی را کمتر کنید", "error");
            this.value = "";
        } else {
            for (i = 0; i < this.files.length; i++) {

                if (this.files[i].size > 2100000 || this.files[i].size < 8100) {
                    swalMessage("حجم هر فایل ارسالی باید بیشتر از 10 کیلوبایت و  کمتر از 2 مگابایت باشد،لطفا حجم فایل های خود را بررسی نمایید.", "error");
                    this.value = "";
                    return false;
                }
                else if (!types.includes(this.files[i].type)) {
                    swalMessage("فرمت فایل های ارسالی باید از نوع  jpeg ،jpg، png ، Pdf باشد، لطفا فرمت فایل های خود را بررسی نمایید", "error");
                    this.value = "";
                    return false;
                }
                else {
                var t = "تعداد  " + this.files.length + " فایل انتخاب شده است.";

                $("#fileCount").html(t);
                }
            };
        };
    };

  
</script>
