﻿@model Cerberus.Web.ViewModel.Agent.CreateAgentViewModel
@using Cerberus.Domain.Enum
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@using static Cerberus.Utility.Tools
@using static Cerberus.Utility.PersianDateExtension
@{
    ViewBag.Title = "اطلاعات نماینده";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<SelectListItem> listItems = new List<SelectListItem>
{
new SelectListItem
{
Text = "اصیل",
Value = "1",

},
new SelectListItem
{
Text = "نماینده قانونی",
Value = "2",

}
};

}


<div class="modal fade" id="agentModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">راهنمای انتخاب چند فایل</h4>
            </div>
            <div class="modal-body">
                <img src="~/images/agentHelp.gif" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>





@await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 5)
<div class="form-wrapper">
    <h3 tabindex="-1" class="title-form">
        <i>
            <i class="fa fa-bookmark" aria-hidden="true"></i>
        </i>
        <span>سمت و شرایط نماینده</span>
    </h3>
    <p class="lnheight-180 text-justify">
        اطلاعات وارده می تواند متعلق به شخص شما به عنوان اصیل باشد و یا اینکه ممکن است شما به عنوان ((نماینده قانونی)) فرد دیگری نسبت به ورود اطلاعات در این سامانه اقدام فرمایید.<br>
        ((نماینده قانونی))ممکن است به یکی از حالتهای زیر باشد :<br>
        ((وکیل)) که به نمایندگی از کسی که وکالت او را به عهده دارد (موکل) اقدام نماید.<br>
        ((ولی قهری)) که عبارت است از پدر یا پدر بزرگ فرزندان صغیر که هنوز به سن قانونی نرسیده اند .<br>

        ((وصی)) که بر اساس وصیت کسی که فوت نموده به انجام کاری برای ((فرد فوت شده)) (متوفی) مامور شده است .<br>
        ((قیم)) کسی که به موجب حکم مقام قضایی ذیصلاح سرپرستی فرد یا افرادی را بر عهده دارد که خودشان نمی توانند معامله کنند و از نظر قانونی محجور تلقی می شوند.<br>
        بنابراین شما بر اساس اینکه اطلاعات خودتان را وارد سامانه می کنید یا اینکه به عنوان نماینده قانونی می خواهید اطلاعات فرد دیگری را وارد نمایید باید گزینه مورد نظر خود را انتخاب نمایید.<br>
    </p>
</div>
@if (Model?.Id == null)
{
    <div class="form-wrapper">
        <div class="row">

            <div class="col-xs-6 col-sm-4">
                @Html.DropDownList("drp", new SelectList(listItems, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="col-xs-6 col-sm-4">

                <a href="@Url.Action("Redirect")"
                   class="btn btn-main" id="btnReturn">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>ادامه مرحله بعد</span>
                </a>
            </div>

        </div>
    </div>


    <div class="form-wrapper" id="frmNationalCode">

        <form id="checkNationalCodeFrm">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier)</label>
                        @Html.TextBoxFor(model => model.UniqueIdentifier, new { @Class = "form-control", maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="btn-table text-left">
                        <button type="button"
                                id="btncheckuniqueidentifier"
                                class="btn btn-main">
                            <i class="fa  fa-search" aria-hidden="true"></i> بررسی
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="form-wrapper" id="frm-agent">
        <form action="@Url.Action("CreateAsync")" method="post" enctype="multipart/form-data" id="form">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UniqueIdentifier" value="@Model?.UniqueIdentifier" id="uniqueId" />

            <div class="row">

                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.OtpCode)</label>
                        <span class="form-hint">(کد تایید پیامک شده)</span>
                        @Html.TextBoxFor(model => model.OtpCode, null, new { @Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OtpCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> نوع مدرک اثبات کننده سمت:</label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.Type, ToSelectList<Cerberus.Domain.Enum.AgentType>(), " انتخاب نوع مدرک ", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-xs-12 col-sm-3" id="expireation">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> تاریخ انقضاء نمایندگی:</label>
                        <span class="clearText" id="cleardate">پاک کردن</span>
                        @Html.TextBoxFor(model => model.ExpirationDate,
                            new
                            {
                                data_placement = "bottom",
                                data_format = "yyyy/MM/dd",
                                data_trigger = "focus",
                                @readonly = "readonly",
                                data_targetselector = "#ExpirationDate",
                                type = "text",
                                @class = "form-control text-center",
                                data_mddatetimepicker = "true"
                            })
                        @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <span>مدارک مورد نیاز:</span> <span id="descriptionAgent" style="color: red"></span>

            <div class="col-sm-12 ">
                <p class="text-justify lnheight-180 mrg30T">
                    حجم هر فایل باید کمتر از 2 مگابایت باشد. <br />
                    بارگذاری نوع مدرک: فقط فرمت jpeg ،jpg، png و Pdf قابل قبول است
                </p>
            </div>
            <div class="col-md-12">
                <div class="form-group">


                    <label class="form-label"><span class="mrg5L color-red">*</span> فایل ورودی : در صورت انتخاب چند فایل می توانید از <a href="" id="helpFile" style="color: red; text-decoration: underline;font-size: 14pt" data-toggle="modal" data-target="#agentModal">راهنما</a> استفاده کنید.</label>
                    <div class="row">

                        <span onclick="document.getElementById('file').click()"
                              class="btn btn-main">
                            <i class="fa fa-file" aria-hidden="true"></i> &nbsp; انتخاب فایل...
                        </span>
                        <input type="file" name="AgentFiles" id="file" class="hidden" accept=".pdf,.png,.jpg,.jpeg" multiple>
                        <span id="fileCount">هیچ فایلی انتخاب نشده است</span>
                    </div>




                </div>
            </div>
            <div>

            </div>

            <div class="btn-table text-left">
                <button type="submit"
                        class="btn btn-main-outlined">
                    <i class="fa fa-plus" aria-hidden="true"></i> افزودن
                </button>
            </div>

        </form>


    </div>
}
else
{
    <div class="form-wrapper">
        <div class="mb-2">
            <strong> مشخصات نماینده</strong>
        </div>
        <table class="table table-striped table-bordered table-hover " id="dataTables-example">
            <thead>
                <tr class="text-center">
                    <th class="text-center">
                        نام
                        و
                        نام خانوادگی
                    </th>

                    <th class="text-center hidden-xs ">
                        کد ملی
                    </th>
                    <th class="text-center">
                        نوع نمایندگی
                    </th>
                    <th class="text-center">
                        وضعیت نماینده
                    </th>
                    @if (Model.IsConfirmed == false)
                    {
                        <th class="text-center">
                            علت عدم تایید
                        </th>
                    }
                    <th style="width:16%" class="text-center">
                        عملیات
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd  text-center" id="row">

                    <td>
                        @Model?.FirstName
                        @Model?.LastName
                    </td>
                    <td class="hidden-xs">
                        @Model?.UniqueIdentifier
                    </td>
                    <td>@Model?.Type.GetEnumDescription()</td>
                    @switch (Model?.IsConfirmed)
                    {
                        case true:
                            <td>
                                تایید شده
                            </td>
                            break;
                        case null:
                            <td>
                                در انتظار تایید
                            </td>
                            break;
                        default:
                            <td>
                                تایید نشده
                            </td>
                            <td class="yellowWhite">
                                @Model.Description
                            </td>
                            break;
                    }

                    <td>
                        <a onclick="editAgent('@Context.Request.GetCurrentUserData().ProfileStatus')" class="btn btn-primary btn-xs" aria-hidden="true">ویرایش</a> &nbsp;
                        <form id="form-agent-delete" style="display:inline-block">
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@Model?.Id" />
                            <a onclick="deleteAgent('@Context.Request.GetCurrentUserData().ProfileStatus')"><i class="btn btn-danger btn-xs" aria-hidden="true">حذف</i></a>
                        </form>

                    </td>
                </tr>


            </tbody>
        </table>

        <div class="btn-wrapper">
            <div class="btn-wrapper text-left">
                <a href="@Url.Action("Redirect")"
                   class="btn btn-main">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>ادامه مرحله بعد</span>
                </a>
            </div>
        </div>

        <div class="form-guide">
            <ul></ul>
        </div>
    </div>

}


<script>




    $("#cleardate").click(function() {
        $("#ExpirationDate").val("");
    });



    if ($("#Type").val() === "@((byte) AgentType.Province)") {
        $("#descriptionAgent")
            .text(
                "تصویر اصل شناسنامه فرزند و شناسنامه و کارت ملی ولی (پدر) .* در صورت دارا بودن توضیحات ،تصویر صفحه توضیحات نیز لازم می باشد.");
        $("#expireation").addClass("hidden");

    } else
        $("#expireation").removeClass("hidden");


    $("#Type").change(function() {

        if ($("#Type").val() === "@((byte) AgentType.Province)") {
            $("#descriptionAgent")
                .text(
                    "تصویر اصل شناسنامه و کارت ملی فرزند و شناسنامه و کارت ملی ولی (پدر) .* در صورت دارا بودن توضیحات ،تصویر صفحه توضیحات نیز لازم می باشد.");
            $("#expireation").addClass("hidden");
            $("#ExpirationDate").val('')
        } else if ($("#Type").val() === "@((byte) AgentType.Attorney)") {
            $("#descriptionAgent")
                .text(
                    "تصویر تمامی صفحات وکالت نامه،تصویر اصل صفحه اول شناسنامه و کارت ملی وکیل و موکل - تصویر گواهی استمرار اعتبار وکالتنامه از دفترخانه مربوطه");
            $("#expireation").removeClass("hidden");
        } else if ($("#Type").val() === "@((byte) AgentType.Conspiracy)") {
            $("#descriptionAgent")
                .text(
                    "اسکن صفحه اول شناسنامه و کارت ملی قیم-اسکن اصل شناسنامه و کارت ملی صغیر - اسکن اصل حکم قیومیت");
            $("#expireation").removeClass("hidden");
        }
        else if ($("#Type").val() === "@((byte) AgentType.Prescriptive)") {
            $("#descriptionAgent")
                .text(
                    "اسکن صفحه اول شناسنامه و کارت ملی وصی - اسکن صفحه اول شناسنامه و کارت ملی شخص");
            $("#expireation").removeClass("hidden");
        }
    })




    $('input:radio[name=ProfileType]').click(function () {
        var $self = $(this);
        if ($self.is(':checked')) {
            if ($self.val() === '1') {
                $("#main").removeClass("hidden");
                $("#agent").addClass("hidden");
                $("#main").css('visibility', 'visible');
            }
            if ($self.val() === '2') {
                $("#main").addClass("hidden");
                $("#agent").removeClass("hidden");

            }
        }
    });


    $("#btncheckuniqueidentifier").click(function () {

        $("#myModal").modal('show');
        var data =$("#checkNationalCodeFrm").serialize();
        $.ajax({
            type: "post",
            url:  '@Url.Action("CreateOtpAsync","Agent")',
            data:data,
            success: function (result) {
                $("#myModal").modal('hide');
                if (result.isSuccess) {
                    $("#uniqueId").val($("#UniqueIdentifier").val());
                    swalMessage(result.message, "success");
                } else
                    swalMessage(result.message, "warning");
            },
            error: function (result) {

                if (result.status.toString() !== "429") {
                    swalMessage(result.message, "warning");
                    $("#myModal").modal('hide');
                } else {
                    swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
                    $("#myModal").modal('hide');
                }

            }
        });
    });


    var uploadField = document.getElementById("file");
    var types = ["application/pdf", "image/jpeg", "image/jpg", "image/png"];
    uploadField.onchange = function () {
        if (this.files.length==0) {
            $("#fileCount").html("هیچ فایلی انتخاب نشده است");
        }

        if (this.files.length > 8) {
            swalMessage("حداکثر فایل انتخابی 8 فایل می باشد،لطفا تعداد فایل انتخابی را کمتر کنید", "error");
            this.value = "";
        } else {
            for (i = 0; i < this.files.length; i++) {

                if (this.files[i].size > 2100000 || this.files[i].size < 8100) {
                    swalMessage("حجم هر فایل ارسالی باید بیشتر از 10 کیلوبایت و  کمتر از 2 مگابایت باشد،لطفا حجم فایل های خود را بررسی نمایید.", "error");
                    this.value = "";
                    return false;
                }
                else if (!types.includes(this.files[i].type)) {
                    swalMessage("فرمت فایل های ارسالی باید از نوع  jpeg ،jpg، png ، Pdf باشد، لطفا فرمت فایل های خود را بررسی نمایید", "error");
                    this.value = "";
                    return false;
                }
                else {
                var t = "تعداد  " + this.files.length + " فایل انتخاب شده است.";

                $("#fileCount").html(t);
                }
            };
        };
    };

    function editAgent(status) {
        swal({
                title: "توافق نامه",
            text: status === 'Sejami' ? "کاربر گرامی توجه داشته باشید که با ویرایش نماینده خود، نماینده قبلی حذف و در صورت تایید شرکت سپرده گذاری مرکزی نماینده جدید جایگزین می شود. بدیهی است پس از آن، نماینده جدید باید جهت احراز هویت به مراکز منتخب مراجعه نماید.\r\n آیا از ویرایش نماینده خود اطمینان دارید؟"

                    : "آیا از ویرایش نماینده خود اطمینان دارید؟",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'بله ',
                cancelButtonText: "خیر ",
                closeOnConfirm: true,
                closeOnCancel: true,


            },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.href = "@Url.Action("GetAsync")";
                }
                });
    }
    function deleteAgent(status) {

        swal({
                title: "توافق نامه",
                text: status === 'TraceCode' ? "این جانب درخواست حذف نماینده خود را دارم. بدیهی است پس از حذف نماینده به شخص اصیل تبدیل می شوم و برای احراز هویت می بایست شخصا به مرکز احراز هویت مراجعه و اقدامات لازم را انجام دهم. مسئولیت هرگونه فعالیت در بازار سرمایه بر عهده اینجانب خواهد بود. همچنین متعهد می شوم اجازه استفاده اشخاص دیگر از حساب کاربری خود را ندهم و در صورت اقدام، بلافاصله موضوع را از طریق همین سامانه و در صورت عدم دسترسی به سامانه، به صورت حضوری به مرجع مربوطه اطلاع دهم."
                : status === 'Sejami' ? "کاربر گرامی توجه داشته باشید که با حذف نماینده خود، شما به شخص اصیل تبدیل خواهید شد و امکان افزودن مجدد نماینده را نخواهید داشت. بدیهی است پس از آن، شخصا باید جهت احراز هویت به مراکز منتخب مراجعه نمایید. در غیر اینصورت اگر قصد ویرایش اطلاعات نماینده خود را دارید، از قسمت <<ویرایش>> وارد شوید."
                        : "از حذف نماینده خود اطمینان دارید؟",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'موافقم',
                cancelButtonText: "مخالفم",
                closeOnConfirm: true,
                closeOnCancel: true,


            },
            function (isConfirm) {
                if (isConfirm) {
        var rowId = "#row";
        $.ajax({
            type: "Post",
            url: "agents",
            data: $("#form-agent-delete").serialize(),
            dataType: "json",
            success: function (result) {
                if (result.isSuccess) {
                    $(rowId).fadeOut(2000,
                        function () {
                            location.reload();
                        });
                } else {
                    setTimeout(function () {
                        swal({
                            html: true,
                            title: result.message,
                            type: "error",
                            confirmButtonText: 'بستن'
                        });
                    }, 100);
                }
            },

                    });
                }
            });
    }

    $(function () {
        if ('@ViewBag.error'=="hasError") {
            $("#drp").val(2);
        }

           if ($("#drp").val() === "1") {
                    $("#frm-agent").hide();
                    $("#frmNationalCode").hide();
                    $("#btnReturn").show();
                    } else {
                    $("#frm-agent").show();
                    $("#frmNationalCode").show();
                    $("#btnReturn").hide();
                }



    })


    $("#drp").change(function() {

        if ($("#drp").val() == "1") {
            $("#frm-agent").hide();
            $("#frmNationalCode").hide();
            $("#btnReturn").show();

        } else {
            $("#frm-agent").show();
            $("#frmNationalCode").show();
            $("#btnReturn").hide();
        }
    });


</script>
