﻿@using Cerberus.Domain.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Web.ViewModel.Factor.PostalCodeViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = Context.Request.GetCurrentUserData().ProfileStatus;
    ViewData["Title"] = status < ProfileStatus.TraceCode ? "تکمیل ثبت نام" : "تکمیل اطلاعات";
}
<style>
    div p {
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="form-wrapper">
        <div class="text-center">
            @if (Model != null && Model.NotConfirm)
            {
                <p class="text-center">خواهشمند است جهت اصلاح کد پستی خود، در سامانه ثبت احوال کشور به نشانی <a href=' https://www.ncr.ir/changeAddress' target='blank' style='font-size: 12pt; font-weight: bold;color: red'>www.ncr.ir</a> مراجعه نمایید.</p>
            }
            @if (status <= ProfileStatus.PolicyAccepted)
            {
                <p class="text-center">ثبت نام شما با موفقیت تکمیل شد.</p>

                <p class="text-center"> لطفا از سامانه خارج شده و منتظر دریافت کد پیگیری بمانید؛ کد پیگیری در 24 ساعت آینده از طریق پیامک برای شما ارسال خواهد شد. </p>
            }
            else if (status < ProfileStatus.TraceCode)
            {
                <p class="text-center">ویرایش اطلاعات شما با موفقیت تکمیل شد</p>
                <p class="text-center"> لطفا از سامانه خارج شده و منتظر دریافت کد پیگیری بمانید؛ کد پیگیری در 24 ساعت آینده از طریق پیامک برای شما ارسال خواهد شد. </p>
            }
        </div>
        <div class="text-center">
            @Html.ActionLink("نمایش فاکتور", "Factor", new { }, new { @class = "btn btn-main" })

            @Html.ActionLink("خروج از سایت", "SignOut", "Session", new { }, new { @class = "btn btn-main-outlined" })
        </div>

    </div>
</div>