﻿@model Cerberus.Web.ViewModel.Factor.FactorViewModel
@{
    ViewData["Title"] = "سجام- فاکتور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/SamatCoLogo.png" />
            </div>
            <div class="col-md-4 ">
                <h1>صورت حساب ارائه خدمات سجام</h1>
            </div>
            <div class="col-md-4">
                <div class="detail-indicator">
                    <div class="details-container">
                        <dl>
                            <dt>شماره فاکتور</dt>

                            <dd>@Model.InvoiceNumber</dd>

                        </dl>
                        <dl>
                            <dt>شماره سریال واریز</dt>
                            <dd>@Model.SaleReferenceId</dd>
                        </dl>
                        <dl>
                            <dt>تاریخ</dt>
                            <dd>@Model.Date</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row pay">
            <div class="col-xs-12 col-sm-12">
                <div class="section-title">مشخصات فروشنده</div>
            </div>
        </div>

        <div class="person-info-container">
            <div class="detail-indicator">
                <div class="details-container">
                    <dl class="col-md-12 has-larger-detail">
                        <dt>نام</dt>
                        <dd>شرکت سپرده گذاری مرکزی اوراق بهادار و تسویه وجوه(سهامی عام)</dd>
                    </dl>
                    <dl class="col-md-12 has-larger-detail">
                        <dt>نشانی کامل</dt>
                        <dd>استان:تهران-شهرستان:تهران</dd>
                    </dl>
                    <dl class="col-md-12 has-larger-detail">
                        <dt>نشانی</dt>
                        <dd>بلوار کشاورز-خیابان شهید نادری-تقاطع خیابان ایتالیا -پلاک 13</dd>
                    </dl>
                    <dl class="col-md-3">
                        <dt>فعال اقتصادی</dt>
                        <dd>1741-1144-4111</dd>
                    </dl>
                    <dl class="col-md-2">
                        <dt>کدپستی</dt>
                        <dd>1416643168</dd>
                    </dl>
                    <dl class="col-md-2">
                        <dt>شماره ثبت</dt>
                        <dd>262549</dd>
                    </dl>
                    <dl class="col-md-2">
                        <dt>شماره تلفن</dt>
                        <dd>1569</dd>
                    </dl>  
                    <dl class="col-md-3">
                        <dt>نمابر</dt>
                        <dd>021-42365186</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="row pay">
            <div class="col-xs-12 col-sm-12">
                <div class="section-title">مشخصات خریدار</div>
            </div>
        </div>

        <div class="person-info-container">
            <div class="detail-indicator">
                <div class="details-container">
                    <dl class="col-md-4">
                        <dt>نام شخص حقیقی/حقوقی</dt>
                        <dd>@Model.Name @Model.LastName</dd>
                    </dl>
                    <dl class="col-md-4">
                        <dt>استان</dt>
                        <dd>@Model.Province</dd>
                    </dl>
                    <dl class="col-md-4">
                        <dt>شهرستان</dt>
                        <dd>@Model.City</dd>
                    </dl>
                    <dl class="col-md-1">
                        <dt>نشانی:</dt>
                    </dl>
                    <dl class="col-md-4">
                        <dt>خیابان</dt>
                        <dd>@Model.Address</dd>
                    </dl>
                    <dl class="col-md-3">
                        <dt>کوچه</dt>
                        <dd>@Model.Alley</dd>
                    </dl>
                    <dl class="col-md-3">
                        <dt>پلاک</dt>
                        <dd>@Model.Plaque</dd>
                    </dl>
                    <dl class="col-md-4">
                        <dt>کد/شناسنامه ملی </dt>
                        <dd>@Model.UniqueIdentifier</dd>
                    </dl>
                    <dl class="col-md-4">
                        <dt>کدپستی</dt>
                        <dd>@Model.PostalCode</dd>
                    </dl>
                    <dl class="col-md-4">
                        <dt>شماره تلفن</dt>
                        <dd>@Model.Mobile</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="row pay">
            <div class="col-xs-12 col-sm-12">
                <div class="section-title">مشخصات خدمات مورد معامله</div>
            </div>
        </div>

        <div class="attribute attcont">
            <div class="table-responsive">
                <table class="mt-1 table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">شرح خدمت</th>
                            <th scope="col">تعداد</th>
                            <th scope="col"> مبلغ واحد (ریال)</th>
                            <th scope="col">مبلغ کل (ریال)</th>
                            <th scope="col">مبلغ تخفیف</th>
                            <th scope="col">مبلغ کل پس از تخفیف(ریال)</th>
                            <th scope="col"> جمع مالیات و عوارض(ریال)</th>
                            <th scope="col"> جمع مبلغ کل بعلاوه جمع مالیات و عوارض(ریال)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (Model.ProfilePackage?.Type != null)
                            {
                                <th scope="row">کارمزد اصلاح اطلاعات مشتریان در سامانه سجام</th>
                            }

                            else
                            {
                                <th scope="row">کارمزد ارائه خدمت ثبت مشتریان در سامانه سجام</th>
                            }
                            <td class="text-center">1</td>
                            <td class="text-center"><label id="Amount">@Model.Amount</label></td>
                            <td class="text-center"><label id="TotalAmount">@Model.Amount</label></td>
                            <td class="text-center"><label id="Discount">0</label></td>
                            <td class="text-center"><label id="TotalAmountDiscount">@Model.Amount</label></td>
                            <td class="text-center"><label id="Taxsum">0</label></td>
                            <td class="text-center"><label id="TaxsumAmount">@Model.Amount</label></td>
                        </tr>
                        <tr>
                            <th scope="row">جمع کل</th>
                            <td class="text-center">1</td>
                            <td class="text-center"><label id="SumAmount">@Model.Amount</label></td>
                            <td class="text-center"><label id="SumTotalAmount">@Model.Amount</label></td>
                            <td class="text-center"><label id="SumDiscount">0</label></td>
                            <td class="text-center"><label id="SumTotalAmountDiscount">@Model.Amount</label></td>
                            <td class="text-center"><label id="SumTaxsum">0</label></td>
                            <td class="text-center"><label id="SumTaxsumAmount">@Model.Amount</label></td>

                        </tr>
                        @if (Model.Discount > 0)
                        {
                            <tr id="Description">
                                <td>توضیحات</td>
                                <td colspan="7">
                                    <label>شما از طریق باشگاه مشتریان <span id="bankName">@Model.ThirdPartyTitle</span> مبلغ <span id="AmountDiscount">@Model.Discount</span> ریال تخفیف گرفته اید.</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="noPrint"
     class="container">
    <div class="row">
        <div class="col-md-1">
            <input id="btnFactor" type="button" value="چاپ فاکتور" class="btn btn-main" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("خروج از سایت", "SignOut", "Session", new { }, new { @class = "btn btn-main-outlined" })
        </div>
    </div>
</div>

<script>

    $("#btnFactor").click(function () {


        var type = '@(Model.ProfilePackage?.Type)';
        var title;
        if (type === "") {
            title = "کارمزد ارائه خدمت ثبت مشتریان در سامانه سجام";
        } else {
            title = "کارمزد اصلاح اطلاعات مشتریان در سامانه سجام";
        }

      $("#noPrint").addClass("hidden");
        var mywindow = window.open('', 'PRINT', 'height=400,width=500');
        mywindow.document.write('<html><head><title></title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write('<table  style="font-family:tahoma;font-size: 8pt;font-weight: bold; text-align: center;margin: 0px auto;width:100%" dir="rtl"><tr><td style="margin-bottom: 60px;text-align:center;width:1px" ><img src="../images/SamatCoLogo.png"/></td>' +
            '<td><p>صورت حساب ارائه خدمات سجام </p></td>' +
            '<td><p style="text-align:justify;font-size:6pt;font-weight: normal">شماره فاکتور: ' + '@Model.InvoiceNumber' + ' <br/>شماره سریال واریز: ' + '@Model.SaleReferenceId' + '<br />تاریخ:' + '@Model.Date' + '</p></td></tr></table>' +
            '<table style="font-family:tahoma;border:1px solid; font-size: 6pt; text-align: center;margin: 0 auto" dir="rtl">' +
            ' <tr><td style="border-bottom: 1px solid black;background-color: silver;font-weight: bold;" colspan="8">مشخصات فروشنده</td></tr>' +
            '<tr style="border: 1px solid black">' +
            '<td style="text-align: justify;" colspan="4"><p>شرکت سپرده گذاری مرکزی اوراق بهادار و تسویه وجوه(سهامی عام)</p><p>نشانی کامل:استان:تهران-شهرستان:تهران</p><p>نشانی:بلوار کشاورز-خیابان شهید نادری-تقاطع خیابان ایتالیا -پلاک 13</p></td>' +
            '<td style="text-align: justify;" colspan="3"><p>شماره اقتصادی :1741-1144-4111</p><p>کدپستی:1416643168</p></td>' +
            '<td style="text-align: right;" colspan="2"> <p>شماره ثبت:262549</p><p>شماره تلفن:1569</p><p>نمابر:42365186-021</p></td>' +
            '</tr>' +
            '<tr style="border: 1px solid black"><td style="border-bottom: 1px solid black;border-top: 1px solid;background-color: silver;font-weight: bold;" colspan="8">مشخصات خریدار </td></tr>' +
            '<tr>' +
            '<td style="text-align: justify;" colspan="6"> <p>نام شخص حقیقی/حقوقی:' + '@Model.Name @Model.LastName' + '</p><p>نشانی کامل:  &nbsp&nbsp&nbsp استان:' +

            '@Model.Province' + ' &nbsp شهرستان:' + '@Model.City' + '</p><p>خیابان:' + '@Model.Address' + ' &nbsp کوچه:' + '@Model.Alley' + ' &nbsp پلاک:' + '@Model.Plaque' + '</p></td>' +

            '<td style="text-align: justify;" colspan="2"><p>کد/شناسنامه ملی :' + '@Model.UniqueIdentifier' + '</p><p>کدپستی:' + '@Model.PostalCode' + '</p><p>شماره تلفن: <label style="direction:rtl">' + '@Model.Mobile' + '</label></p></td>' +
            '</tr>' +
            '<tr style="border: 1px solid black"><td style="border-bottom: 1px solid black;border-top: 1px solid;font-weight: bold;background-color: silver" colspan="8">مشخصات خدمات مورد معامله</td></tr>' +
            '<tr>' +
            '<td style="border-left: 1px solid black;background-color: silver;">شرح خدمت</td>' +
            '<td style="border-left: 1px solid black;">تعداد</td>' +
            '<td style="border-left: 1px solid black;"> مبلغ واحد (ریال)</td>' +
            '<td style="border-left: 1px solid black;">مبلغ کل (ریال)</td>' +
            '<td style="border-left: 1px solid black;">مبلغ تخفیف</td>' +
            '<td style="border-left: 1px solid black;">مبلغ کل پس از تخفیف(ریال)</td>' +
            '<td style="border-left: 1px solid black;"> جمع مالیات و عوارض(ریال)</td>' +
            '<td> جمع مبلغ کل بعلاوه جمع مالیات و عوارض(ریال)</td>' +
            '</tr>' +
            '<tr>' +


            '<td style="border-top: 1px solid black;border-left: 1px solid;">' +title+'</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">1</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid">' + '@Model.Amount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Amount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Discount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Amount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + 0 + '</td>' +
            '<td style="border-top: 1px solid black;">' + @Model.Amount + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">جمع کل</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">1</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Amount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Amount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Discount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + '@Model.Amount' + '</td>' +
            '<td style="border-top: 1px solid black;border-left: 1px solid;">' + 0 + '</td>' +
            '<td style="border-top: 1px solid black;">' + '@Model.Amount' + '</td>' +
            '</tr><tr style="display:' + '@(Model.Discount==0?"none": "table-row")' + '"><td style="border-top: 1px solid black;border-left: 1px solid;">توضیحات</td><td colspan="7" style="border-top: 1px solid black;border-left: 1px solid;"><label>شما از طریق باشگاه مشتریان <span>' + '@Model.ThirdPartyTitle' + '</span> مبلغ<span> ' + '@Model.Discount' + '</span> ریال تخفیف گرفته اید.</label></td></tr></table><p style="font-family:tahoma;font-size: 8pt;font-weight: bold; text-align: right;margin:30px;display:inline-block;float:right">مهر و امضاء فروشنده</p><p style="font-family:tahoma;font-size: 8pt;font-weight: bold; text-align: left;margin:30px;display:inline-block">مهر و امضاء خریدار</p>');

        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        $("#noPrint").removeClass("hidden");
    });
</script>
