﻿@using Cerberus.Domain.Enum
@using Cerberus.Domain.Model
@using Cerberus.Utility

@{
    ViewData["Title"] = "فاکتور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger text-center"><span>خطا در صدور فاکتور، لطفا چند لحظه دیگر تلاش نمایید</span></div>

                <div class="btn-wrapper text-left">
                    <a href="@Url.Action("SignOut","Session")"
                       class="btn btn-main">
                        <i class="fa fa-check" aria-hidden="true"></i>خروج
                    </a>
                </div>
            </div>
        </div>
    </div>