﻿@model Cerberus.Web.ViewModel.TradingCode.CreateTradingCodeViewModel
@using Cerberus.Domain.Enum
@using Cerberus.Web.Extensions
@using static Cerberus.Utility.Tools

@{
    ViewBag.HeaderIconClass = "fa fa fa-line-chart";
    ViewBag.Title = "کدهای سهامداری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianPrivatePerson)
{
    @await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 7)
}
@if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
{
    @await Html.PartialAsync("~/Views/Shared/_LegalPersonStep.cshtml", 6)
}


    <div class="form-wrapper">
        <div class="mb-2">
            <strong>افزودن کد جدید</strong>
        </div>

        <form action="@Url.Action("CreateAsync", "TradingCode")" method="post" >
            @Html.AntiForgeryToken()

            <div class="form-steps">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label">@Html.DisplayNameFor(model => model.Type):</label>
                            <span class="form-select">
                                @Html.DropDownListFor(model => model.Type, ToSelectList<Cerberus.Domain.Enum.TradingType>().Take(3), "نوع بورس را انتخاب کنید", new {@class = "form-control"})
                            </span>
                            @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label class="form-label" id="labelTradeCode">کد سهامداری:</label>
                            <div class="row mrg0L mrg0R">
                                <div class="col-md-3 pad5L pad0R">
                                    @Html.TextBoxFor(model => model.ThirdPart, null, new {@Class = "form-control", autocomplete = "off", maxlength = "3"})
                                    @Html.ValidationMessageFor(model => model.ThirdPart, "", new {@class = "text-danger"})
                                </div>
                                <div class="col-md-6 pad5L pad0R">
                                    @Html.TextBoxFor(model => model.SecondPart, null, new {@Class = "form-control", autocomplete = "off", maxlength = "6"})

                                    @Html.ValidationMessageFor(model => model.SecondPart, "", new {@class = "text-danger"})
                                </div>
                                <div class="col-md-3 pad0L pad0R">

                                   <span class="form-select">
                                        @Html.DropDownListFor(model => model.FirstPart, new List<SelectListItem>
                                        {
                                            new SelectListItem() {Text = "م", Value = "م"},
                                            new SelectListItem() {Text = "د", Value = "د"},
                                            new SelectListItem() {Text = "ص", Value = "ص"},
                                            new SelectListItem() {Text = "خ", Value = "خ"},
                                            new SelectListItem() {Text = "ت", Value = "ت"},
                                            new SelectListItem() {Text = "ک", Value = "ک"}

                                        }, "-",
                                            new {@class = "form-control"})
                                    </span>
                                    @Html.ValidationMessageFor(model => model.FirstPart, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-table text-left">
                            <button type="submit"
                                    class="btn btn-main-outlined"
                                    id="addTradeCodeBtn">
                                <i class="fa fa-plus" aria-hidden="true"></i> افزودن
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form-wrapper">
        <div class="mb-2">
            <strong>لیست کدها</strong>
        </div>

        <table class="table table-striped table-bordered table-hover table-responsive" id="tradingCode-table">
            <thead>
            <tr class="text-center">
                <th style="width: 42%" class="text-center">
                    نام بورس
                </th>
                <th style="width: 42%" class="text-center">
                    کد سهامداری
                </th>
                <th style="width: 16%" class="text-center">

                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TradingCodes)
            {
                <tr class="odd  text-center"
                    id="row_@item.Id">
                    <td>
                        @item.TypeName
                    </td>

                    <td>@item.ThirdPart @item.SecondPart @item.FirstPart</td>

                    <td class="text-left">
                        <form id="form-tradingCode-delete" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="name" value="@item.Id"/>
                           <a onclick="deleteTradeCode('@item.Id')">
                                <i class="btn btn-danger btn-sm"
                                   aria-hidden="true">حذف</i>
                            </a>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <div class="btn-wrapper text-left">
            <a href="@Url.Action("Redirect", "TradingCode")"
               class="btn btn-main">
                <i class="fa fa-check" aria-hidden="true"></i> تایید/ادامه گام بعدی
            </a>
        </div>

    </div>


<script src="~/js/TradeCode/TradeCode.js?@ViewBag.Ver"></script>
<style>
    .ui-keyboard-enter {
        height: 4em;
        position: absolute;
        top: 2em;
        right: 2px;
    }
</style>
